<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_feedbackMapper" >
  <resultMap id="retMap" type="com.baibao.web.p2p.generator.bean.P2p_feedback" >
    <result column="pf_custNo" jdbcType="VARCHAR" property= "pf_custNo"/>
    <result column="pf_phone" jdbcType="VARCHAR" property= "pf_phone"/>
    <result column="pf_content" jdbcType="VARCHAR" property= "pf_content"/>
    <result column="pf_time" jdbcType="TIMESTAMP" property="pf_time" />
  </resultMap>
  
  <sql id="feedback" >
      id,
	  pf_custNo,
	  pf_phone,
	  pf_content,
	  pf_time
  </sql>
  
  <select id="getAll" resultMap="retMap">
       SELECT
           <include refid="feedback"/>
       FROM p2p_feedback;
  </select>
 <insert id="save" parameterType="com.baibao.web.p2p.generator.bean.P2p_feedback">
  insert into p2p_feedback 
  	(
  		pf_custNo, pf_phone, pf_content, pf_time
  	)
  values
  	( 
  		#{pf_custNo},#{pf_phone},#{pf_content},#{pf_time}
  	)
 
 </insert>
</mapper>
