<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_bill_planMapper">
	<resultMap id="billPlanResult" type="com.baibao.web.p2p.generator.bean.P2p_bill_plan">
        <id column="pbp_id" property="pbpId" jdbcType="BIGINT" />
        
        <result column="pbp_productNo" property="pbpProductNo" jdbcType="VARCHAR" />
        <result column="pbp_seq" property="pbpSeq" jdbcType="INTEGER" />
        <result column="pbp_datetime" property="pbpDatetime" jdbcType="TIMESTAMP" />
        
        <result column="pbp_overDueDays" property="pbpOverDueDays" jdbcType="INTEGER" />
        
        <result column="prb_repaymentCapital" property="pbpRepaymentCapital" jdbcType="DECIMAL" />
        <result column="prb_repaymentInterest" property="pbpRepaymentInterest" jdbcType="DECIMAL" />
        
        <result column="pbp_repaymentTime" property="pbpRepaymentTime" jdbcType="TIMESTAMP" />
        <result column="pbp_repaymentStatus" property="pbpRepaymentStatus" jdbcType="INTEGER" />

		<result column="pbp_profitCapital" property="pbpProfitCapital" jdbcType="DECIMAL" />
        <result column="pbp_profitInterest" property="pbpProfitInterest" jdbcType="DECIMAL" />

        <result column="pbp_profitTime" property="pbpProfitTime" jdbcType="TIMESTAMP" />
        <result column="pbp_profitStatus" property="pbpProfitStatus" jdbcType="INTEGER" />
    </resultMap>

    <sql id="selectList" >
        pbp_id,
	    pbp_productNo,
	    pbp_seq,
	    pbp_datetime,
	    pbp_overDueDays,
	    prb_repaymentCapital,
	    prb_repaymentInterest,
	    pbp_repaymentTime,
	    pbp_repaymentStatus,
	    pbp_profitTime,
	    pbp_profitStatus
    </sql>

  <update id="updateRepaymentStatus">
      UPDATE p2p_bill_plan SET
          pbp_repaymentStatus = #{2},
          pbp_repaymentTime = #{3},
          pbp_overDueDays = #{4}
      WHERE
          pbp_productNo = #{0} AND pbp_seq = #{1}
  </update>
  
  <select id="countBillPlan" parameterType="java.util.Map" resultType="int">
    SELECT COUNT(plan.pbp_id)
    FROM p2p_bill_plan plan
    WHERE
       plan.pbp_productNo = #{productNo}
       <if test="repaymentStatus != null" >
       AND plan.pbp_repaymentStatus = #{repaymentStatus}
       </if>
       <if test="profitStatus != null" >
       AND plan.pbp_profitStatus = #{profitStatus}
       </if>
  </select>
  
  <select id="findBillPlanByProduct" parameterType="java.util.Map" resultMap="billPlanResult">
    SELECT 
		pbp_id,
        pbp_productNo,
        pbp_seq,
        pbp_datetime,
        pbp_overDueDays,
        prb_repaymentCapital,
        prb_repaymentInterest,
        pbp_repaymentTime,
        pbp_repaymentStatus,
        pbp_profitCapital,
        pbp_profitInterest,
        pbp_profitTime,
        pbp_profitStatus
    FROM p2p_bill_plan plan
    WHERE
       plan.pbp_productNo = #{productNo}
       <if test="repaymentStatus != null" >
       AND plan.pbp_repaymentStatus = #{repaymentStatus}
       </if>
       <if test="profitStatus != null" >
       AND plan.pbp_profitStatus = #{profitStatus}
       </if>
    ORDER BY pbp_seq,pbp_datetime
  </select>
</mapper>
