<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_sysMsgMapper" >
 <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.p2p_sysMsg" >
    <id column="sysMsgID" property="sysMsgID" jdbcType="VARCHAR" />
    <result column="sysMsgContent" property="sysMsgContent" jdbcType="VARCHAR" />
    <result column="sysMsgPubTime" property="sysMsgPubTime" jdbcType="TIMESTAMP"/>
    <result column="sysMsgType" property="sysMsgType" jdbcType="VARCHAR"/>
    <result column="custNo" property="custNo" jdbcType="VARCHAR"/>
    <result column="isRead" property="isRead" jdbcType="VARCHAR"/>
  </resultMap>
  
  <sql id="Base_Column_List">
  	sysMsgID,sysMsgContent,sysMsgPubTime,sysMsgType,custNo,isRead
  </sql>
  
 <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
		select sysMsgID,sysMsgContent,sysMsgPubTime,isRead from p2p_sysmsg
		where 1=1 and custNo =#{custNo} ORDER BY isRead,sysMsgPubTime DESC limit #{beginWith},#{count}
	</select>
	<select id="findListCount" parameterType="java.util.Map" resultType="int">
		select count(1) from p2p_sysmsg where custNo =#{custNo} 
	</select>
	
	<!-- 增加站内信 -->
	<insert id="addInnerSiteMsg" parameterType="map">
		INSERT INTO p2p_sysmsg (sysMsgID,custNo,sysMsgType,sysMsgPubTime,sysMsgContent) 
				VALUES (#{sysMsgID},#{custNo},#{sysMsgType},#{sysMsgPubTime},#{sysMsgContent})
	</insert>
	<select id="getMsgByType" parameterType="map" resultMap="BaseResultMap">
	select <include refid="Base_Column_List"/> from p2p_sysmsg where sysMsgType = #{type} and custNo = #{custNo} order by sysMsgPubTime DESC
	</select>
	
	<select id="countNoReadMsg" parameterType="map" resultType="int">
		select count(1) from p2p_sysmsg where sysMsgType = #{type} and custNo = #{custNo} and isRead = '0'
	</select>
	
	<select id="getMsgByTypeForDetail" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM p2p_sysmsg WHERE sysMsgType = #{type} and custNo = #{custNo} ORDER BY isRead,sysMsgPubTime DESC limit #{beginWith},#{count}
	</select>
	<select id="getMsgByTypeForDetailCount" parameterType="map" resultType="int">
	SELECT count(1) FROM p2p_sysmsg WHERE sysMsgType = #{type} and custNo = #{custNo} 
	</select>
	<update id="setMsgReaded" parameterType="String">
		update p2p_sysmsg set isRead = '1' where sysMsgID = #{sysMsgID}
	</update>
	<delete id="deleteMsg" parameterType="string">
		delete from p2p_sysmsg where sysMsgID = #{id}
	</delete>
	
	<select id="selectById" parameterType="string" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from p2p_sysmsg where sysMsgID = #{msgId}
	</select>
</mapper>
