<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_activity_elementsMapper">
	<sql id="Base_Column_List" >
	    pae_activeId,pae_activeType,pae_starTime,pae_endTime,pae_isEnable,pae_desc,pae_activeName,pae_activeChannel,pae_goodsType,pae_effectTime,pae_showPic,pae_deatilPic,pae_linkAddress
  	</sql>
	<select id="getActiveById" parameterType="Long" resultType="com.baibao.web.p2p.generator.bean.P2p_activity_elements">
		SELECT <include refid="Base_Column_List"/>
		FROM p2p_activity_elements WHERE pae_activeId = #{pae_activeId} LIMIT 0,1
	</select>
	
	<select id="getUserByInvitatId" parameterType="map" resultType="string">
		select pu_custNo from p2p_users where pu_inviteCode = #{invitatId} or pu_mobile = #{invitatId} limit 0,1
	</select>
	<!-- 插入好友注册赠送表 -->
	<insert id="addFriendsRegistInvitation" parameterType="map">
			insert into p2p_user_warehouse_friendReg (puwa_whNo,puwa_friendCustNo) 
			values (#{puwa_whNo},#{puwa_friendCustNo})
	</insert>
	
	<select id="getActiveByType" parameterType="String" resultType="com.baibao.web.p2p.generator.bean.P2p_activity_elements">
		select <include refid="Base_Column_List"/> from p2p_activity_elements WHERE pae_activeType = #{type} limit 0,1
	</select>
	<!--活动展示列表  -->
	<select id="showActiveList" parameterType="Integer" resultType="map">
		select pae_activeId,pae_starTime,pae_endTime,pae_isEnable,pae_activeName,pae_desc,pae_showPic,pae_deatilPic,pae_linkAddress from p2p_activity_elements where pae_activeId != 5 ORDER BY pae_starTime desc 
		<if test="count!=null and count!=''">
		limit #{count}
		</if>
	</select>
	<!-- 根据客户号获取用户(未发放)奖励金额 -->
	<select id="getSumReward" parameterType="String" resultType="BigDecimal" >
		SELECT  sum(su.puw_parvalue) from 
		(SELECT sum(puw_parvalue) puw_parvalue from p2p_user_warehouse where puw_custNo =  #{custNo} and (puw_state = '1' or puw_state = '4')
		UNION  ALL
		SELECT sum(pur_money) pur_money from p2p_users_redenvelope where pur_custNo =  #{custNo} and (pur_status = '1' or pur_status = '4')) su
	</select>
</mapper>