<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_loan_productMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_loan_product" >
    <id column="pp_productId" property="ppProductid" jdbcType="BIGINT" />
    <result column="pp_productNo" property="ppProductno" jdbcType="VARCHAR" />
    <result column="pp_custNo" property="ppCustno" jdbcType="VARCHAR" />
    <result column="pp_loanTitle" property="ppLoantitle" jdbcType="VARCHAR" />
    <result column="pp_loanTerm" property="ppLoanterm" jdbcType="INTEGER" />
    <result column="pp_loanAmount" property="ppLoanamount" jdbcType="DECIMAL" />
    <result column="pp_loanAmountExist" property="ppLoanamountexist" jdbcType="DECIMAL" />
    <result column="pp_comprehensiveRate" property="ppComprehensiverate" jdbcType="DECIMAL" />
    <result column="pp_loanRepayment" property="ppLoanrepayment" jdbcType="INTEGER" />
    <result column="pp_repaymentAmount" property="ppRepaymentamount" jdbcType="DECIMAL" />
    <result column="pp_productTypeId" property="ppProducttypeid" jdbcType="VARCHAR" />
    <result column="pp_loan_applyId" property="ppLoanApplyid" jdbcType="VARCHAR" />
    <result column="pp_bulkLoanStatus" property="ppBulkloanstatus" jdbcType="INTEGER" />
    <result column="pp_bulkLoanStartTime" property="ppBulkloanstarttime" jdbcType="TIMESTAMP" />
    <result column="pp_bulkLoanEndTime" property="ppBulkloanendtime" jdbcType="TIMESTAMP" />
    <result column="pp_bulkLoanEffectTime" property="ppBulkloaneffecttime" jdbcType="TIMESTAMP" />
    <result column="pp_bulkLoanDealSeconds" property="ppBulkloandealseconds" jdbcType="VARCHAR" />
    <result column="pp_terderMinAmount" property="ppTerderminamount" jdbcType="DECIMAL" />
    <result column="pp_tenderMaxAmount" property="ppTendermaxamount" jdbcType="DECIMAL" />
    <result column="pp_tenderIncreaseAmount" property="ppTenderincreaseamount" jdbcType="DECIMAL" />
    <result column="pp_duration" property="ppDuration" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pp_productId, pp_productNo, pp_custNo, pp_loanTitle, pp_loanTerm, pp_loanAmount, 
    pp_loanAmountExist, pp_comprehensiveRate, pp_loanRepayment, pp_repaymentAmount, pp_productTypeId, 
    pp_loan_applyId, pp_bulkLoanStatus, pp_bulkLoanStartTime, pp_bulkLoanEndTime, pp_bulkLoanEffectTime, 
    pp_bulkLoanDealSeconds, pp_terderMinAmount, pp_tenderMaxAmount, pp_tenderIncreaseAmount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_productExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from p2p_loan_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p2p_loan_product
    where pp_productId = #{ppProductid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p2p_loan_product
    where pp_productId = #{ppProductid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_productExample" >
    delete from p2p_loan_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_product" >
    insert into p2p_loan_product (pp_productId, pp_productNo, pp_custNo, 
      pp_loanTitle, pp_loanTerm, pp_loanAmount, 
      pp_loanAmountExist, pp_comprehensiveRate, 
      pp_loanRepayment, pp_repaymentAmount, pp_productTypeId, 
      pp_loan_applyId, pp_bulkLoanStatus, pp_bulkLoanStartTime, 
      pp_bulkLoanEndTime, pp_bulkLoanEffectTime, 
      pp_bulkLoanDealSeconds, pp_terderMinAmount, 
      pp_tenderMaxAmount, pp_tenderIncreaseAmount
      )
    values (#{ppProductid,jdbcType=BIGINT}, #{ppProductno,jdbcType=VARCHAR}, #{ppCustno,jdbcType=VARCHAR}, 
      #{ppLoantitle,jdbcType=VARCHAR}, #{ppLoanterm,jdbcType=INTEGER}, #{ppLoanamount,jdbcType=DECIMAL}, 
      #{ppLoanamountexist,jdbcType=DECIMAL}, #{ppComprehensiverate,jdbcType=DECIMAL}, 
      #{ppLoanrepayment,jdbcType=INTEGER}, #{ppRepaymentamount,jdbcType=DECIMAL}, #{ppProducttypeid,jdbcType=VARCHAR}, 
      #{ppLoanApplyid,jdbcType=VARCHAR}, #{ppBulkloanstatus,jdbcType=INTEGER}, #{ppBulkloanstarttime,jdbcType=TIMESTAMP}, 
      #{ppBulkloanendtime,jdbcType=TIMESTAMP}, #{ppBulkloaneffecttime,jdbcType=TIMESTAMP}, 
      #{ppBulkloandealseconds,jdbcType=VARCHAR}, #{ppTerderminamount,jdbcType=DECIMAL}, 
      #{ppTendermaxamount,jdbcType=DECIMAL}, #{ppTenderincreaseamount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_product" >
    insert into p2p_loan_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ppProductid != null" >
        pp_productId,
      </if>
      <if test="ppProductno != null" >
        pp_productNo,
      </if>
      <if test="ppCustno != null" >
        pp_custNo,
      </if>
      <if test="ppLoantitle != null" >
        pp_loanTitle,
      </if>
      <if test="ppLoanterm != null" >
        pp_loanTerm,
      </if>
      <if test="ppLoanamount != null" >
        pp_loanAmount,
      </if>
      <if test="ppLoanamountexist != null" >
        pp_loanAmountExist,
      </if>
      <if test="ppComprehensiverate != null" >
        pp_comprehensiveRate,
      </if>
      <if test="ppLoanrepayment != null" >
        pp_loanRepayment,
      </if>
      <if test="ppRepaymentamount != null" >
        pp_repaymentAmount,
      </if>
      <if test="ppProducttypeid != null" >
        pp_productTypeId,
      </if>
      <if test="ppLoanApplyid != null" >
        pp_loan_applyId,
      </if>
      <if test="ppBulkloanstatus != null" >
        pp_bulkLoanStatus,
      </if>
      <if test="ppBulkloanstarttime != null" >
        pp_bulkLoanStartTime,
      </if>
      <if test="ppBulkloanendtime != null" >
        pp_bulkLoanEndTime,
      </if>
      <if test="ppBulkloaneffecttime != null" >
        pp_bulkLoanEffectTime,
      </if>
      <if test="ppBulkloandealseconds != null" >
        pp_bulkLoanDealSeconds,
      </if>
      <if test="ppTerderminamount != null" >
        pp_terderMinAmount,
      </if>
      <if test="ppTendermaxamount != null" >
        pp_tenderMaxAmount,
      </if>
      <if test="ppTenderincreaseamount != null" >
        pp_tenderIncreaseAmount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ppProductid != null" >
        #{ppProductid,jdbcType=BIGINT},
      </if>
      <if test="ppProductno != null" >
        #{ppProductno,jdbcType=VARCHAR},
      </if>
      <if test="ppCustno != null" >
        #{ppCustno,jdbcType=VARCHAR},
      </if>
      <if test="ppLoantitle != null" >
        #{ppLoantitle,jdbcType=VARCHAR},
      </if>
      <if test="ppLoanterm != null" >
        #{ppLoanterm,jdbcType=INTEGER},
      </if>
      <if test="ppLoanamount != null" >
        #{ppLoanamount,jdbcType=DECIMAL},
      </if>
      <if test="ppLoanamountexist != null" >
        #{ppLoanamountexist,jdbcType=DECIMAL},
      </if>
      <if test="ppComprehensiverate != null" >
        #{ppComprehensiverate,jdbcType=DECIMAL},
      </if>
      <if test="ppLoanrepayment != null" >
        #{ppLoanrepayment,jdbcType=INTEGER},
      </if>
      <if test="ppRepaymentamount != null" >
        #{ppRepaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="ppProducttypeid != null" >
        #{ppProducttypeid,jdbcType=VARCHAR},
      </if>
      <if test="ppLoanApplyid != null" >
        #{ppLoanApplyid,jdbcType=VARCHAR},
      </if>
      <if test="ppBulkloanstatus != null" >
        #{ppBulkloanstatus,jdbcType=INTEGER},
      </if>
      <if test="ppBulkloanstarttime != null" >
        #{ppBulkloanstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="ppBulkloanendtime != null" >
        #{ppBulkloanendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ppBulkloaneffecttime != null" >
        #{ppBulkloaneffecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="ppBulkloandealseconds != null" >
        #{ppBulkloandealseconds,jdbcType=VARCHAR},
      </if>
      <if test="ppTerderminamount != null" >
        #{ppTerderminamount,jdbcType=DECIMAL},
      </if>
      <if test="ppTendermaxamount != null" >
        #{ppTendermaxamount,jdbcType=DECIMAL},
      </if>
      <if test="ppTenderincreaseamount != null" >
        #{ppTenderincreaseamount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_productExample" resultType="java.lang.Integer" >
    select count(1) from p2p_loan_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p2p_loan_product
    <set >
      <if test="record.ppProductid != null" >
        pp_productId = #{record.ppProductid,jdbcType=BIGINT},
      </if>
      <if test="record.ppProductno != null" >
        pp_productNo = #{record.ppProductno,jdbcType=VARCHAR},
      </if>
      <if test="record.ppCustno != null" >
        pp_custNo = #{record.ppCustno,jdbcType=VARCHAR},
      </if>
      <if test="record.ppLoantitle != null" >
        pp_loanTitle = #{record.ppLoantitle,jdbcType=VARCHAR},
      </if>
      <if test="record.ppLoanterm != null" >
        pp_loanTerm = #{record.ppLoanterm,jdbcType=INTEGER},
      </if>
      <if test="record.ppLoanamount != null" >
        pp_loanAmount = #{record.ppLoanamount,jdbcType=DECIMAL},
      </if>
      <if test="record.ppLoanamountexist != null" >
        pp_loanAmountExist = #{record.ppLoanamountexist,jdbcType=DECIMAL},
      </if>
      <if test="record.ppComprehensiverate != null" >
        pp_comprehensiveRate = #{record.ppComprehensiverate,jdbcType=DECIMAL},
      </if>
      <if test="record.ppLoanrepayment != null" >
        pp_loanRepayment = #{record.ppLoanrepayment,jdbcType=INTEGER},
      </if>
      <if test="record.ppRepaymentamount != null" >
        pp_repaymentAmount = #{record.ppRepaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="record.ppProducttypeid != null" >
        pp_productTypeId = #{record.ppProducttypeid,jdbcType=VARCHAR},
      </if>
      <if test="record.ppLoanApplyid != null" >
        pp_loan_applyId = #{record.ppLoanApplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.ppBulkloanstatus != null" >
        pp_bulkLoanStatus = #{record.ppBulkloanstatus,jdbcType=INTEGER},
      </if>
      <if test="record.ppBulkloanstarttime != null" >
        pp_bulkLoanStartTime = #{record.ppBulkloanstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ppBulkloanendtime != null" >
        pp_bulkLoanEndTime = #{record.ppBulkloanendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ppBulkloaneffecttime != null" >
        pp_bulkLoanEffectTime = #{record.ppBulkloaneffecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ppBulkloandealseconds != null" >
        pp_bulkLoanDealSeconds = #{record.ppBulkloandealseconds,jdbcType=VARCHAR},
      </if>
      <if test="record.ppTerderminamount != null" >
        pp_terderMinAmount = #{record.ppTerderminamount,jdbcType=DECIMAL},
      </if>
      <if test="record.ppTendermaxamount != null" >
        pp_tenderMaxAmount = #{record.ppTendermaxamount,jdbcType=DECIMAL},
      </if>
      <if test="record.ppTenderincreaseamount != null" >
        pp_tenderIncreaseAmount = #{record.ppTenderincreaseamount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p2p_loan_product
    set pp_productId = #{record.ppProductid,jdbcType=BIGINT},
      pp_productNo = #{record.ppProductno,jdbcType=VARCHAR},
      pp_custNo = #{record.ppCustno,jdbcType=VARCHAR},
      pp_loanTitle = #{record.ppLoantitle,jdbcType=VARCHAR},
      pp_loanTerm = #{record.ppLoanterm,jdbcType=INTEGER},
      pp_loanAmount = #{record.ppLoanamount,jdbcType=DECIMAL},
      pp_loanAmountExist = #{record.ppLoanamountexist,jdbcType=DECIMAL},
      pp_comprehensiveRate = #{record.ppComprehensiverate,jdbcType=DECIMAL},
      pp_loanRepayment = #{record.ppLoanrepayment,jdbcType=INTEGER},
      pp_repaymentAmount = #{record.ppRepaymentamount,jdbcType=DECIMAL},
      pp_productTypeId = #{record.ppProducttypeid,jdbcType=VARCHAR},
      pp_loan_applyId = #{record.ppLoanApplyid,jdbcType=VARCHAR},
      pp_bulkLoanStatus = #{record.ppBulkloanstatus,jdbcType=INTEGER},
      pp_bulkLoanStartTime = #{record.ppBulkloanstarttime,jdbcType=TIMESTAMP},
      pp_bulkLoanEndTime = #{record.ppBulkloanendtime,jdbcType=TIMESTAMP},
      pp_bulkLoanEffectTime = #{record.ppBulkloaneffecttime,jdbcType=TIMESTAMP},
      pp_bulkLoanDealSeconds = #{record.ppBulkloandealseconds,jdbcType=VARCHAR},
      pp_terderMinAmount = #{record.ppTerderminamount,jdbcType=DECIMAL},
      pp_tenderMaxAmount = #{record.ppTendermaxamount,jdbcType=DECIMAL},
      pp_tenderIncreaseAmount = #{record.ppTenderincreaseamount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_product" >
    update p2p_loan_product
    <set >
      <if test="ppProductno != null" >
        pp_productNo = #{ppProductno,jdbcType=VARCHAR},
      </if>
      <if test="ppCustno != null" >
        pp_custNo = #{ppCustno,jdbcType=VARCHAR},
      </if>
      <if test="ppLoantitle != null" >
        pp_loanTitle = #{ppLoantitle,jdbcType=VARCHAR},
      </if>
      <if test="ppLoanterm != null" >
        pp_loanTerm = #{ppLoanterm,jdbcType=INTEGER},
      </if>
      <if test="ppLoanamount != null" >
        pp_loanAmount = #{ppLoanamount,jdbcType=DECIMAL},
      </if>
      <if test="ppLoanamountexist != null" >
        pp_loanAmountExist = #{ppLoanamountexist,jdbcType=DECIMAL},
      </if>
      <if test="ppComprehensiverate != null" >
        pp_comprehensiveRate = #{ppComprehensiverate,jdbcType=DECIMAL},
      </if>
      <if test="ppLoanrepayment != null" >
        pp_loanRepayment = #{ppLoanrepayment,jdbcType=INTEGER},
      </if>
      <if test="ppRepaymentamount != null" >
        pp_repaymentAmount = #{ppRepaymentamount,jdbcType=DECIMAL},
      </if>
      <if test="ppProducttypeid != null" >
        pp_productTypeId = #{ppProducttypeid,jdbcType=VARCHAR},
      </if>
      <if test="ppLoanApplyid != null" >
        pp_loan_applyId = #{ppLoanApplyid,jdbcType=VARCHAR},
      </if>
      <if test="ppBulkloanstatus != null" >
        pp_bulkLoanStatus = #{ppBulkloanstatus,jdbcType=INTEGER},
      </if>
      <if test="ppBulkloanstarttime != null" >
        pp_bulkLoanStartTime = #{ppBulkloanstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="ppBulkloanendtime != null" >
        pp_bulkLoanEndTime = #{ppBulkloanendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ppBulkloaneffecttime != null" >
        pp_bulkLoanEffectTime = #{ppBulkloaneffecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="ppBulkloandealseconds != null" >
        pp_bulkLoanDealSeconds = #{ppBulkloandealseconds,jdbcType=VARCHAR},
      </if>
      <if test="ppTerderminamount != null" >
        pp_terderMinAmount = #{ppTerderminamount,jdbcType=DECIMAL},
      </if>
      <if test="ppTendermaxamount != null" >
        pp_tenderMaxAmount = #{ppTendermaxamount,jdbcType=DECIMAL},
      </if>
      <if test="ppTenderincreaseamount != null" >
        pp_tenderIncreaseAmount = #{ppTenderincreaseamount,jdbcType=DECIMAL},
      </if>
    </set>
    where pp_productId = #{ppProductid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_product" >
    update p2p_loan_product
    set pp_productNo = #{ppProductno,jdbcType=VARCHAR},
      pp_custNo = #{ppCustno,jdbcType=VARCHAR},
      pp_loanTitle = #{ppLoantitle,jdbcType=VARCHAR},
      pp_loanTerm = #{ppLoanterm,jdbcType=INTEGER},
      pp_loanAmount = #{ppLoanamount,jdbcType=DECIMAL},
      pp_loanAmountExist = #{ppLoanamountexist,jdbcType=DECIMAL},
      pp_comprehensiveRate = #{ppComprehensiverate,jdbcType=DECIMAL},
      pp_loanRepayment = #{ppLoanrepayment,jdbcType=INTEGER},
      pp_repaymentAmount = #{ppRepaymentamount,jdbcType=DECIMAL},
      pp_productTypeId = #{ppProducttypeid,jdbcType=VARCHAR},
      pp_loan_applyId = #{ppLoanApplyid,jdbcType=VARCHAR},
      pp_bulkLoanStatus = #{ppBulkloanstatus,jdbcType=INTEGER},
      pp_bulkLoanStartTime = #{ppBulkloanstarttime,jdbcType=TIMESTAMP},
      pp_bulkLoanEndTime = #{ppBulkloanendtime,jdbcType=TIMESTAMP},
      pp_bulkLoanEffectTime = #{ppBulkloaneffecttime,jdbcType=TIMESTAMP},
      pp_bulkLoanDealSeconds = #{ppBulkloandealseconds,jdbcType=VARCHAR},
      pp_terderMinAmount = #{ppTerderminamount,jdbcType=DECIMAL},
      pp_tenderMaxAmount = #{ppTendermaxamount,jdbcType=DECIMAL},
      pp_tenderIncreaseAmount = #{ppTenderincreaseamount,jdbcType=DECIMAL}
    where pp_productId = #{ppProductid,jdbcType=BIGINT}
  </update>
  
    <select id="getByBulkloanstatus" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select plp.* from p2p_loan_product
  	where pp_custNo=#{puCustNo}
  	<!-- 6表示查询全部 -->
  	<if test="ppBulkloanstatus!=6">
  		and pp_bulkLoanStatus=#{ppBulkloanstatus} 
  	</if>
  </select>
  
    <select id="selectByProductNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select  <include refid="Base_Column_List" />
    from p2p_loan_product
    where pp_productNo = #{productNo,jdbcType=VARCHAR}
  </select>
  
  <!-- 更新状态:修改产品的最终状态 -->
  <update id="updateLoanProductStatus" parameterType="java.util.Map">
  	update p2p_loan_product
  	<set>
  		pp_bulkLoanStatus = #{pp_bulkLoanStatus}
  	</set>
  	where pp_productNo=#{pp_productNo}
  	
  </update>
  <update id="updateLoanProductStatusTwo" parameterType="java.util.Map">
  	update p2p_loan_product
  	<set>
  		pp_bulkLoanStatus=#{pp_bulkLoanStatus},
  		pp_bulkLoanEffectTime=#{bulkLoanEffectTime}
  	</set>
  	where pp_productNo=#{pp_productNo}
  </update>
  
  <update id="updateProductState" parameterType="java.util.Map">
    update p2p_loan_product
    <set>
    <if test="pp_bulkLoanStatus!=null">
        pp_bulkLoanStatus=#{pp_bulkLoanStatus},
    </if>
    <if test="bulkLoanEffectTime!=null">
        pp_bulkLoanEffectTime=#{bulkLoanEffectTime},
    </if>
    <if test="bulkLoanDealSeconds!=null">
        pp_bulkLoanDealSeconds=#{bulkLoanDealSeconds},
    </if>
    </set>
    where pp_productNo= #{pp_productNo}
    <if test="pp_bulkLoanStatus==5">
        OR plp_assignProductNo = #{pp_productNo}
    </if>
  </update>
</mapper>