<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_cust_logonMapper">
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_cust_logon">
    <result column="pcl_cust_no" jdbcType="VARCHAR" property="pclCustNo" />
    <result column="pcl_first_login" jdbcType="TIMESTAMP" property="pclFirstLogin" />
    <result column="pcl_last_loginsucc" jdbcType="TIMESTAMP" property="pclLastLoginsucc" />
    <result column="pcl_last_loginfail" jdbcType="TIMESTAMP" property="pclLastLoginfail" />
    <result column="pcl_day_loginfail_num" jdbcType="BIGINT" property="pclDayLoginfailNum" />
    <result column="pcl_loginsucc_num" jdbcType="BIGINT" property="pclLoginsuccNum" />
    <result column="pcl_free_date" jdbcType="TIMESTAMP" property="pclFreeDate" />
  </resultMap>
  
  <insert id="saveLogon" parameterType="com.baibao.web.p2p.generator.bean.P2p_cust_logon">
  	insert into p2p_cust_logon(pcl_cust_no,pcl_first_login,pcl_last_loginsucc,pcl_last_loginfail,
  		pcl_day_loginfail_num,pcl_loginsucc_num,pcl_free_date) values(#{pclCustNo},#{pclFirstLogin},
  		#{pclLastLoginsucc},#{pclLastLoginfail},#{pclDayLoginfailNum},#{pclLoginsuccNum},#{pclFreeDate})
  </insert>
  
  <update id="updateLogonByCustNo" parameterType="com.baibao.web.p2p.generator.bean.P2p_cust_logon">
  	update p2p_cust_logon set pcl_first_login=#{pclFirstLogin},pcl_last_loginsucc=#{pclLastLoginsucc} 
  		<if test="pclLastLoginfail!=null">,pcl_last_loginfail=#{pclLastLoginfail}</if>
  		<if test="pclDayLoginfailNum!=null">,pcl_day_loginfail_num=#{pclDayLoginfailNum}</if>
  		,pcl_loginsucc_num=#{pclLoginsuccNum} where pcl_cust_no = #{pclCustNo}
  </update>
  
  <select id="getCustLogonByCustNo" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select pcl_cust_no,pcl_first_login,pcl_last_loginsucc,pcl_last_loginfail,
  		pcl_day_loginfail_num,pcl_loginsucc_num,pcl_free_date from p2p_cust_logon
  		 where pcl_cust_no=#{custNo}
  </select>
</mapper>