<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.p2p_bank_cardMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    <id column="pbc_id" property="pbcId" jdbcType="BIGINT" />
    <result column="pbc_custNo" property="pbcCustno" jdbcType="CHAR" />
    <result column="pbc_requestNo" property="pbcRequestno" jdbcType="VARCHAR" />
    <!-- <result column="pbc_bankCardId" property="pbcBankcardid" jdbcType="VARCHAR" /> -->
    <result column="pbc_accountNo" property="pbcAccountno" jdbcType="VARCHAR" />
    <result column="pbc_bankCardNo" property="pbcBankcardno" jdbcType="VARCHAR" />
    <result column="pbc_bankCode" property="pbcBankcode" jdbcType="VARCHAR" />
    <result column="pbc_pbcBankName" property="pbcBankName" jdbcType="VARCHAR"/>
    <result column="pbc_bankCardName" property="pbcBankcardname" jdbcType="VARCHAR" />
    <result column="pbc_card_type" property="pbcCardType" jdbcType="VARCHAR" />
    <result column="pbc_card_attribute" property="pbcCardAttribute" jdbcType="VARCHAR" />
    <result column="pbc_cert_type" property="pbcCertType" jdbcType="VARCHAR" />
    <result column="pbc_cert_no" property="pbcCertNo" jdbcType="VARCHAR" />
    <result column="pbc_phone_no" property="pbcPhoneNo" jdbcType="CHAR" />
    <result column="pbc_validity_period" property="pbcValidityPeriod" jdbcType="VARCHAR" />
    <result column="pbc_verification_value" property="pbcVerificationValue" jdbcType="VARCHAR" />
   <!--  <result column="pbc_province" property="pbcProvince" jdbcType="VARCHAR" />
    <result column="pbc_city" property="pbcCity" jdbcType="VARCHAR" /> -->
    <result column="pbc_ProvinceName" property="pbcProvinceName" jdbcType="VARCHAR" />
    <result column="pbc_CityName" property="pbcCityName" jdbcType="VARCHAR" />
    <result column="pbc_bank_branch" property="pbcBankBranch" jdbcType="VARCHAR" />
    <result column="pbc_verify_mode" property="pbcVerifyMode" jdbcType="VARCHAR" />
    <result column="pbc_extend_param" property="pbcExtendParam" jdbcType="VARCHAR" />
    <result column="pbc_inputTime" property="pbcInputtime" jdbcType="VARCHAR" />
    <result column="pbc_isSafeCard" property="pbcIssafecard" jdbcType="VARCHAR" />
    <!-- <result column="pbc_ticket" property="pbcTicket" jdbcType="VARCHAR" /> -->
    <result column="pbc_ifAdvance" property="pbcIfadvance" jdbcType="VARCHAR" />
    <result column="pbc_card_id" property="pbccardId" jdbcType="VARCHAR" />
   <!-- < result column="pbc_is_verified" property="isVerified" jdbcType="VARCHAR" /> -->
    <result column="pbc_response_code" property="pbcResponseCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pbc_id, pbc_custNo, pbc_requestNo, <!-- pbc_bankCardId, --> pbc_accountNo, pbc_bankCardNo, 
    pbc_bankCode, pbc_bankCardName, pbc_card_type, pbc_card_attribute, pbc_cert_type, 
    pbc_cert_no, pbc_phone_no, pbc_validity_period, pbc_verification_value, pbc_ProvinceName, 
    pbc_CityName, pbc_bank_branch, pbc_verify_mode, pbc_extend_param, pbc_inputTime, pbc_isSafeCard, 
    <!-- pbc_ticket, --> pbc_ifAdvance, pbc_card_id, <!-- pbc_is_verified, -->pbc_response_code, pbc_pbcBankName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p2p_bank_card
    where pbc_id = #{pbcId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p2p_bank_card
    where pbc_id = #{pbcId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    insert into p2p_bank_card (pbc_id, pbc_custNo, pbc_requestNo, 
      <!-- pbc_bankCardId, --> pbc_accountNo, pbc_bankCardNo, 
      pbc_bankCode, pbc_bankCardName, pbc_pbcBankName, pbc_card_type, 
      pbc_card_attribute, pbc_cert_type, pbc_cert_no, 
      pbc_phone_no, pbc_validity_period, pbc_verification_value, 
      pbc_ProvinceName, pbc_CityName, pbc_bank_branch, 
      pbc_verify_mode, pbc_extend_param, pbc_inputTime, 
      pbc_isSafeCard, <!-- pbc_ticket, --> pbc_ifAdvance, 
      pbc_card_id, <!-- is_verified, -->pbc_response_code)
    values (#{pbcId,jdbcType=BIGINT}, #{pbcCustno,jdbcType=CHAR}, #{pbcRequestno,jdbcType=VARCHAR}, 
      <!-- #{pbcBankcardid,jdbcType=VARCHAR}, --> #{pbcAccountno,jdbcType=VARCHAR}, #{pbcBankcardno,jdbcType=VARCHAR}, 
      #{pbcBankcode,jdbcType=VARCHAR}, #{pbcBankcardname,jdbcType=VARCHAR}, #{pbcBankName,jdbcType=VARCHAR},
      #{pbcCardType,jdbcType=VARCHAR}, 
      #{pbcCardAttribute,jdbcType=VARCHAR}, #{pbcCertType,jdbcType=VARCHAR}, #{pbcCertNo,jdbcType=VARCHAR}, 
      #{pbcPhoneNo,jdbcType=CHAR}, #{pbcValidityPeriod,jdbcType=VARCHAR}, #{pbcVerificationValue,jdbcType=VARCHAR}, 
      #{pbcProvinceName,jdbcType=VARCHAR}, #{pbcCityName,jdbcType=VARCHAR}, #{pbcBankBranch,jdbcType=VARCHAR}, 
      #{pbcVerifyMode,jdbcType=VARCHAR}, #{pbcExtendParam,jdbcType=VARCHAR}, #{pbcInputtime,jdbcType=VARCHAR}, 
      #{pbcIssafecard,jdbcType=VARCHAR},<!--  #{pbcTicket,jdbcType=VARCHAR}, --> #{pbcIfadvance,jdbcType=VARCHAR}, 
      #{pbccardId,jdbcType=VARCHAR}, <!-- #{isVerified,jdbcType=VARCHAR}, -->#{pbcResponseCode})
  </insert>
  <insert id="insertSelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    insert into p2p_bank_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pbcId != null" >
        pbc_id,
      </if>
      <if test="pbcCustno != null" >
        pbc_custNo,
      </if>
      <if test="pbcRequestno != null" >
        pbc_requestNo,
      </if>
      <!-- <if test="pbcBankcardid != null" >
        pbc_bankCardId,
      </if> -->
      <if test="pbcAccountno != null" >
        pbc_accountNo,
      </if>
      <if test="pbcBankcardno != null" >
        pbc_bankCardNo,
      </if>
      <if test="pbcBankcode != null" >
        pbc_bankCode,
      </if>
      <if test="pbcBankcardname != null" >
        pbc_bankCardName,
      </if>
      <if test="pbcCardType != null" >
        pbc_card_type,
      </if>
      <if test="pbcCardAttribute != null" >
        pbc_card_attribute,
      </if>
      <if test="pbcCertType != null" >
        pbc_cert_type,
      </if>
      <if test="pbcCertNo != null" >
        pbc_cert_no,
      </if>
      <if test="pbcPhoneNo != null" >
        pbc_phone_no,
      </if>
      <if test="pbcValidityPeriod != null" >
        pbc_validity_period,
      </if>
      <if test="pbcVerificationValue != null" >
        pbc_verification_value,
      </if>
      <if test="pbcProvinceName != null" >
        pbc_ProvinceName,
      </if>
      <if test="pbcCityName != null" >
        pbc_CityName,
      </if>
      <if test="pbcBankBranch != null" >
        pbc_bank_branch,
      </if>
      <if test="pbcVerifyMode != null" >
        pbc_verify_mode,
      </if>
      <if test="pbcExtendParam != null" >
        pbc_extend_param,
      </if>
      <if test="pbcInputtime != null" >
        pbc_inputTime,
      </if>
      <if test="pbcIssafecard != null" >
        pbc_isSafeCard,
      </if>
      <!-- <if test="pbcTicket != null" >
        pbc_ticket,
      </if> -->
      <if test="pbcIfadvance != null" >
        pbc_ifAdvance,
      </if>
      <if test="pbccardId != null" >
        pbc_card_id,
      </if>
     <!--  <if test="isVerified != null" >
        is_verified,
      </if> -->
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pbcId != null" >
        #{pbcId,jdbcType=BIGINT},
      </if>
      <if test="pbcCustno != null" >
        #{pbcCustno,jdbcType=CHAR},
      </if>
      <if test="pbcRequestno != null" >
        #{pbcRequestno,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcBankcardid != null" >
        #{pbcBankcardid,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcAccountno != null" >
        #{pbcAccountno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardno != null" >
        #{pbcBankcardno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcode != null" >
        #{pbcBankcode,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardname != null" >
        #{pbcBankcardname,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardType != null" >
        #{pbcCardType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardAttribute != null" >
        #{pbcCardAttribute,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertType != null" >
        #{pbcCertType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertNo != null" >
        #{pbcCertNo,jdbcType=VARCHAR},
      </if>
      <if test="pbcPhoneNo != null" >
        #{pbcPhoneNo,jdbcType=CHAR},
      </if>
      <if test="pbcValidityPeriod != null" >
        #{pbcValidityPeriod,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerificationValue != null" >
        #{pbcVerificationValue,jdbcType=VARCHAR},
      </if>
      <if test="pbcProvinceName != null" >
        #{pbcProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="pbcCityName != null" >
        #{pbcCityName,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankBranch != null" >
        #{pbcBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerifyMode != null" >
        #{pbcVerifyMode,jdbcType=VARCHAR},
      </if>
      <if test="pbcExtendParam != null" >
        #{pbcExtendParam,jdbcType=VARCHAR},
      </if>
      <if test="pbcInputtime != null" >
        #{pbcInputtime,jdbcType=VARCHAR},
      </if>
      <if test="pbcIssafecard != null" >
        #{pbcIssafecard,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcTicket != null" >
        #{pbcTicket,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcIfadvance != null" >
        #{pbcIfadvance,jdbcType=VARCHAR},
      </if>
      <if test="pbccardId != null" >
        #{pbccardId,jdbcType=VARCHAR},
      </if>
      <!-- <if test="isVerified != null" >
        #{isVerified,jdbcType=VARCHAR},
      </if> -->
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    update p2p_bank_card
    <set >
      <if test="pbcCustno != null" >
        pbc_custNo = #{pbcCustno,jdbcType=CHAR},
      </if>
      <if test="pbcRequestno != null" >
        pbc_requestNo = #{pbcRequestno,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcBankcardid != null" >
        pbc_bankCardId = #{pbcBankcardid,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcAccountno != null" >
        pbc_accountNo = #{pbcAccountno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardno != null" >
        pbc_bankCardNo = #{pbcBankcardno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcode != null" >
        pbc_bankCode = #{pbcBankcode,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardname != null" >
        pbc_bankCardName = #{pbcBankcardname,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardType != null" >
        pbc_card_type = #{pbcCardType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardAttribute != null" >
        pbc_card_attribute = #{pbcCardAttribute,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertType != null" >
        pbc_cert_type = #{pbcCertType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertNo != null" >
        pbc_cert_no = #{pbcCertNo,jdbcType=VARCHAR},
      </if>
      <if test="pbcPhoneNo != null" >
        pbc_phone_no = #{pbcPhoneNo,jdbcType=CHAR},
      </if>
      <if test="pbcValidityPeriod != null" >
        pbc_validity_period = #{pbcValidityPeriod,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerificationValue != null" >
        pbc_verification_value = #{pbcVerificationValue,jdbcType=VARCHAR},
      </if>
      <if test="pbcProvinceName != null" >
        pbc_ProvinceName = #{pbcProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="pbcCityName != null" >
        pbc_CityName = #{pbcCityName,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankBranch != null" >
        pbc_bank_branch = #{pbcBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerifyMode != null" >
        pbc_verify_mode = #{pbcVerifyMode,jdbcType=VARCHAR},
      </if>
      <if test="pbcExtendParam != null" >
        pbc_extend_param = #{pbcExtendParam,jdbcType=VARCHAR},
      </if>
      <if test="pbcInputtime != null" >
        pbc_inputTime = #{pbcInputtime,jdbcType=VARCHAR},
      </if>
      <if test="pbcIssafecard != null" >
        pbc_isSafeCard = #{pbcIssafecard,jdbcType=VARCHAR},
      </if>
    <!--   <if test="pbcTicket != null" >
        pbc_ticket = #{pbcTicket,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcIfadvance != null" >
        pbc_ifAdvance = #{pbcIfadvance,jdbcType=VARCHAR},
      </if>
      <if test="pbccardId != null" >
        pbc_card_id = #{pbccardId,jdbcType=VARCHAR},
      </if>
     <!--  <if test="isVerified != null" >
        is_verified = #{isVerified,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcResponseCode != null" >
        pbc_response_code = #{pbcResponseCode,jdbcType=VARCHAR},
      </if>
    </set>
    where pbc_id = #{pbcId,jdbcType=BIGINT}
  </update>
  
  <!-- 更改是否为安全卡状态 -->
  <update id="updateIsSafeCardById" parameterType="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    update p2p_bank_card set pbc_isSafeCard = #{pbcIssafecard,jdbcType=VARCHAR} where pbc_id = #{pbcId,jdbcType=BIGINT}
  </update>
  
  <!-- 根据客户号查询银行卡信息 -->
  <select id="getBankCardByCustNo" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List"/> from p2p_bank_card t where t.pbc_custNo=#{custNo}
  </select>
  
  <!-- 根据银行卡查询银行卡信息 -->
  <select id="getBankCardByBankNo" resultType="java.lang.Integer" parameterType="String">
  		select count(pbc_id) from p2p_bank_card t where t.pbc_bankCardNo=#{bankCardNo} and t.pbc_ifAdvance='01'
  </select>
  <!-- 根据银行卡号查询银行卡信息 -->
  <select id="getBankCardByBankCardNo" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List"/> from p2p_bank_card t where t.pbc_bankCardNo=#{bankCardNo}
  </select>
  
  <update id="updateBankCardByNo" parameterType="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    update p2p_bank_card
    <set >
      <if test="pbcCustno != null" >
        pbc_custNo = #{pbcCustno,jdbcType=CHAR},
      </if>
      <if test="pbcRequestno != null" >
        pbc_requestNo = #{pbcRequestno,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcBankcardid != null" >
        pbc_bankCardId = #{pbcBankcardid,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcAccountno != null" >
        pbc_accountNo = #{pbcAccountno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardno != null" >
        pbc_bankCardNo = #{pbcBankcardno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcode != null" >
        pbc_bankCode = #{pbcBankcode,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardname != null" >
        pbc_bankCardName = #{pbcBankcardname,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardType != null" >
        pbc_card_type = #{pbcCardType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardAttribute != null" >
        pbc_card_attribute = #{pbcCardAttribute,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertType != null" >
        pbc_cert_type = #{pbcCertType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertNo != null" >
        pbc_cert_no = #{pbcCertNo,jdbcType=VARCHAR},
      </if>
      <if test="pbcPhoneNo != null" >
        pbc_phone_no = #{pbcPhoneNo,jdbcType=CHAR},
      </if>
      <if test="pbcValidityPeriod != null" >
        pbc_validity_period = #{pbcValidityPeriod,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerificationValue != null" >
        pbc_verification_value = #{pbcVerificationValue,jdbcType=VARCHAR},
      </if>
      <if test="pbcProvinceName != null" >
        pbc_ProvinceName = #{pbcProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="pbcCityName != null" >
        pbc_CityName = #{pbcCityName,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankBranch != null" >
        pbc_bank_branch = #{pbcBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerifyMode != null" >
        pbc_verify_mode = #{pbcVerifyMode,jdbcType=VARCHAR},
      </if>
      <if test="pbcExtendParam != null" >
        pbc_extend_param = #{pbcExtendParam,jdbcType=VARCHAR},
      </if>
      <if test="pbcInputtime != null" >
        pbc_inputTime = #{pbcInputtime,jdbcType=VARCHAR},
      </if>
      <if test="pbcIssafecard != null" >
        pbc_isSafeCard = #{pbcIssafecard,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcTicket != null" >
        pbc_ticket = #{pbcTicket,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcIfadvance != null" >
        pbc_ifAdvance = #{pbcIfadvance,jdbcType=VARCHAR},
      </if>
      <if test="pbccardId != null" >
        pbc_card_id = #{pbccardId,jdbcType=VARCHAR},
      </if>
     <!--  <if test="isVerified != null" >
        is_verified = #{isVerified,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcResponseCode != null" >
        pbc_response_code = #{pbcResponseCode,jdbcType=VARCHAR},
      </if>
    </set>
    where pbc_bankCardNo = #{pbcBankcardno,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteBankCardByCustNo" parameterType="java.lang.String" >
    delete from p2p_bank_card
    where pbc_custNo = #{custNo,jdbcType=VARCHAR}
  </delete>
  
   <update id="updateBankCardByCustNo" parameterType="com.baibao.web.p2p.generator.bean.P2p_bank_card" >
    update p2p_bank_card
    <set >
      <if test="pbcCustno != null" >
        pbc_custNo = #{pbcCustno,jdbcType=CHAR},
      </if>
      <if test="pbcRequestno != null" >
        pbc_requestNo = #{pbcRequestno,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcBankcardid != null" >
        pbc_bankCardId = #{pbcBankcardid,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcAccountno != null" >
        pbc_accountNo = #{pbcAccountno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardno != null" >
        pbc_bankCardNo = #{pbcBankcardno,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcode != null" >
        pbc_bankCode = #{pbcBankcode,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankcardname != null" >
        pbc_bankCardName = #{pbcBankcardname,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankName != null">
      	pbc_pbcBankName = #{pbcBankName,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardType != null" >
        pbc_card_type = #{pbcCardType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCardAttribute != null" >
        pbc_card_attribute = #{pbcCardAttribute,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertType != null" >
        pbc_cert_type = #{pbcCertType,jdbcType=VARCHAR},
      </if>
      <if test="pbcCertNo != null" >
        pbc_cert_no = #{pbcCertNo,jdbcType=VARCHAR},
      </if>
      <if test="pbcPhoneNo != null" >
        pbc_phone_no = #{pbcPhoneNo,jdbcType=CHAR},
      </if>
      <if test="pbcValidityPeriod != null" >
        pbc_validity_period = #{pbcValidityPeriod,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerificationValue != null" >
        pbc_verification_value = #{pbcVerificationValue,jdbcType=VARCHAR},
      </if>
      <if test="pbcProvinceName != null" >
        pbc_ProvinceName = #{pbcProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="pbcCityName != null" >
        pbc_CityName = #{pbcCityName,jdbcType=VARCHAR},
      </if>
      <if test="pbcBankBranch != null" >
        pbc_bank_branch = #{pbcBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="pbcVerifyMode != null" >
        pbc_verify_mode = #{pbcVerifyMode,jdbcType=VARCHAR},
      </if>
      <if test="pbcExtendParam != null" >
        pbc_extend_param = #{pbcExtendParam,jdbcType=VARCHAR},
      </if>
      <if test="pbcInputtime != null" >
        pbc_inputTime = #{pbcInputtime,jdbcType=VARCHAR},
      </if>
      <if test="pbcIssafecard != null" >
        pbc_isSafeCard = #{pbcIssafecard,jdbcType=VARCHAR},
      </if>
      <!-- <if test="pbcTicket != null" >
        pbc_ticket = #{pbcTicket,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcIfadvance != null" >
        pbc_ifAdvance = #{pbcIfadvance,jdbcType=VARCHAR},
      </if>
      <if test="pbccardId != null" >
        pbc_card_id = #{pbccardId,jdbcType=VARCHAR},
      </if>
     <!--  <if test="isVerified != null" >
        is_verified = #{isVerified,jdbcType=VARCHAR},
      </if> -->
      <if test="pbcResponseCode != null" >
        pbc_response_code = #{pbcResponseCode,jdbcType=VARCHAR},
      </if>
    </set>
    where pbc_custNo = #{pbcCustno,jdbcType=VARCHAR}
  </update>
</mapper>