<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_ordinary_trans_aidMapper" >
  
  <!-- 更新状态 -->
  <update id="upadteP2pB2cTransAid" parameterType="java.util.Map">
  	update p2p_b2c_trans_aid
  	<set>
  		pbt_status=#{pbt_status}
  			<if test="prt_host_response_time!=null and ''!=prt_host_response_time">
  				,prt_host_response_time=#{prt_host_response_time}
  			</if>
  			<if test="prt_host_response_flowNum!=null and ''!=prt_host_response_flowNum">
  				,prt_host_response_flowNum=#{prt_host_response_flowNum}
  			</if>
  			<if test="prt_host_return_code!=null and ''!=prt_host_return_code">
  				,prt_host_return_code=#{prt_host_return_code}
  			</if>
  			<if test="response_message!=null and ''!=response_message">
  				,prt_host_return_message=#{response_message}
  			</if>
  	</set>
  	 where prt_transFlowNo = #{prt_tradeFlowNo}
  </update>
  
  <!-- 查询处理中的代收记录 -->
  <select id="querySuspiciousPaymentFlow" resultType="java.util.Map">
  	select prt_transFlowNo,prt_outCustNo,prt_ounAccountNo,prt_inCustNo,prt_transAmount,pbt_status
  	from p2p_b2c_trans_aid where pbt_status = "02"
  </select>
</mapper>