<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_user_roleMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_user_role" >
    <id column="pur_id" property="purId" jdbcType="BIGINT" />
    <result column="pur_roleCode" property="purRolecode" jdbcType="CHAR" />
    <result column="pur_custNo" property="purCustno" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pur_id, pur_roleCode, pur_custNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_roleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from p2p_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p2p_user_role
    where pur_id = #{purId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p2p_user_role
    where pur_id = #{purId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_roleExample" >
    delete from p2p_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_role" >
    insert into p2p_user_role (pur_id, pur_roleCode, pur_custNo
      )
    values (#{purId,jdbcType=BIGINT}, #{purRolecode,jdbcType=CHAR}, #{purCustno,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_role" >
    insert into p2p_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purId != null" >
        pur_id,
      </if>
      <if test="purRolecode != null" >
        pur_roleCode,
      </if>
      <if test="purCustno != null" >
        pur_custNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purId != null" >
        #{purId,jdbcType=BIGINT},
      </if>
      <if test="purRolecode != null" >
        #{purRolecode,jdbcType=CHAR},
      </if>
      <if test="purCustno != null" >
        #{purCustno,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_roleExample" resultType="java.lang.Integer" >
    select count(1) from p2p_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p2p_user_role
    <set >
      <if test="record.purId != null" >
        pur_id = #{record.purId,jdbcType=BIGINT},
      </if>
      <if test="record.purRolecode != null" >
        pur_roleCode = #{record.purRolecode,jdbcType=CHAR},
      </if>
      <if test="record.purCustno != null" >
        pur_custNo = #{record.purCustno,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p2p_user_role
    set pur_id = #{record.purId,jdbcType=BIGINT},
      pur_roleCode = #{record.purRolecode,jdbcType=CHAR},
      pur_custNo = #{record.purCustno,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_role" >
    update p2p_user_role
    <set >
      <if test="purRolecode != null" >
        pur_roleCode = #{purRolecode,jdbcType=CHAR},
      </if>
      <if test="purCustno != null" >
        pur_custNo = #{purCustno,jdbcType=CHAR},
      </if>
    </set>
    where pur_id = #{purId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_role" >
    update p2p_user_role
    set pur_roleCode = #{purRolecode,jdbcType=CHAR},
      pur_custNo = #{purCustno,jdbcType=CHAR}
    where pur_id = #{purId,jdbcType=BIGINT}
  </update>
</mapper>