<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_loan_recordMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_loan_record" >
    <result column="ptf_transFlowNo" property="ptfTransflowno" jdbcType="VARCHAR" />
    <result column="ptf_outpayaccfee" property="ptfOutpayaccfee" jdbcType="DECIMAL" />
    <result column="ptf_repaymentAmount" property="ptfRepaymentAmount" jdbcType="DECIMAL" />
    <result column="ptf_productNo" property="ptfProductNo" jdbcType="VARCHAR" />
    <result column="ptf_outAccountNo" property="ptfOutAccountno" jdbcType="VARCHAR" />
    <result column="ptf_outCustNo" property="ptfOutcustno" jdbcType="VARCHAR" />
    <result column="ptf_inCustNo" property="ptfInCustno" jdbcType="VARCHAR" />
    <result column="ptf_inAccountNo" property="ptfInAccountno" jdbcType="VARCHAR" />
    <result column="ptf_tenderFlowNo" property="ptfTenderflowno" jdbcType="VARCHAR" />
    <result column="ptf_host_response_time" property="ptfHostResponseTime" jdbcType="TIMESTAMP" />
    <result column="ptf_host_response_flowNum" property="ptfHostResponseFlownum" jdbcType="VARCHAR" />
    <result column="ptf_host_return_code" property="ptfHostReturnCode" jdbcType="VARCHAR" />
    <result column="ptf_host_return_message" property="ptfHostReturnMessage" jdbcType="VARCHAR" />
    <result column="ptf_payStatus" property="ptfPaystatus" jdbcType="VARCHAR" />
    <result column="ptf_remark" property="ptfRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  	ptf_transFlowNo,ptf_outpayaccfee,ptf_repaymentAmount,ptf_productNo,ptf_outAccountNo,ptf_outCustNo ,ptf_inCustNo,ptf_inAccountNo,
    ptf_tenderFlowNo, ptf_host_response_time, ptf_host_response_flowNum, ptf_host_return_code, 
    ptf_host_return_message, ptf_payStatus, ptf_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_recordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from p2p_loan_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_recordExample" resultType="java.lang.Integer" >
    select count(1) from p2p_loan_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p2p_loan_record
    <set >
      <if test="record.ptfTransflowno != null" >
        ptf_transFlowNo = #{record.ptfTransflowno,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfOutcstno != null" >
        ptf_outcstno = #{record.ptfOutcstno,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfOutcsttype != null" >
        ptf_outcsttype = #{record.ptfOutcsttype,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfOutpayacc != null" >
        ptf_outpayacc = #{record.ptfOutpayacc,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfOutpayaccfee != null" >
        ptf_outpayaccfee = #{record.ptfOutpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="record.ptfIntcsttype != null" >
        ptf_intcsttype = #{record.ptfIntcsttype,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfInpayacc != null" >
        ptf_inpayacc = #{record.ptfInpayacc,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfInpayaccfee != null" >
        ptf_inpayaccfee = #{record.ptfInpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="record.ptfTranamt != null" >
        ptf_tranamt = #{record.ptfTranamt,jdbcType=DECIMAL},
      </if>
      <if test="record.ptfTranstime != null" >
        ptf_transTime = #{record.ptfTranstime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ptfLoanno != null" >
        ptf_productNo = #{record.ptfProductNo,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfTenderflowno != null" >
        ptf_tenderFlowNo = #{record.ptfTenderflowno,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfHostResponseTime != null" >
        ptf_host_response_time = #{record.ptfHostResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ptfHostResponseFlownum != null" >
        ptf_host_response_flowNum = #{record.ptfHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfHostReturnCode != null" >
        ptf_host_return_code = #{record.ptfHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfHostReturnMessage != null" >
        ptf_host_return_message = #{record.ptfHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfPaystatus != null" >
        ptf_payStatus = #{record.ptfPaystatus,jdbcType=VARCHAR},
      </if>
      <if test="record.ptfRemark != null" >
        ptf_remark = #{record.ptfRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p2p_loan_record
    set 
      ptf_transFlowNo = #{record.ptfTransflowno,jdbcType=VARCHAR},
      ptf_outcstno = #{record.ptfOutcstno,jdbcType=VARCHAR},
      ptf_productNo = #{record.ptfProductNo,jdbcType=VARCHAR},
      ptf_outAccountNo = #{record.ptfOutAccountno,jdbcType=VARCHAR},
      ptf_outCustNo =#{record.ptfOutcustno,jdbcType=VARCHAR},
      ptf_inCustNo= #{record.ptfInCustno,jdbcType=VARCHAR},
      ptf_inAccountNo =#{record.ptfInAccountno,jdbcType=VARCHAR},
      ptf_tenderFlowNo = #{record.ptfTenderflowno,jdbcType=VARCHAR},
      ptf_host_response_time = #{record.ptfHostResponseTime,jdbcType=TIMESTAMP},
      ptf_host_response_flowNum = #{record.ptfHostResponseFlownum,jdbcType=VARCHAR},
      ptf_host_return_code = #{record.ptfHostReturnCode,jdbcType=VARCHAR},
      ptf_host_return_message = #{record.ptfHostReturnMessage,jdbcType=VARCHAR},
      ptf_payStatus = #{record.ptfPaystatus,jdbcType=VARCHAR},
      ptf_remark = #{record.ptfRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_loan_record" >
    update p2p_loan_record
    <set >
      <if test="ptfOutpayaccfee != null" >
        ptf_outpayaccfee = #{ptfOutpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="ptfOutAccountno != null" >
        ptf_outAccountNo = #{ptfOutAccountno,jdbcType=VARCHAR},
      </if>
      <if test="ptfOutcustno != null" >
        ptf_outCustNo = #{ptfOutcustno,jdbcType=VARCHAR},
      </if>
      <if test="ptfInCustno != null" >
        ptf_inCustNo = #{ptfInCustno,jdbcType=VARCHAR},
      </if>
      <if test="ptfInAccountno != null" >
        ptf_inAccountNo = #{ptfTranstime,jdbcType=VARCHAR},
      </if>
      <if test="ptfLoanno != null" >
        ptf_productNo = #{ptfProductNo,jdbcType=VARCHAR},
      </if>
      <if test="ptfTenderflowno != null" >
        ptf_tenderFlowNo = #{ptfTenderflowno,jdbcType=VARCHAR},
      </if>
      <if test="ptfHostResponseTime != null" >
        ptf_host_response_time = #{ptfHostResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ptfHostResponseFlownum != null" >
        ptf_host_response_flowNum = #{ptfHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="ptfHostReturnCode != null" >
        ptf_host_return_code = #{ptfHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="ptfHostReturnMessage != null" >
        ptf_host_return_message = #{ptfHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="ptfPaystatus != null" >
        ptf_payStatus = #{ptfPaystatus,jdbcType=VARCHAR},
      </if>
      <if test="ptfRemark != null" >
        ptf_remark = #{ptfRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where ptf_transFlowNo = #{ptfTransflowno,jdbcType=VARCHAR}
  </update>

  <update id="updateloanRecord" parameterType="java.util.Map">
  	update p2p_loan_record
  	<set>
  	<if test="ptf_payStatus !=null and ''!=ptf_payStatus">
  		ptf_payStatus=#{ptf_payStatus},
	</if>
  	<if test="ptf_host_response_time !=null and ''!=ptf_host_response_time">	
  		ptf_host_response_time=#{ptf_host_response_time},
  	</if>
  	<if test="ptf_host_return_code !=null and ''!=ptf_host_return_code">	
  		ptf_host_return_code=#{ptf_host_return_code},
  	</if>
  	<if test="ptf_host_return_message !=null and ''!=ptf_host_return_message">
  		ptf_host_return_message=#{ptf_host_return_message},
  	</if>
  	<if test="ptf_host_response_flowNum !=null and ''!=ptf_host_response_flowNum">
  		ptf_host_response_flowNum=#{ptf_host_response_flowNum},
  	</if>
  	</set>
  	where ptf_transFlowNo= #{ptf_transFlowNo}
  </update>
  <!-- 根据流水号查询流水信息 -->
  <select id="getLoanRecordByFlowNo" resultMap="BaseResultMap">
     SELECT ptf_transFlowNo,ptf_outpayaccfee,ptf_repaymentAmount,ptf_outAccountNo,ptf_outCustNo,ptf_inCustNo,ptf_inAccountNo, ptf_productNo, 
    ptf_tenderFlowNo, ptf_host_response_time, ptf_host_response_flowNum, ptf_host_return_code, 
    ptf_host_return_message, ptf_payStatus, ptf_remark
        FROM p2p_loan_record 
           WHERE ptf_transFlowNo = #{flowNo}
  </select>
  
  <!-- 查询可疑状态 -->
  <select id="querySuspiciousPaymentFlow" resultType="java.util.HashMap">
     SELECT ptf_transFlowNo,ptf_outpayaccfee,ptf_repaymentAmount,ptf_outAccountNo,ptf_outCustNo,ptf_inCustNo,ptf_inAccountNo, ptf_productNo, 
    ptf_tenderFlowNo, ptf_host_response_time, ptf_host_response_flowNum, ptf_host_return_code, 
    ptf_host_return_message, ptf_payStatus, ptf_remark
     FROM p2p_loan_record 
     WHERE ptf_payStatus = '02'
  </select>
  
  <!-- 更新结标代付的记录 -->
  <update id="updateSuspiciousPaymentFlow" parameterType="java.util.Map">
  	update p2p_loan_record set ptf_payStatus=#{ptf_payStatus}
  	where ptf_transFlowNo=#{ptf_transFlowNo}
  </update>
  
</mapper>