<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_account_flowMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_account_flow" >
    <!-- <id column="paf_id" property="pafId" jdbcType="BIGINT" /> -->
    <id column="paf_transFlowNo" property="pafTransflowno" jdbcType="VARCHAR" />
    <result column="paf_custNo" property="pafCustno" jdbcType="CHAR" />
    <result column="paf_accountNo" property="pafAccountno" jdbcType="VARCHAR" />
    <result column="paf_transactionMoney" property="pafTransactionmoney" jdbcType="DECIMAL" />
    <result column="paf_transactiondatetime" property="pafTransactiondatetime" jdbcType="TIMESTAMP" />
    <result column="paf_transactionType" property="pafTransactiontype" jdbcType="CHAR" />
    <result column="paf_rechargeType" property="pafRechargeType" jdbcType="CHAR"/>
    <result column="paf_channelNum" property="pafChannelnum" jdbcType="CHAR" />
    <result column="paf_host_response_time" property="pafHostResponseTime" jdbcType="VARCHAR" />
    <result column="paf_host_return_code" property="pafHostReturnCode" jdbcType="VARCHAR" />
    <result column="paf_host_return_message" property="pafHostReturnMessage" jdbcType="VARCHAR" />
    <result column="paf_status" property="pafStatus" jdbcType="CHAR" />
    <result column="paf_fee" property="pafFee" jdbcType="DECIMAL" />
    <result column="paf_remark" property="pafRemark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!-- paf_id, --> paf_transFlowNo, paf_custNo, paf_accountNo, paf_transactionMoney, paf_transactiondatetime, 
    paf_transactionType,paf_rechargeType, paf_channelNum, paf_host_response_time, paf_host_return_code, 
    paf_host_return_message, paf_status, paf_fee
  </sql>
  
  <!-- 保存充值、提现流水信息 -->
  <insert id="save" parameterType="com.baibao.web.p2p.generator.bean.P2p_account_flow" >
    INSERT INTO p2p_account_flow(
        paf_transFlowNo, paf_custNo, 
        paf_accountNo, paf_transactionMoney, paf_transactiondatetime, 
        paf_transactionType,paf_rechargeType, paf_channelNum, paf_host_response_time, 
        paf_host_return_code, paf_host_return_message, 
        paf_status, paf_fee, paf_host_flow, paf_remark
    ) VALUES (
        #{pafTransflowno,jdbcType=VARCHAR}, #{pafCustno,jdbcType=CHAR}, 
        #{pafAccountno,jdbcType=VARCHAR}, #{pafTransactionmoney,jdbcType=DECIMAL},
        #{pafTransactiondatetime,jdbcType=TIMESTAMP}, 
        #{pafTransactiontype,jdbcType=CHAR}, #{pafRechargeType,jdbcType=CHAR},
        #{pafChannelnum,jdbcType=CHAR}, #{pafHostResponseTime,jdbcType=VARCHAR}, 
        #{pafHostReturnCode,jdbcType=VARCHAR}, #{pafHostReturnMessage,jdbcType=VARCHAR}, 
        #{pafStatus,jdbcType=CHAR}, #{pafFee,jdbcType=DECIMAL},
        #{pafHostFlow,jdbcType=VARBINARY},
        #{pafRemark,jdbcType=VARCHAR}
    )
  </insert>
  
  <!-- 更新交易记录新浪返回数据 -->
  <update id="updateAccountFlow" parameterType="map">
  	update p2p_account_flow t 
  	set t.paf_host_response_time=#{pafHostResponseTime},t.paf_host_return_code=#{pafHostReturnCode},
  		t.paf_host_return_message=#{pafHostReturnMessage}
  		<if test="''!=paf_status and null !=paf_status">
  		 ,t.paf_status = #{paf_status}
  		</if>
  	where t.paf_transFlowNo=#{transFlowNo}
  </update>
  
  <!-- 充值、提现接口回调时修改状态 -->
  <update id="updateTransFlowNo" parameterType="java.util.HashMap">
  	update p2p_account_flow t 
  	set t.paf_host_flow=#{inner_trade_no},t.paf_status=#{status},
  		t.paf_host_response_time=#{response_time}, paf_host_return_code=#{return_host_status}
  	where t.paf_transFlowNo=#{outer_trade_no}
  </update>
  
  <!-- 根据订单号查询明细 -->
  <select id="getByTransFlowNo" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from p2p_account_flow t where 
  	t.paf_transFlowNo = #{transFlowNo}
  </select>
  
   <!-- 根据客户号和交易类型查询明细 -->
  <select id="getByCustNoAndType" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from p2p_account_flow t where 
  	t.paf_custNo = #{custNo} 
  		<if test="null!=transType and transType !=''">
		and t.paf_transactionType =#{transType}
	</if>
  	<if test="null!=status and status !=''">
		and t.paf_status =#{status}
	</if>
  	<if test="null!=startTime and startTime !=''">
		<![CDATA[and t.paf_transactiondatetime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and t.paf_transactiondatetime<=#{endTime}]]>
	</if>
	ORDER BY t.paf_transactiondatetime DESC limit #{beginWith},#{count}
  </select>
  
   <!-- 根据客户号和交易类型查询明细查询总数 -->
  <select id="getTransRecordTotal" parameterType="java.util.Map" resultType="int">
  	select count(1) from p2p_account_flow t where 
  	t.paf_custNo = #{custNo}
  		<if test="null!=transType and transType !=''">
		and t.paf_transactionType =#{transType}
	</if>
  		<if test="null!=status and status !=''">
		and t.paf_status =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and t.paf_transactiondatetime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and t.paf_transactiondatetime<=#{endTime}]]>
	</if>
	ORDER BY t.paf_transactiondatetime DESC 
  </select>
  <!--app交易记录  -->
   <select id="allTransFlowApp" parameterType="java.util.Map" resultMap="BaseResultMap">
  SELECT t.paf_transFlowNo, t.paf_transactiondatetime, t.paf_status, t.paf_transactionType, t.paf_transactionMoney,t.paf_channelNum,t.paf_rechargeType,t.paf_remark 
  FROM p2p_account_flow t 
  where t.paf_custNo = #{custNo} and t.paf_status != 4
  	<choose>
        <when test="null==transType or transType ==''">  
            and t.paf_transactionType in('10','11','12','40','50','52')
        </when>
        <when test="transType =='40'">  
            and t.paf_transactionType in('40','50')
        </when>
        <otherwise>
            and t.paf_transactionType =#{transType}
        </otherwise> 
    </choose>
	<if test="null!=status and status !=''">
		and t.paf_status =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and t.paf_transactiondatetime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and t.paf_transactiondatetime<=#{endTime}]]>
	</if> 
	ORDER BY paf_transactiondatetime DESC 
	limit #{beginWith},#{count}
  </select>
  <select id="allTransFlowTotalApp" parameterType="java.util.Map" resultType="int">
 	SELECT count(1) from (SELECT t.paf_transFlowNo, t.paf_transactiondatetime, t.paf_status, t.paf_transactionType, t.paf_transactionMoney FROM p2p_account_flow t 
  	where t.paf_custNo = #{custNo}
  	<choose>
  	    <when test="null==transType or transType ==''">  
  	        and t.paf_transactionType in('10','11','12','40','50','52')
  	    </when>
  	    <when test="transType =='40'">  
            and t.paf_transactionType in('40','50')
        </when>
        <otherwise>
            and t.paf_transactionType =#{transType}
        </otherwise> 
  	</choose>
	<if test="null!=status and status !=''">
		and t.paf_status =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and t.paf_transactiondatetime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and t.paf_transactiondatetime<=#{endTime}]]>
	</if> 
	 ) m
  </select>
   <!-- 根据条件关联查询交易记录表和收益表 -->
  <select id="allTransFlow" parameterType="java.util.Map" resultMap="BaseResultMap">
  SELECT t.paf_transFlowNo, t.paf_transactiondatetime, t.paf_status, t.paf_transactionType, t.paf_transactionMoney,t.paf_channelNum,t.paf_rechargeType,t.paf_remark 
  FROM p2p_account_flow t 
  where t.paf_custNo = #{custNo} and t.paf_status != 4
  <if test="null!=transType and transType !=''">
		and t.paf_transactionType =#{transType}
	</if>
	<if test="null!=status and status !=''">
		and t.paf_status =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and t.paf_transactiondatetime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and t.paf_transactiondatetime<=#{endTime}]]>
	</if> 
 
 <!--   UNION ALL SELECT ptp_incomebillNo, p.ptp_factProfitTime, p.ptp_profitstatus, p.ptp_profitType, p.ptp_profit,p.ptp_remark,p.ptp_remark FROM p2p_tender_profit p
   where p.ptp_custNo = #{custNo} and p.ptp_profitstatus !="0" and p.ptp_profitstatus!="5"
  <if test="null!=transType and transType !=''">
  		<if test="transType == 40">
		and (p.ptp_profitType ="40" or p.ptp_profitType ="41" or p.ptp_profitType ="42" or p.ptp_profitType ="43")
		</if>
		<if test="transType != 40">
		and p.ptp_profitType =#{transType}
		</if>
	</if>
  		<if test="null!=status and status !=''">
		and p.ptp_profitstatus =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and p.ptp_factProfitTime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and p.ptp_factProfitTime<=#{endTime}]]>
	</if>
	-->
	ORDER BY paf_transactiondatetime DESC 
	limit #{beginWith},#{count}
  </select>
   <!-- 根据条件查询交易记录表和收益表的数量 -->
  <select id="allTransFlowTotal" parameterType="java.util.Map" resultType="int">
 	SELECT count(1) from (SELECT t.paf_transFlowNo, t.paf_transactiondatetime, t.paf_status, t.paf_transactionType, t.paf_transactionMoney FROM p2p_account_flow t 
  	where t.paf_custNo = #{custNo}
  <if test="null!=transType and transType !=''">
		and t.paf_transactionType =#{transType}
	</if>
  		<if test="null!=status and status !=''">
		and t.paf_status =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and t.paf_transactiondatetime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and t.paf_transactiondatetime<=#{endTime}]]>
	</if> 
 <!--  UNION ALL SELECT p.ptp_incomebillNo, p.ptp_factProfitTime, p.ptp_profitstatus, p.ptp_profitType, p.ptp_factInterest FROM p2p_tender_profit p
   where p.ptp_custNo = #{custNo}  and p.ptp_profitstatus !="0"
  <if test="null!=transType and transType !=''">
  		<if test="transType == 40">
		and (p.ptp_profitType ="40" or p.ptp_profitType ="41" or p.ptp_profitType ="42" or p.ptp_profitType ="43")
		</if>
		<if test="transType != 40">
		and p.ptp_profitType =#{transType}
		</if>
	</if>
  		<if test="null!=status and status !=''">
		and p.ptp_profitstatus =#{status}
	</if>
  		<if test="null!=startTime and startTime !=''">
		<![CDATA[and p.ptp_factProfitTime>=#{startTime}]]>
	</if>
	<if test="null!=endTime and endTime !=''">
		<![CDATA[and p.ptp_factProfitTime<=#{endTime}]]>
	</if>
	-->) m
   
  </select>
  
  <!-- 查询可疑流水:批量定时 -->
  <select id="querySuspiciousFlow" resultType="java.util.HashMap">
	  	select paf_transFlowNo,paf_accountNo,paf_transactionType from p2p_account_flow t where t.paf_status = '02'
  </select>
  <!-- 查询可疑流水:批量定时 -->
  <update id="updateSuspiciousFlow">
	  	update p2p_account_flow
	  	set paf_status = #{paf_status}
	  	where paf_transFlowNo = #{paf_transFlowNo}
  </update>
</mapper>