<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_repayment_bill_trans_detailMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    <id column="prd_incomebillNo" property="prdIncomebillno" jdbcType="CHAR" />
    <id column="prd_repaybillNo" property="prdRepaybillno" jdbcType="CHAR" />
    <id column="prd_tenderTransFlowNo" property="prdTendertransflowno" jdbcType="VARCHAR" />
    <id column="prd_tradeFlowNo" property="prdTradeflowno" jdbcType="CHAR" />
    <result column="prd_OutAccountNo" property="prdOutaccountno" jdbcType="VARCHAR" />
    <result column="prd_InAccountNo" property="prdInaccountno" jdbcType="VARCHAR" />
    <result column="prd_repaymentSeq" property="prdRepaymentseq" jdbcType="CHAR" />
    <result column="prd_repaymentMoney" property="prdRepaymentmoney" jdbcType="VARCHAR" />
    <result column="prd_tenderType" property="prdTendertype" jdbcType="CHAR" />
    <result column="prd_status" property="prdStatus" jdbcType="VARCHAR" />
    <result column="prd_host_response_time" property="prdHostResponseTime" jdbcType="VARCHAR" />
    <result column="prd_host_response_flowNum" property="prdHostResponseFlownum" jdbcType="VARCHAR" />
    <result column="prd_host_return_code" property="prdHostReturnCode" jdbcType="VARCHAR" />
    <result column="prd_host_return_message" property="prdHostReturnMessage" jdbcType="VARCHAR" />
    <result column="prb_productNo" property="prbProductno" jdbcType="VARCHAR" />
    <result column="prd_outCustNo" property="prdOutcustno" jdbcType="VARCHAR" />
    <result column="prd_inCustNo" property="prdIncustno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    prd_incomebillNo, prd_repaybillNo, prd_tenderTransFlowNo, prd_tradeFlowNo, prd_OutAccountNo, 
    prd_InAccountNo, prd_repaymentSeq, prd_repaymentMoney, prd_tenderType, prd_status, 
    prd_host_response_time, prd_host_response_flowNum, prd_host_return_code, prd_host_return_message, 
    prb_productNo, prd_outCustNo, prd_inCustNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from p2p_repayment_bill_trans_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    select 
    <include refid="Base_Column_List" />
    from p2p_repayment_bill_trans_detail
    where prd_incomebillNo = #{prdIncomebillno,jdbcType=CHAR}
      and prd_repaybillNo = #{prdRepaybillno,jdbcType=CHAR}
      and prd_tenderTransFlowNo = #{prdTendertransflowno,jdbcType=VARCHAR}
      and prd_tradeFlowNo = #{prdTradeflowno,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    delete from p2p_repayment_bill_trans_detail
    where prd_incomebillNo = #{prdIncomebillno,jdbcType=CHAR}
      and prd_repaybillNo = #{prdRepaybillno,jdbcType=CHAR}
      and prd_tenderTransFlowNo = #{prdTendertransflowno,jdbcType=VARCHAR}
      and prd_tradeFlowNo = #{prdTradeflowno,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detailExample" >
    delete from p2p_repayment_bill_trans_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    insert into p2p_repayment_bill_trans_detail (prd_incomebillNo, prd_repaybillNo, prd_tenderTransFlowNo, 
      prd_tradeFlowNo, prd_OutAccountNo, prd_InAccountNo, 
      prd_repaymentSeq, prd_repaymentMoney, prd_tenderType, 
      prd_status, prd_host_response_time, prd_host_response_flowNum, 
      prd_host_return_code, prd_host_return_message, 
      prb_productNo, prd_outCustNo, prd_inCustNo
      )
    values (#{prdIncomebillno,jdbcType=CHAR}, #{prdRepaybillno,jdbcType=CHAR}, #{prdTendertransflowno,jdbcType=VARCHAR}, 
      #{prdTradeflowno,jdbcType=CHAR}, #{prdOutaccountno,jdbcType=VARCHAR}, #{prdInaccountno,jdbcType=VARCHAR}, 
      #{prdRepaymentseq,jdbcType=CHAR}, #{prdRepaymentmoney,jdbcType=VARCHAR}, #{prdTendertype,jdbcType=CHAR}, 
      #{prdStatus,jdbcType=VARCHAR}, #{prdHostResponseTime,jdbcType=VARCHAR}, #{prdHostResponseFlownum,jdbcType=VARCHAR}, 
      #{prdHostReturnCode,jdbcType=VARCHAR}, #{prdHostReturnMessage,jdbcType=VARCHAR}, 
      #{prbProductno,jdbcType=VARCHAR}, #{prdOutcustno,jdbcType=VARCHAR}, #{prdIncustno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    insert into p2p_repayment_bill_trans_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prdIncomebillno != null" >
        prd_incomebillNo,
      </if>
      <if test="prdRepaybillno != null" >
        prd_repaybillNo,
      </if>
      <if test="prdTendertransflowno != null" >
        prd_tenderTransFlowNo,
      </if>
      <if test="prdTradeflowno != null" >
        prd_tradeFlowNo,
      </if>
      <if test="prdOutaccountno != null" >
        prd_OutAccountNo,
      </if>
      <if test="prdInaccountno != null" >
        prd_InAccountNo,
      </if>
      <if test="prdRepaymentseq != null" >
        prd_repaymentSeq,
      </if>
      <if test="prdRepaymentmoney != null" >
        prd_repaymentMoney,
      </if>
      <if test="prdTendertype != null" >
        prd_tenderType,
      </if>
      <if test="prdStatus != null" >
        prd_status,
      </if>
      <if test="prdHostResponseTime != null" >
        prd_host_response_time,
      </if>
      <if test="prdHostResponseFlownum != null" >
        prd_host_response_flowNum,
      </if>
      <if test="prdHostReturnCode != null" >
        prd_host_return_code,
      </if>
      <if test="prdHostReturnMessage != null" >
        prd_host_return_message,
      </if>
      <if test="prbProductno != null" >
        prb_productNo,
      </if>
      <if test="prdOutcustno != null" >
        prd_outCustNo,
      </if>
      <if test="prdIncustno != null" >
        prd_inCustNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prdIncomebillno != null" >
        #{prdIncomebillno,jdbcType=CHAR},
      </if>
      <if test="prdRepaybillno != null" >
        #{prdRepaybillno,jdbcType=CHAR},
      </if>
      <if test="prdTendertransflowno != null" >
        #{prdTendertransflowno,jdbcType=VARCHAR},
      </if>
      <if test="prdTradeflowno != null" >
        #{prdTradeflowno,jdbcType=CHAR},
      </if>
      <if test="prdOutaccountno != null" >
        #{prdOutaccountno,jdbcType=VARCHAR},
      </if>
      <if test="prdInaccountno != null" >
        #{prdInaccountno,jdbcType=VARCHAR},
      </if>
      <if test="prdRepaymentseq != null" >
        #{prdRepaymentseq,jdbcType=CHAR},
      </if>
      <if test="prdRepaymentmoney != null" >
        #{prdRepaymentmoney,jdbcType=VARCHAR},
      </if>
      <if test="prdTendertype != null" >
        #{prdTendertype,jdbcType=CHAR},
      </if>
      <if test="prdStatus != null" >
        #{prdStatus,jdbcType=VARCHAR},
      </if>
      <if test="prdHostResponseTime != null" >
        #{prdHostResponseTime,jdbcType=VARCHAR},
      </if>
      <if test="prdHostResponseFlownum != null" >
        #{prdHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="prdHostReturnCode != null" >
        #{prdHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="prdHostReturnMessage != null" >
        #{prdHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="prbProductno != null" >
        #{prbProductno,jdbcType=VARCHAR},
      </if>
      <if test="prdOutcustno != null" >
        #{prdOutcustno,jdbcType=VARCHAR},
      </if>
      <if test="prdIncustno != null" >
        #{prdIncustno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detailExample" resultType="java.lang.Integer" >
    select count(1) from p2p_repayment_bill_trans_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p2p_repayment_bill_trans_detail
    <set >
      <if test="record.prdIncomebillno != null" >
        prd_incomebillNo = #{record.prdIncomebillno,jdbcType=CHAR},
      </if>
      <if test="record.prdRepaybillno != null" >
        prd_repaybillNo = #{record.prdRepaybillno,jdbcType=CHAR},
      </if>
      <if test="record.prdTendertransflowno != null" >
        prd_tenderTransFlowNo = #{record.prdTendertransflowno,jdbcType=VARCHAR},
      </if>
      <if test="record.prdTradeflowno != null" >
        prd_tradeFlowNo = #{record.prdTradeflowno,jdbcType=CHAR},
      </if>
      <if test="record.prdOutaccountno != null" >
        prd_OutAccountNo = #{record.prdOutaccountno,jdbcType=VARCHAR},
      </if>
      <if test="record.prdInaccountno != null" >
        prd_InAccountNo = #{record.prdInaccountno,jdbcType=VARCHAR},
      </if>
      <if test="record.prdRepaymentseq != null" >
        prd_repaymentSeq = #{record.prdRepaymentseq,jdbcType=CHAR},
      </if>
      <if test="record.prdRepaymentmoney != null" >
        prd_repaymentMoney = #{record.prdRepaymentmoney,jdbcType=VARCHAR},
      </if>
      <if test="record.prdTendertype != null" >
        prd_tenderType = #{record.prdTendertype,jdbcType=CHAR},
      </if>
      <if test="record.prdStatus != null" >
        prd_status = #{record.prdStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.prdHostResponseTime != null" >
        prd_host_response_time = #{record.prdHostResponseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.prdHostResponseFlownum != null" >
        prd_host_response_flowNum = #{record.prdHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="record.prdHostReturnCode != null" >
        prd_host_return_code = #{record.prdHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.prdHostReturnMessage != null" >
        prd_host_return_message = #{record.prdHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.prbProductno != null" >
        prb_productNo = #{record.prbProductno,jdbcType=VARCHAR},
      </if>
      <if test="record.prdOutcustno != null" >
        prd_outCustNo = #{record.prdOutcustno,jdbcType=VARCHAR},
      </if>
      <if test="record.prdIncustno != null" >
        prd_inCustNo = #{record.prdIncustno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p2p_repayment_bill_trans_detail
    set prd_incomebillNo = #{record.prdIncomebillno,jdbcType=CHAR},
      prd_repaybillNo = #{record.prdRepaybillno,jdbcType=CHAR},
      prd_tenderTransFlowNo = #{record.prdTendertransflowno,jdbcType=VARCHAR},
      prd_tradeFlowNo = #{record.prdTradeflowno,jdbcType=CHAR},
      prd_OutAccountNo = #{record.prdOutaccountno,jdbcType=VARCHAR},
      prd_InAccountNo = #{record.prdInaccountno,jdbcType=VARCHAR},
      prd_repaymentSeq = #{record.prdRepaymentseq,jdbcType=CHAR},
      prd_repaymentMoney = #{record.prdRepaymentmoney,jdbcType=VARCHAR},
      prd_tenderType = #{record.prdTendertype,jdbcType=CHAR},
      prd_status = #{record.prdStatus,jdbcType=VARCHAR},
      prd_host_response_time = #{record.prdHostResponseTime,jdbcType=VARCHAR},
      prd_host_response_flowNum = #{record.prdHostResponseFlownum,jdbcType=VARCHAR},
      prd_host_return_code = #{record.prdHostReturnCode,jdbcType=VARCHAR},
      prd_host_return_message = #{record.prdHostReturnMessage,jdbcType=VARCHAR},
      prb_productNo = #{record.prbProductno,jdbcType=VARCHAR},
      prd_outCustNo = #{record.prdOutcustno,jdbcType=VARCHAR},
      prd_inCustNo = #{record.prdIncustno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    update p2p_repayment_bill_trans_detail
    <set >
      <if test="prdOutaccountno != null" >
        prd_OutAccountNo = #{prdOutaccountno,jdbcType=VARCHAR},
      </if>
      <if test="prdInaccountno != null" >
        prd_InAccountNo = #{prdInaccountno,jdbcType=VARCHAR},
      </if>
      <if test="prdRepaymentseq != null" >
        prd_repaymentSeq = #{prdRepaymentseq,jdbcType=CHAR},
      </if>
      <if test="prdRepaymentmoney != null" >
        prd_repaymentMoney = #{prdRepaymentmoney,jdbcType=VARCHAR},
      </if>
      <if test="prdTendertype != null" >
        prd_tenderType = #{prdTendertype,jdbcType=CHAR},
      </if>
      <if test="prdStatus != null" >
        prd_status = #{prdStatus,jdbcType=VARCHAR},
      </if>
      <if test="prdHostResponseTime != null" >
        prd_host_response_time = #{prdHostResponseTime,jdbcType=VARCHAR},
      </if>
      <if test="prdHostResponseFlownum != null" >
        prd_host_response_flowNum = #{prdHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="prdHostReturnCode != null" >
        prd_host_return_code = #{prdHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="prdHostReturnMessage != null" >
        prd_host_return_message = #{prdHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="prbProductno != null" >
        prb_productNo = #{prbProductno,jdbcType=VARCHAR},
      </if>
      <if test="prdOutcustno != null" >
        prd_outCustNo = #{prdOutcustno,jdbcType=VARCHAR},
      </if>
      <if test="prdIncustno != null" >
        prd_inCustNo = #{prdIncustno,jdbcType=VARCHAR},
      </if>
    </set>
    where prd_incomebillNo = #{prdIncomebillno,jdbcType=CHAR}
      and prd_repaybillNo = #{prdRepaybillno,jdbcType=CHAR}
      and prd_tenderTransFlowNo = #{prdTendertransflowno,jdbcType=VARCHAR}
      and prd_tradeFlowNo = #{prdTradeflowno,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibao.web.p2p.generator.bean.P2p_repayment_bill_trans_detail" >
    update p2p_repayment_bill_trans_detail
    set prd_OutAccountNo = #{prdOutaccountno,jdbcType=VARCHAR},
      prd_InAccountNo = #{prdInaccountno,jdbcType=VARCHAR},
      prd_repaymentSeq = #{prdRepaymentseq,jdbcType=CHAR},
      prd_repaymentMoney = #{prdRepaymentmoney,jdbcType=VARCHAR},
      prd_tenderType = #{prdTendertype,jdbcType=CHAR},
      prd_status = #{prdStatus,jdbcType=VARCHAR},
      prd_host_response_time = #{prdHostResponseTime,jdbcType=VARCHAR},
      prd_host_response_flowNum = #{prdHostResponseFlownum,jdbcType=VARCHAR},
      prd_host_return_code = #{prdHostReturnCode,jdbcType=VARCHAR},
      prd_host_return_message = #{prdHostReturnMessage,jdbcType=VARCHAR},
      prb_productNo = #{prbProductno,jdbcType=VARCHAR},
      prd_outCustNo = #{prdOutcustno,jdbcType=VARCHAR},
      prd_inCustNo = #{prdIncustno,jdbcType=VARCHAR}
    where prd_incomebillNo = #{prdIncomebillno,jdbcType=CHAR}
      and prd_repaybillNo = #{prdRepaybillno,jdbcType=CHAR}
      and prd_tenderTransFlowNo = #{prdTendertransflowno,jdbcType=VARCHAR}
      and prd_tradeFlowNo = #{prdTradeflowno,jdbcType=CHAR}
  </update>
  
    
  <!--给收益人打完款之后进行更新状态的操作 -->
  <update id="updatePrdStatus" parameterType="java.util.Map" >
  	update p2p_repayment_bill_trans_detail 
  	<set>
  		<if test="prd_status!=null and ''!=prd_status">
  			prd_status=#{prd_status}
  		</if>
  		<if test="prd_host_response_time!=null and ''!=prd_host_response_time">
  			,prd_host_response_time=#{prd_host_response_time}
  		</if>
  		<if test="prd_host_response_flowNum!=null and ''!=prd_host_response_flowNum">
  			,prd_host_response_flowNum=#{prd_host_response_flowNum}
  		</if>
  		<if test="prd_host_return_code!=null and ''!=prd_host_return_code">
  			,prd_host_return_code=#{prd_host_return_code}
  		</if>
  		<if test="prd_host_return_message!=null and ''!=prd_host_return_message">
  			,prd_host_return_message=#{prd_host_return_message}
  		</if>
  	</set>
  	where prd_tradeFlowNo=#{prd_tradeFlowNo}
  </update>
  
   <!-- 更新状态 -->
  <update id="upadteRepaymentBillTransDetails" parameterType="java.util.Map">
  	update p2p_repayment_bill_trans_detail set prd_status=#{prd_status}
  		<if test="response_time!=null and ''!=response_time">
  			,prd_host_response_time=#{response_time}
  		</if>
  		<if test="prd_host_response_flowNum!=null and ''!=prd_host_response_flowNum">
  			,prd_host_response_flowNum=#{prd_host_response_flowNum}
  		</if>
  		<if test="prd_host_return_code!=null and ''!=prd_host_return_code">
  			,prd_host_return_code=#{prd_host_return_code}
  		</if>
  		<if test="response_message!=null and ''!=response_message">
  			,prd_host_return_message=#{response_message}
  		</if>
  		where prd_tradeFlowNo=#{prd_tradeFlowNo}
  </update>
  <!-- 还款代付查询“处理中”状态 -->
  <select id="querySuspiciousPaymentFlow" resultType="java.util.Map">
  	select prd_incomebillNo,prd_tenderTransFlowNo,prd_repaybillNo,prb_productNo,prb_productNo,prd_status,prd_tradeFlowNo from p2p_repayment_bill_trans_detail where prd_status = '02'
  </select>
  <!-- 根据账单查询已经还款的金额 -->
  <select id="serachRepaymentMoneyBybillNo" parameterType="String" resultType="String">
  	select sum(t.prd_repaymentMoney) as repaymentTotal from p2p_repayment_bill_trans_detail t where prd_repaybillNo=#{repaybillNo} and prd_status='00'
  </select>
  
</mapper>