<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_user_warehouse_flowMapper">
<resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_user_warehouse_flow" >
    <id column="puwf_flowNo" property="puwf_flowNo" jdbcType="VARCHAR" />
    <result column="puwf_whNo" property="puwf_whNo" jdbcType="VARCHAR" />
    <result column="puwf_time" property="puwf_time" jdbcType="TIMESTAMP" />
    <result column="puwf_status" property="puwf_status" jdbcType="VARCHAR" />
  </resultMap>

<select id="selectByState" parameterType="java.util.Map" resultMap="BaseResultMap">
	SELECT puwf_flowNo,puwf_whNo,puwf_time,puwf_status FROM  p2p_user_warehouse_flow 
	WHERE puwf_whNo =#{puwf_whNo} limit 1;
</select>
<insert id="insertInfo" parameterType="java.util.Map">
	INSERT INTO p2p_user_warehouse_flow 
	(puwf_flowNo,puwf_whNo,puwf_time,puwf_status)
	VALUES (#{puwf_flowNo},#{puwf_whNo},#{puwf_time},#{puwf_status})
</insert>

<update id="updateBywhNo" parameterType="java.util.Map">
	UPDATE	p2p_user_warehouse_flow 
	 SET puwf_status=#{state} ,puwf_time=#{time}
	 WHERE puwf_whNo = #{puwf_whNo}
</update>

</mapper>