<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_mobile_appMapper">

	<resultMap type="com.baibao.web.p2p.generator.bean.P2p_mobile_app" id="mobileAppMap">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="version" property="version" />
		<result column="url" property="url" />
		<result column="remarks" property="remarks"/>
		<result column="downloadNum" property="downloadNum"/>
	</resultMap>
	
	<!-- 保存app信息 -->	
	<insert id="saveMobileApp" parameterType="com.baibao.web.p2p.generator.bean.P2p_mobile_app">
		 insert into p2p_mobile_app (name,version,url,remarks,type,downloadNum)  
		values (#{name},#{version},#{url},#{remarks},#{type},#{downloadNum})
	</insert>
	
	<!-- 更新app信息 -->
	<update id="updateMobileApp" parameterType="com.baibao.web.p2p.generator.bean.P2p_mobile_app">
		update p2p_mobile_app set name = #{name},version= #{version},url=#{url},remarks=#{remarks},downloadNum=#{downloadNum},type=#{type}
		where id=#{id}
	</update>
	
	<!-- 查询app信息 -->
	<select id="findAll" resultMap="mobileAppMap">
		select name,version,url,remarks,type,downloadNum,id from p2p_mobile_app pma  limit 1
	</select>
	
</mapper>