<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_users_redenvelopeMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_users_redenvelope" >
    <id column="pur_redenvelopeNo" property="purRedenvelopeno" jdbcType="VARCHAR" />
    <result column="pur_custNo" property="purCustno" jdbcType="VARCHAR" />
    <result column="pur_money" property="purMoney" jdbcType="VARCHAR" />
    <result column="pur_getTime" property="purGettime" jdbcType="TIMESTAMP" />
    <result column="pur_effectTime" property="purEffecttime" jdbcType="TIMESTAMP" />
    <result column="pur_lotteryDrawNo" property="purLotterydrawno" jdbcType="VARCHAR" />
    <result column="pur_activeId" property="purActiveid" jdbcType="INTEGER" />
    <result column="pur_status" property="purStatus" jdbcType="INTEGER" />
    <result column="pur_rule" property="purRule" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pur_redenvelopeNo, pur_custNo, pur_money, pur_getTime, pur_effectTime, pur_lotteryDrawNo, 
    pur_activeId, pur_status, pur_rule
  </sql>
  <select id="selectBytransFlowNoAction" parameterType="java.lang.String" resultMap="BaseResultMap">
	select pur_redenvelopeNo from    p2p_users_redenvelope pur
	left join p2p_user_warehouse_flow  puwf on  pur.pur_redenvelopeNo = puwf.puwf_whNo 
	left join p2p_active_b2c_trans_aid  pabt ON pabt.part_orderFlowNo = puwf.puwf_flowNo
	WHERE   pabt.part_transFlowNo=#{flowNo}
</select>
  <update id="updateredenvelo" parameterType="java.util.Map">
  	UPDATE p2p_users_redenvelope  
	SET pur_status = #{pur_status}
	<if test="time!=null">
	,pur_getTime=#{time}
	</if>
	 WHERE pur_redenvelopeNo =#{pur_redenvelopeNo}
  </update>
  <!-- 发520元大红包 -->
  <insert id="sendRedEnvelope_520" parameterType="map">
  	insert into p2p_users_redenvelope (pur_redenvelopeNo,pur_custNo,pur_money,pur_getTime,pur_effectTime,pur_activeId,pur_status,pur_rule)
  	values (#{pur_redenvelopeNo},#{pur_custNo},#{pur_money},#{pur_getTime},#{pur_effectTime},#{pur_activeId},#{pur_status},#{pur_rule})
  </insert>
  
  <select id="queryBytransFlowNoPay" resultMap="BaseResultMap" parameterType="string">
  	select pur_redenvelopeNo  from  p2p_users_redenvelope pur
	left join p2p_user_warehouse_flow  puwf on  pur.pur_redenvelopeNo = puwf.puwf_whNo 
	left join p2p_active_b2c_trans_aid pbta ON pbta.part_orderFlowNo = puwf.puwf_flowNo
	left join p2p_active_b2c_trans pbt ON pbta.part_transFlowNo = pbt.part_original_transFlowNo
	WHERE  pbt.part_transFlowNo=#{flowNo}
   </select>
   
   <select id="queryRedEnvelope_520" parameterType="string" resultType="int">
   		select count(1) from p2p_users_redenvelope where pur_custNo = #{custNo} and pur_activeId = #{activeId}
   </select>
   
   <select id="queryRedEnvelopeActivation_520" resultMap="BaseResultMap">
   		select <include refid="Base_Column_List"/>
   		from p2p_users_redenvelope where pur_custNo = #{custNo} and (pur_activeId = #{activeId} or pur_activeId = '2016041601') and pur_status = 0 
   		<![CDATA[and #{amount} >= pur_rule]]>
   		ORDER BY pur_rule DESC LIMIT 1
   </select>
   
   <update id="updateRedenvelopeUsed" parameterType="com.baibao.web.p2p.generator.bean.P2p_users_redenvelope">
   		update p2p_users_redenvelope set pur_status = 1 where pur_redenvelopeNo = #{purRedenvelopeno}
   </update>
   
   <!-- 根据客户号查询不同状态的红包 -->
   <select id="queryRedenvelopeBycustNo" parameterType="String" resultType="HashMap">
   	SELECT pur_redenvelopeNo as puwWhno,pur_custNo as puwCustno,pur_money as puwParvalue,
	pur_getTime as puwGettime,pur_effectTime as puwEffecttime,
   	pur_activeId as puwActiveid,pur_status as puwState,pur_rule
   	FROM p2p_users_redenvelope 
	WHERE pur_custNo = #{custNo} 
	<if test="status==1">
	AND (pur_status = #{status} or pur_status='3' or pur_status = '4') 
	</if>
	<if test="status!=1">
	AND pur_status = #{status}
	</if>
	ORDER BY pur_rule 
   </select>
   
   <!-- 查询未使用、小于当前时间红包(跑批使用接口) -->
   <select id="queryRedenvelopeNotused" resultMap="BaseResultMap">
   	SELECT <include refid="Base_Column_List"/> FROM p2p_users_redenvelope 
   	WHERE <![CDATA[date_format(pur_effectTime,'%Y-%m-%d') < date_format(now(),'%Y-%m-%d')]]>
   	AND pur_status = 0
   </select>
   
   <!-- 更新过期红包状态(跑批使用接口) -->
   <update id="updateRedenvelopeMature" parameterType="list">
   	UPDATE p2p_users_redenvelope
   	SET pur_status = 2 
   	WHERE 
   	<foreach collection="list" separator="or" item="i" index="index" >
       pur_redenvelopeNo=#{i.purRedenvelopeno}
    </foreach>
   </update>
   
    <!-- 根据用户抽奖编号查询用户红包 -->
   <select id="getRedenvelopeLotteryDrawNo" parameterType="String" resultType="int">
   	SELECT count(1) FROM  p2p_users_redenvelope  WHERE pur_lotteryDrawNo = #{lotteryDrawNo}
   </select>
   
   <!--保存红包(大转盘活动)  -->
   <insert id="saveRedenvelope" parameterType="Map">
   		insert into p2p_users_redenvelope (pur_redenvelopeNo,pur_custNo,pur_money,pur_getTime,pur_effectTime,pur_lotteryDrawNo,pur_activeId,pur_status,pur_rule)
  	values (#{pur_redenvelopeNo},#{pur_custNo},#{pur_money},#{pur_getTime},#{pur_effectTime},#{pur_lotteryDrawNo},#{pur_activeId},#{pur_status},#{pur_rule})
   </insert>
   
</mapper>