<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_user_infoMapper">
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_user_info">
   <!--  <id column="pui_id" jdbcType="BIGINT" property="puiId" /> -->
    <id column="pui_custNo" jdbcType="CHAR" property="puiCustno" />
    <result column="pui_plat_grade" jdbcType="VARCHAR" property="puiPlatGrade" />
    <result column="pui_plat_score" jdbcType="VARCHAR" property="puiPlatScore" />
    <result column="pui_mobileBindTime" jdbcType="TIMESTAMP" property="puiMobilebindtime" />
    <result column="pui_emailBindTime" jdbcType="TIMESTAMP" property="puiEmailbindtime" />
    <result column="pui_platAccountIsCert" jdbcType="CHAR" property="puiPlataccountiscert" />
    <result column="pui_registration_time" jdbcType="TIMESTAMP" property="puiRegistrationTime" />
    <result column="pui_real_name" jdbcType="VARCHAR" property="puiRealName" />
    <result column="pui_cert_type" jdbcType="CHAR" property="puiCertType" />
    <result column="pui_cert_no" jdbcType="VARCHAR" property="puiCertNo" />
    <result column="pui_age" jdbcType="CHAR" property="puiAge" />
    <result column="pui_sex" jdbcType="CHAR" property="puiSex" />
    <result column="pui_birthday" jdbcType="VARCHAR" property="puiBirthday" />
    <result column="pui_education" jdbcType="VARCHAR" property="puiEducation" />
    <result column="pui_college" jdbcType="VARCHAR" property="puiCollege" />
    <result column="pui_materia" jdbcType="VARCHAR" property="puiMateria" />
    <result column="pui_address" jdbcType="VARCHAR" property="puiAddress" />
    <result column="pui_native_place" jdbcType="VARCHAR" property="puiNativePlace" />
    <result column="pui_work_city" jdbcType="VARCHAR" property="puiWorkCity" />
    <result column="pui_work_provinces" jdbcType="VARCHAR" property="puiWorkProvinces" />
    <result column="pui_work_address" jdbcType="VARCHAR" property="puiWorkAddress" />
    <result column="pui_company_type" jdbcType="VARCHAR" property="puiCompanyType" />
    <result column="pui_company_industry" jdbcType="VARCHAR" property="puiCompanyIndustry" />
    <result column="pui_company_size" jdbcType="VARCHAR" property="puiCompanySize" />
    <result column="pui_work_age" jdbcType="VARCHAR" property="puiWorkAge" />
    <result column="pui_work_phone" jdbcType="VARCHAR" property="puiWorkPhone" />
    <result column="pui_work_position" jdbcType="VARCHAR" property="puiWorkPosition" />
    <result column="pui_month_salary" jdbcType="VARCHAR" property="puiMonthSalary" />
    <result column="pui_children" jdbcType="VARCHAR" property="puiChildren" />
    <result column="pui_house" jdbcType="VARCHAR" property="puiHouse" />
    <result column="pui_cars" jdbcType="VARCHAR" property="puiCars" />
    <result column="pui_cars_loan" jdbcType="VARCHAR" property="puiCarsLoan" />
    <result column="pui_house_loan" jdbcType="VARCHAR" property="puiHouseLoan" />
    <result column="pui_relative_name" jdbcType="VARCHAR" property="puiRelativeName" />
    <result column="pui_relative_relation" jdbcType="VARCHAR" property="puiRelativeRelation" />
    <result column="pui_relative_phone" jdbcType="VARCHAR" property="puiRelativePhone" />
    <result column="pui_contact_name" jdbcType="VARCHAR" property="puiContactName" />
    <result column="pui_contact_relation" jdbcType="VARCHAR" property="puiContactRelation" />
    <result column="pui_contact_phone" jdbcType="VARCHAR" property="puiContactPhone" />
    <result column="pui_recommended_custNo" jdbcType="VARCHAR" property="puiRecommendedCustNo" />
    <result column="pui_userType" jdbcType="CHAR" property="puiUserType" />
  </resultMap>
  
  <sql id="Base_Column_List">
    <!-- pui_id, --> pui_custNo, pui_plat_grade, pui_plat_score, pui_mobileBindTime, pui_emailBindTime, 
    pui_platAccountIsCert, pui_registration_time, pui_real_name, pui_cert_type, pui_cert_no, 
    pui_age, pui_sex, pui_birthday, pui_education, pui_college, pui_materia, pui_address, 
    pui_native_place, pui_work_city, pui_work_provinces, pui_work_address, pui_company_type, 
    pui_company_industry, pui_company_size, pui_work_age, pui_work_phone, pui_work_position, 
    pui_month_salary, pui_children, pui_house, pui_cars, pui_cars_loan, pui_house_loan, 
    pui_relative_name, pui_relative_relation, pui_relative_phone, pui_contact_name, pui_contact_relation, 
    pui_contact_phone, pui_recommended_custNo
  </sql>

  <!-- <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p2p_user_info
    where pui_id = #{puiId,jdbcType=BIGINT}
  </select> -->
  <!-- 根据客户号查询客户类型 -->
  <select id ="getUserTypeByCustNO" parameterType="String" resultType="String">
  	select pui_userType 
  	from p2p_user_info
  	where pui_custNo = #{custNo}
  </select>
  <insert id="save" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_info">
    insert into p2p_user_info (<!-- pui_id,  -->pui_custNo, pui_plat_grade, 
      pui_plat_score, pui_mobileBindTime, pui_emailBindTime, 
      pui_platAccountIsCert, pui_registration_time, 
      pui_real_name, pui_cert_type, pui_cert_no, 
      pui_age, pui_sex, pui_birthday, 
      pui_education, pui_college, pui_materia, 
      pui_address, pui_native_place, pui_work_city, 
      pui_work_provinces, pui_work_address, pui_company_type, 
      pui_company_industry, pui_company_size, pui_work_age, 
      pui_work_phone, pui_work_position, pui_month_salary, 
      pui_children, pui_house, pui_cars, 
      pui_cars_loan, pui_house_loan, pui_relative_name, 
      pui_relative_relation, pui_relative_phone, 
      pui_contact_name, pui_contact_relation, pui_contact_phone,pui_recommended_custNo
      )
    values (<!-- #{puiId,jdbcType=BIGINT}, --> #{puiCustno,jdbcType=CHAR}, #{puiPlatGrade,jdbcType=VARCHAR}, 
      #{puiPlatScore,jdbcType=VARCHAR}, #{puiMobilebindtime,jdbcType=TIMESTAMP}, #{puiEmailbindtime,jdbcType=TIMESTAMP}, 
      #{puiPlataccountiscert,jdbcType=CHAR}, #{puiRegistrationTime,jdbcType=TIMESTAMP}, 
      #{puiRealName,jdbcType=VARCHAR}, #{puiCertType,jdbcType=CHAR}, #{puiCertNo,jdbcType=VARCHAR}, 
      #{puiAge,jdbcType=CHAR}, #{puiSex,jdbcType=CHAR}, #{puiBirthday,jdbcType=VARCHAR}, 
      #{puiEducation,jdbcType=VARCHAR}, #{puiCollege,jdbcType=VARCHAR}, #{puiMateria,jdbcType=VARCHAR}, 
      #{puiAddress,jdbcType=VARCHAR}, #{puiNativePlace,jdbcType=VARCHAR}, #{puiWorkCity,jdbcType=VARCHAR}, 
      #{puiWorkProvinces,jdbcType=VARCHAR}, #{puiWorkAddress,jdbcType=VARCHAR}, #{puiCompanyType,jdbcType=VARCHAR}, 
      #{puiCompanyIndustry,jdbcType=VARCHAR}, #{puiCompanySize,jdbcType=VARCHAR}, #{puiWorkAge,jdbcType=VARCHAR}, 
      #{puiWorkPhone,jdbcType=VARCHAR}, #{puiWorkPosition,jdbcType=VARCHAR}, #{puiMonthSalary,jdbcType=VARCHAR}, 
      #{puiChildren,jdbcType=VARCHAR}, #{puiHouse,jdbcType=VARCHAR}, #{puiCars,jdbcType=VARCHAR}, 
      #{puiCarsLoan,jdbcType=VARCHAR}, #{puiHouseLoan,jdbcType=VARCHAR}, #{puiRelativeName,jdbcType=VARCHAR}, 
      #{puiRelativeRelation,jdbcType=VARCHAR}, #{puiRelativePhone,jdbcType=VARCHAR}, 
      #{puiContactName,jdbcType=VARCHAR}, #{puiContactRelation,jdbcType=VARCHAR}, #{puiContactPhone,jdbcType=VARCHAR},
      #{puiRecommendedCustNo,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="saveSelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_info">
    insert into p2p_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <!-- <if test="puiId != null">
        pui_id,
      </if> -->
      <if test="puiCustno != null">
        pui_custNo,
      </if>
      <if test="puiPlatGrade != null">
        pui_plat_grade,
      </if>
      <if test="puiPlatScore != null">
        pui_plat_score,
      </if>
      <if test="puiMobilebindtime != null">
        pui_mobileBindTime,
      </if>
      <if test="puiEmailbindtime != null">
        pui_emailBindTime,
      </if>
      <if test="puiPlataccountiscert != null">
        pui_platAccountIsCert,
      </if>
      <if test="puiRegistrationTime != null">
        pui_registration_time,
      </if>
      <if test="puiRealName != null">
        pui_real_name,
      </if>
      <if test="puiCertType != null">
        pui_cert_type,
      </if>
      <if test="puiCertNo != null">
        pui_cert_no,
      </if>
      <if test="puiAge != null">
        pui_age,
      </if>
      <if test="puiSex != null">
        pui_sex,
      </if>
      <if test="puiBirthday != null">
        pui_birthday,
      </if>
      <if test="puiEducation != null">
        pui_education,
      </if>
      <if test="puiCollege != null">
        pui_college,
      </if>
      <if test="puiMateria != null">
        pui_materia,
      </if>
      <if test="puiAddress != null">
        pui_address,
      </if>
      <if test="puiNativePlace != null">
        pui_native_place,
      </if>
      <if test="puiWorkCity != null">
        pui_work_city,
      </if>
      <if test="puiWorkProvinces != null">
        pui_work_provinces,
      </if>
      <if test="puiWorkAddress != null">
        pui_work_address,
      </if>
      <if test="puiCompanyType != null">
        pui_company_type,
      </if>
      <if test="puiCompanyIndustry != null">
        pui_company_industry,
      </if>
      <if test="puiCompanySize != null">
        pui_company_size,
      </if>
      <if test="puiWorkAge != null">
        pui_work_age,
      </if>
      <if test="puiWorkPhone != null">
        pui_work_phone,
      </if>
      <if test="puiWorkPosition != null">
        pui_work_position,
      </if>
      <if test="puiMonthSalary != null">
        pui_month_salary,
      </if>
      <if test="puiChildren != null">
        pui_children,
      </if>
      <if test="puiHouse != null">
        pui_house,
      </if>
      <if test="puiCars != null">
        pui_cars,
      </if>
      <if test="puiCarsLoan != null">
        pui_cars_loan,
      </if>
      <if test="puiHouseLoan != null">
        pui_house_loan,
      </if>
      <if test="puiRelativeName != null">
        pui_relative_name,
      </if>
      <if test="puiRelativeRelation != null">
        pui_relative_relation,
      </if>
      <if test="puiRelativePhone != null">
        pui_relative_phone,
      </if>
      <if test="puiContactName != null">
        pui_contact_name,
      </if>
      <if test="puiContactRelation != null">
        pui_contact_relation,
      </if>
      <if test="puiContactPhone != null">
        pui_contact_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <!-- <if test="puiId != null">
        #{puiId,jdbcType=BIGINT},
      </if> -->
      <if test="puiCustno != null">
        #{puiCustno,jdbcType=CHAR},
      </if>
      <if test="puiPlatGrade != null">
        #{puiPlatGrade,jdbcType=VARCHAR},
      </if>
      <if test="puiPlatScore != null">
        #{puiPlatScore,jdbcType=VARCHAR},
      </if>
      <if test="puiMobilebindtime != null">
        #{puiMobilebindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="puiEmailbindtime != null">
        #{puiEmailbindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="puiPlataccountiscert != null">
        #{puiPlataccountiscert,jdbcType=CHAR},
      </if>
      <if test="puiRegistrationTime != null">
        #{puiRegistrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="puiRealName != null">
        #{puiRealName,jdbcType=VARCHAR},
      </if>
      <if test="puiCertType != null">
        #{puiCertType,jdbcType=CHAR},
      </if>
      <if test="puiCertNo != null">
        #{puiCertNo,jdbcType=VARCHAR},
      </if>
      <if test="puiAge != null">
        #{puiAge,jdbcType=CHAR},
      </if>
      <if test="puiSex != null">
        #{puiSex,jdbcType=CHAR},
      </if>
      <if test="puiBirthday != null">
        #{puiBirthday,jdbcType=VARCHAR},
      </if>
      <if test="puiEducation != null">
        #{puiEducation,jdbcType=VARCHAR},
      </if>
      <if test="puiCollege != null">
        #{puiCollege,jdbcType=VARCHAR},
      </if>
      <if test="puiMateria != null">
        #{puiMateria,jdbcType=VARCHAR},
      </if>
      <if test="puiAddress != null">
        #{puiAddress,jdbcType=VARCHAR},
      </if>
      <if test="puiNativePlace != null">
        #{puiNativePlace,jdbcType=VARCHAR},
      </if>
      <if test="puiWorkCity != null">
        #{puiWorkCity,jdbcType=VARCHAR},
      </if>
      <if test="puiWorkProvinces != null">
        #{puiWorkProvinces,jdbcType=VARCHAR},
      </if>
      <if test="puiWorkAddress != null">
        #{puiWorkAddress,jdbcType=VARCHAR},
      </if>
      <if test="puiCompanyType != null">
        #{puiCompanyType,jdbcType=VARCHAR},
      </if>
      <if test="puiCompanyIndustry != null">
        #{puiCompanyIndustry,jdbcType=VARCHAR},
      </if>
      <if test="puiCompanySize != null">
        #{puiCompanySize,jdbcType=VARCHAR},
      </if>
      <if test="puiWorkAge != null">
        #{puiWorkAge,jdbcType=VARCHAR},
      </if>
      <if test="puiWorkPhone != null">
        #{puiWorkPhone,jdbcType=VARCHAR},
      </if>
      <if test="puiWorkPosition != null">
        #{puiWorkPosition,jdbcType=VARCHAR},
      </if>
      <if test="puiMonthSalary != null">
        #{puiMonthSalary,jdbcType=VARCHAR},
      </if>
      <if test="puiChildren != null">
        #{puiChildren,jdbcType=VARCHAR},
      </if>
      <if test="puiHouse != null">
        #{puiHouse,jdbcType=VARCHAR},
      </if>
      <if test="puiCars != null">
        #{puiCars,jdbcType=VARCHAR},
      </if>
      <if test="puiCarsLoan != null">
        #{puiCarsLoan,jdbcType=VARCHAR},
      </if>
      <if test="puiHouseLoan != null">
        #{puiHouseLoan,jdbcType=VARCHAR},
      </if>
      <if test="puiRelativeName != null">
        #{puiRelativeName,jdbcType=VARCHAR},
      </if>
      <if test="puiRelativeRelation != null">
        #{puiRelativeRelation,jdbcType=VARCHAR},
      </if>
      <if test="puiRelativePhone != null">
        #{puiRelativePhone,jdbcType=VARCHAR},
      </if>
      <if test="puiContactName != null">
        #{puiContactName,jdbcType=VARCHAR},
      </if>
      <if test="puiContactRelation != null">
        #{puiContactRelation,jdbcType=VARCHAR},
      </if>
      <if test="puiContactPhone != null">
        #{puiContactPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
   <!-- 根据用户编号查询用户所有详细信息（唯一的） -->
  <select id="getUserInfo" parameterType="String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p2p_user_info
    where pui_custNo = #{custNo}
  </select>
  
  <!-- 实名认证更新用户详细信息 -->
  	<!-- <update id="updataUserInfo" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_info">
  		update p2p_user_info
	   		set pui_real_name = #{puiRealName},pui_cert_type = #{puiCertType},pui_cert_no = #{puiCertNo},
	   		pui_platAccountIsCert = #{puiPlataccountiscert},pui_age = #{puiAge},pui_sex = #{puiSex},pui_birthday = #{puiBirthday}
      		where pui_custNo = #{puiCustno}
  	</update> -->
  	<update id="updataUserInfo" parameterType="com.baibao.web.p2p.generator.bean.P2p_user_info">
  		update p2p_user_info
  		<set>
  		<if test = "puiRealName!=null" >
  		pui_real_name = #{puiRealName},
  		</if>
  		<if test="puiCertType!=null">
  		pui_cert_type = #{puiCertType},
  		</if>
  		<if test="puiCertNo!=null">
  		pui_cert_no = #{puiCertNo},
  		</if>
  		<if test="puiPlataccountiscert!=null">
  		pui_platAccountIsCert = #{puiPlataccountiscert},
  		</if>
  		<if test="puiAge!=null">
  		pui_age = #{puiAge},
  		</if>
  		<if test="puiSex!=null">
  		pui_sex = #{puiSex},
  		</if>
  		<if test="puiBirthday!=null">
  		pui_birthday = #{puiBirthday},
  		</if>
  		<if test="puiEmailbindtime!=null">
  		pui_emailBindTime = #{puiEmailbindtime},
  		</if>
  		<if test="puiAddress!=null and puiAddress!=''">
  		pui_address = #{puiAddress},
  		</if>
  		</set>
  		where pui_custNo = #{puiCustno}
  	</update>
 <!-- 根据姓名、身份证号检查实名认证信息是否已绑定其他账户 -->
 <select id="getRealNameAuthentication" resultType="int">
 	SELECT count(pui_custNo) FROM p2p_user_info 
 		WHERE 
 	pui_real_name = #{realName} AND 
 	pui_cert_no=#{certNo} AND 
 	pui_platAccountIsCert = '0' AND
 	pui_custNo != #{custNo}
 </select>
</mapper>