<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_system_paramsMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_system_params" >
    <id column="id" property="id" />
    <result column="name" property="name" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR"/>
    <result column="description" property="description" jdbcType="VARCHAR"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="created" property="created" jdbcType="TIMESTAMP"/>
    <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
  	<result column="status" property="status" jdbcType="INTEGER"/>
  </resultMap>
  
  <sql id="Base_Column_List">
  	id,name,value,description,remark,created,updated,status
  </sql>
   <select id="queryParamsBynames" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/> 
    from p2p_system_params
    WHERE name = #{name} 
    and status = '1'
    </select>
  
  
</mapper>