<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_credit_tender_transMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_credit_tender_trans" >
    <id column="pct_id" property="pctId" jdbcType="BIGINT" />
    <result column="pct_transFlowNo" property="pctTransflowno" jdbcType="CHAR" />
    <result column="pct_outCustNo" property="pctOutcustno" jdbcType="CHAR" />
    <result column="pct_outCustType" property="pctOutcusttype" jdbcType="CHAR" />
    <result column="pct_outPayAcc" property="pctOutpayacc" jdbcType="CHAR" />
    <result column="pct_outPayAccFee" property="pctOutpayaccfee" jdbcType="DECIMAL" />
    <result column="pct_intCustType" property="pctIntcusttype" jdbcType="CHAR" />
    <result column="pct_inPayAcc" property="pctInpayacc" jdbcType="CHAR" />
    <result column="pct_inpayaccfee" property="pctInpayaccfee" jdbcType="DECIMAL" />
    <result column="pct_tranamt" property="pctTranamt" jdbcType="DECIMAL" />
    <result column="pct_transTime" property="pctTranstime" jdbcType="TIMESTAMP" />
    <result column="pct_tenderFlowNo" property="pctTenderflowno" jdbcType="CHAR" />
    <result column="pct_host_response_time" property="pctHostResponseTime" jdbcType="TIMESTAMP" />
    <result column="pct_host_response_flowNum" property="pctHostResponseFlownum" jdbcType="VARCHAR" />
    <result column="pct_host_return_code" property="pctHostReturnCode" jdbcType="VARCHAR" />
    <result column="pct_host_return_message" property="pctHostReturnMessage" jdbcType="VARCHAR" />
    <result column="pct_payStatus" property="pctPaystatus" jdbcType="VARCHAR" />
    <result column="pct_remark" property="pctRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pct_id, pct_transFlowNo, pct_outCustNo, pct_outCustType, pct_outPayAcc, pct_outPayAccFee, 
    pct_intCustType, pct_inPayAcc, pct_inpayaccfee, pct_tranamt, pct_transTime, pct_tenderFlowNo, 
    pct_host_response_time, pct_host_response_flowNum, pct_host_return_code, pct_host_return_message, 
    pct_payStatus, pct_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_transExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from p2p_credit_tender_trans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p2p_credit_tender_trans
    where pct_id = #{pctId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p2p_credit_tender_trans
    where pct_id = #{pctId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_transExample" >
    delete from p2p_credit_tender_trans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_trans" >
    insert into p2p_credit_tender_trans (pct_id, pct_transFlowNo, pct_outCustNo, 
      pct_outCustType, pct_outPayAcc, pct_outPayAccFee, 
      pct_intCustType, pct_inPayAcc, pct_inpayaccfee, 
      pct_tranamt, pct_transTime, pct_tenderFlowNo, 
      pct_host_response_time, pct_host_response_flowNum, 
      pct_host_return_code, pct_host_return_message, 
      pct_payStatus, pct_remark)
    values (#{pctId,jdbcType=BIGINT}, #{pctTransflowno,jdbcType=CHAR}, #{pctOutcustno,jdbcType=CHAR}, 
      #{pctOutcusttype,jdbcType=CHAR}, #{pctOutpayacc,jdbcType=CHAR}, #{pctOutpayaccfee,jdbcType=DECIMAL}, 
      #{pctIntcusttype,jdbcType=CHAR}, #{pctInpayacc,jdbcType=CHAR}, #{pctInpayaccfee,jdbcType=DECIMAL}, 
      #{pctTranamt,jdbcType=DECIMAL}, #{pctTranstime,jdbcType=TIMESTAMP}, #{pctTenderflowno,jdbcType=CHAR}, 
      #{pctHostResponseTime,jdbcType=TIMESTAMP}, #{pctHostResponseFlownum,jdbcType=VARCHAR}, 
      #{pctHostReturnCode,jdbcType=VARCHAR}, #{pctHostReturnMessage,jdbcType=VARCHAR}, 
      #{pctPaystatus,jdbcType=VARCHAR}, #{pctRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_trans" >
    insert into p2p_credit_tender_trans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pctId != null" >
        pct_id,
      </if>
      <if test="pctTransflowno != null" >
        pct_transFlowNo,
      </if>
      <if test="pctOutcustno != null" >
        pct_outCustNo,
      </if>
      <if test="pctOutcusttype != null" >
        pct_outCustType,
      </if>
      <if test="pctOutpayacc != null" >
        pct_outPayAcc,
      </if>
      <if test="pctOutpayaccfee != null" >
        pct_outPayAccFee,
      </if>
      <if test="pctIntcusttype != null" >
        pct_intCustType,
      </if>
      <if test="pctInpayacc != null" >
        pct_inPayAcc,
      </if>
      <if test="pctInpayaccfee != null" >
        pct_inpayaccfee,
      </if>
      <if test="pctTranamt != null" >
        pct_tranamt,
      </if>
      <if test="pctTranstime != null" >
        pct_transTime,
      </if>
      <if test="pctTenderflowno != null" >
        pct_tenderFlowNo,
      </if>
      <if test="pctHostResponseTime != null" >
        pct_host_response_time,
      </if>
      <if test="pctHostResponseFlownum != null" >
        pct_host_response_flowNum,
      </if>
      <if test="pctHostReturnCode != null" >
        pct_host_return_code,
      </if>
      <if test="pctHostReturnMessage != null" >
        pct_host_return_message,
      </if>
      <if test="pctPaystatus != null" >
        pct_payStatus,
      </if>
      <if test="pctRemark != null" >
        pct_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pctId != null" >
        #{pctId,jdbcType=BIGINT},
      </if>
      <if test="pctTransflowno != null" >
        #{pctTransflowno,jdbcType=CHAR},
      </if>
      <if test="pctOutcustno != null" >
        #{pctOutcustno,jdbcType=CHAR},
      </if>
      <if test="pctOutcusttype != null" >
        #{pctOutcusttype,jdbcType=CHAR},
      </if>
      <if test="pctOutpayacc != null" >
        #{pctOutpayacc,jdbcType=CHAR},
      </if>
      <if test="pctOutpayaccfee != null" >
        #{pctOutpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="pctIntcusttype != null" >
        #{pctIntcusttype,jdbcType=CHAR},
      </if>
      <if test="pctInpayacc != null" >
        #{pctInpayacc,jdbcType=CHAR},
      </if>
      <if test="pctInpayaccfee != null" >
        #{pctInpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="pctTranamt != null" >
        #{pctTranamt,jdbcType=DECIMAL},
      </if>
      <if test="pctTranstime != null" >
        #{pctTranstime,jdbcType=TIMESTAMP},
      </if>
      <if test="pctTenderflowno != null" >
        #{pctTenderflowno,jdbcType=CHAR},
      </if>
      <if test="pctHostResponseTime != null" >
        #{pctHostResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pctHostResponseFlownum != null" >
        #{pctHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="pctHostReturnCode != null" >
        #{pctHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="pctHostReturnMessage != null" >
        #{pctHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="pctPaystatus != null" >
        #{pctPaystatus,jdbcType=VARCHAR},
      </if>
      <if test="pctRemark != null" >
        #{pctRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_transExample" resultType="java.lang.Integer" >
    select count(1) from p2p_credit_tender_trans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p2p_credit_tender_trans
    <set >
      <if test="record.pctId != null" >
        pct_id = #{record.pctId,jdbcType=BIGINT},
      </if>
      <if test="record.pctTransflowno != null" >
        pct_transFlowNo = #{record.pctTransflowno,jdbcType=CHAR},
      </if>
      <if test="record.pctOutcustno != null" >
        pct_outCustNo = #{record.pctOutcustno,jdbcType=CHAR},
      </if>
      <if test="record.pctOutcusttype != null" >
        pct_outCustType = #{record.pctOutcusttype,jdbcType=CHAR},
      </if>
      <if test="record.pctOutpayacc != null" >
        pct_outPayAcc = #{record.pctOutpayacc,jdbcType=CHAR},
      </if>
      <if test="record.pctOutpayaccfee != null" >
        pct_outPayAccFee = #{record.pctOutpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="record.pctIntcusttype != null" >
        pct_intCustType = #{record.pctIntcusttype,jdbcType=CHAR},
      </if>
      <if test="record.pctInpayacc != null" >
        pct_inPayAcc = #{record.pctInpayacc,jdbcType=CHAR},
      </if>
      <if test="record.pctInpayaccfee != null" >
        pct_inpayaccfee = #{record.pctInpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="record.pctTranamt != null" >
        pct_tranamt = #{record.pctTranamt,jdbcType=DECIMAL},
      </if>
      <if test="record.pctTranstime != null" >
        pct_transTime = #{record.pctTranstime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pctTenderflowno != null" >
        pct_tenderFlowNo = #{record.pctTenderflowno,jdbcType=CHAR},
      </if>
      <if test="record.pctHostResponseTime != null" >
        pct_host_response_time = #{record.pctHostResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pctHostResponseFlownum != null" >
        pct_host_response_flowNum = #{record.pctHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="record.pctHostReturnCode != null" >
        pct_host_return_code = #{record.pctHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.pctHostReturnMessage != null" >
        pct_host_return_message = #{record.pctHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.pctPaystatus != null" >
        pct_payStatus = #{record.pctPaystatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pctRemark != null" >
        pct_remark = #{record.pctRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p2p_credit_tender_trans
    set pct_id = #{record.pctId,jdbcType=BIGINT},
      pct_transFlowNo = #{record.pctTransflowno,jdbcType=CHAR},
      pct_outCustNo = #{record.pctOutcustno,jdbcType=CHAR},
      pct_outCustType = #{record.pctOutcusttype,jdbcType=CHAR},
      pct_outPayAcc = #{record.pctOutpayacc,jdbcType=CHAR},
      pct_outPayAccFee = #{record.pctOutpayaccfee,jdbcType=DECIMAL},
      pct_intCustType = #{record.pctIntcusttype,jdbcType=CHAR},
      pct_inPayAcc = #{record.pctInpayacc,jdbcType=CHAR},
      pct_inpayaccfee = #{record.pctInpayaccfee,jdbcType=DECIMAL},
      pct_tranamt = #{record.pctTranamt,jdbcType=DECIMAL},
      pct_transTime = #{record.pctTranstime,jdbcType=TIMESTAMP},
      pct_tenderFlowNo = #{record.pctTenderflowno,jdbcType=CHAR},
      pct_host_response_time = #{record.pctHostResponseTime,jdbcType=TIMESTAMP},
      pct_host_response_flowNum = #{record.pctHostResponseFlownum,jdbcType=VARCHAR},
      pct_host_return_code = #{record.pctHostReturnCode,jdbcType=VARCHAR},
      pct_host_return_message = #{record.pctHostReturnMessage,jdbcType=VARCHAR},
      pct_payStatus = #{record.pctPaystatus,jdbcType=VARCHAR},
      pct_remark = #{record.pctRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_trans" >
    update p2p_credit_tender_trans
    <set >
      <if test="pctTransflowno != null" >
        pct_transFlowNo = #{pctTransflowno,jdbcType=CHAR},
      </if>
      <if test="pctOutcustno != null" >
        pct_outCustNo = #{pctOutcustno,jdbcType=CHAR},
      </if>
      <if test="pctOutcusttype != null" >
        pct_outCustType = #{pctOutcusttype,jdbcType=CHAR},
      </if>
      <if test="pctOutpayacc != null" >
        pct_outPayAcc = #{pctOutpayacc,jdbcType=CHAR},
      </if>
      <if test="pctOutpayaccfee != null" >
        pct_outPayAccFee = #{pctOutpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="pctIntcusttype != null" >
        pct_intCustType = #{pctIntcusttype,jdbcType=CHAR},
      </if>
      <if test="pctInpayacc != null" >
        pct_inPayAcc = #{pctInpayacc,jdbcType=CHAR},
      </if>
      <if test="pctInpayaccfee != null" >
        pct_inpayaccfee = #{pctInpayaccfee,jdbcType=DECIMAL},
      </if>
      <if test="pctTranamt != null" >
        pct_tranamt = #{pctTranamt,jdbcType=DECIMAL},
      </if>
      <if test="pctTranstime != null" >
        pct_transTime = #{pctTranstime,jdbcType=TIMESTAMP},
      </if>
      <if test="pctTenderflowno != null" >
        pct_tenderFlowNo = #{pctTenderflowno,jdbcType=CHAR},
      </if>
      <if test="pctHostResponseTime != null" >
        pct_host_response_time = #{pctHostResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pctHostResponseFlownum != null" >
        pct_host_response_flowNum = #{pctHostResponseFlownum,jdbcType=VARCHAR},
      </if>
      <if test="pctHostReturnCode != null" >
        pct_host_return_code = #{pctHostReturnCode,jdbcType=VARCHAR},
      </if>
      <if test="pctHostReturnMessage != null" >
        pct_host_return_message = #{pctHostReturnMessage,jdbcType=VARCHAR},
      </if>
      <if test="pctPaystatus != null" >
        pct_payStatus = #{pctPaystatus,jdbcType=VARCHAR},
      </if>
      <if test="pctRemark != null" >
        pct_remark = #{pctRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where pct_id = #{pctId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibao.web.p2p.generator.bean.P2p_credit_tender_trans" >
    update p2p_credit_tender_trans
    set pct_transFlowNo = #{pctTransflowno,jdbcType=CHAR},
      pct_outCustNo = #{pctOutcustno,jdbcType=CHAR},
      pct_outCustType = #{pctOutcusttype,jdbcType=CHAR},
      pct_outPayAcc = #{pctOutpayacc,jdbcType=CHAR},
      pct_outPayAccFee = #{pctOutpayaccfee,jdbcType=DECIMAL},
      pct_intCustType = #{pctIntcusttype,jdbcType=CHAR},
      pct_inPayAcc = #{pctInpayacc,jdbcType=CHAR},
      pct_inpayaccfee = #{pctInpayaccfee,jdbcType=DECIMAL},
      pct_tranamt = #{pctTranamt,jdbcType=DECIMAL},
      pct_transTime = #{pctTranstime,jdbcType=TIMESTAMP},
      pct_tenderFlowNo = #{pctTenderflowno,jdbcType=CHAR},
      pct_host_response_time = #{pctHostResponseTime,jdbcType=TIMESTAMP},
      pct_host_response_flowNum = #{pctHostResponseFlownum,jdbcType=VARCHAR},
      pct_host_return_code = #{pctHostReturnCode,jdbcType=VARCHAR},
      pct_host_return_message = #{pctHostReturnMessage,jdbcType=VARCHAR},
      pct_payStatus = #{pctPaystatus,jdbcType=VARCHAR},
      pct_remark = #{pctRemark,jdbcType=VARCHAR}
    where pct_id = #{pctId,jdbcType=BIGINT}
  </update>
</mapper>