<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_logMapper" >
  <resultMap id="BaseResultMap" type="com.baibao.web.p2p.generator.bean.P2p_log" >
    <id column="pl_logid" property="logId" jdbcType="BIGINT" />
    <result column="pl_custno" property="custno" jdbcType="VARCHAR" />
    <result column="pl_operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="pl_operation_ip" property="operationIp" jdbcType="VARCHAR" />
    <result column="pl_operation_data" property="operationData" jdbcType="VARCHAR" />
    <result column="pl_operation_result" property="operationResult" jdbcType="VARCHAR" />
    <result column="pl_operation_dec" property="operationDec" jdbcType="VARCHAR" />
    <result column="pl_operation_channel" property="operationChannel" jdbcType="VARCHAR" />
    <result column="pl_operation_joggle" property="operationjoggle" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="saveLog" parameterType="com.baibao.web.p2p.generator.bean.P2p_log">
  	insert into p2p_log (pl_custno,pl_operation_time,pl_operation_ip,pl_operation_data,pl_operation_result,pl_operation_dec,pl_operation_channel,pl_operation_joggle) 
  	values(#{custno}, #{operationTime},#{operationIp},#{operationData},#{operationResult},#{operationDec},#{operationChannel},#{operationjoggle})
  </insert>
  
</mapper>