<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibao.web.p2p.generator.dao.P2p_contract_templateMapper">
    <select id="getTemplate" parameterType="java.lang.String" resultType="java.lang.String">
SELECT pct.content FROM p2p_contract_template pct WHERE
    pct.contract_code = #{code}
    </select>
    
    <select id="countTemplate" parameterType="java.lang.String" resultType="long">
SELECT COUNT(pct.id) FROM p2p_contract_template pct WHERE
    pct.contract_code = #{code}
    </select>
    
    <select id="getContent" parameterType="java.lang.String" resultType="java.lang.String">
SELECT pcc.content FROM p2p_contract_content pcc WHERE
    pcc.tender_flowno = #{flowno}
    </select>
    
    <insert id="saveContent">
INSERT INTO p2p_contract_content(product_no, tender_flowno, cust_no)
    VALUES(#{0}, #{1}, #{2})
    </insert>
</mapper>
