@charset "utf-8";
html {
	-ms-touch-action: none;
}

body,
div,
h1,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	border: none;
	outline: none;
}

.imdRegister:hover,
.imdRegister:visited,
.imdRegister:link,
.imdRegister:active {
	text-decoration: none;
	color: #ffffff;
}

img {
	display: block;
	border: none;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	*cursor: default;
	font: 16px/1.5 "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}

.main-nav {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .6);
	border: none;
}

.invest-list-nav {
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, .5);
	border: none;
	z-index: 999;
}

.lnLi a:hover {
	color: #fff;
}

#pageContain {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.lsWhatbc {
	position: relative;
}

.page {
	box-shadow: 1px 1px 4px 0 #000;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0;
}

.contain {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
}

.current .contain,
.slide .contain {
	display: block;
}

.current {
	display: block;
	z-index: 1;
}

.slide {
	display: block;
	z-index: 2;
}

.swipe {
	display: block;
	z-index: 3;
	transition-duration: 0ms !important;
	-webkit-transition-duration: 0ms !important;
}

.page1 {
	background: url(../pictures/aboutUs/backgound1.png) no-repeat;
	background-size: 100% 100%;
}

.page2 {
	background: url(../pictures/aboutUs/backgound2.png) no-repeat;
	background-size: 100% 100%;
}

.page3 {
	background: url(../pictures/aboutUs/backgound3.png) no-repeat;
	background-size: 100% 100%;
}

.page4 {
	background: url(../pictures/aboutUs/backgound4.png) no-repeat;
	background-size: 100% 100%;
}

.section1 {
	background: #fff;
}

.section2 {
	background: url(../pictures/aboutUs/backgound6.png) no-repeat;
	background-size: 100% 100%;
}

.section3 {
	background: #c2e6a8;
	position: relative;
}

.section4 {
	background: #e78b62;
	position: relative;
}

.section5 {
	background: url(../pictures/aboutUs/backgound5.png) no-repeat;
	background-size: 100% 100%;
}

#navBar {
	*padding-left: 80px;
	z-index: 3;
	position: absolute;
	font-size: 0px;
	line-height: 0;
	bottom: 80px;
	text-align: center;
	width: 200px;
	left: 50%;
	margin-left: -100px;
}

#navBar .active {
	background: #ccc;
}

#navBar li {
	background: transparent;
	border: 1px solid #ccc;
	display: inline-block;
	font-size: 0px;
	margin: 0 4px;
	*float: left;
	*zoom: 1;
	cursor: pointer;
	transition: all .7s ease;
	border-radius: 50%;
	line-height: 10px;
	text-align: center;
	width: 10px;
	height: 10px;
}

#navBarVtic {
	*padding-left: 80px;
	z-index: 3;
	position: absolute;
	font-size: 0px;
	line-height: 0;
	left: 40px;
	text-align: center;
	width: 200px;
	top: 50%;
	transform: translate3d(0 -50% 0);
}

#navBarVtic .active {
	background: #ccc;
}

#navBarVtic li {
	background: transparent;
	border: 1px solid #ccc;
	font-size: 0px;
	margin: 10px 0;
	*zoom: 1;
	cursor: pointer;
	transition: all .7s ease;
	border-radius: 50%;
	line-height: 10px;
	text-align: center;
	width: 10px;
	height: 10px;
}

#prev,
#next {
	z-index: 4;
	text-align: center;
	line-height: 40px;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	cursor: pointer;
	margin-top: -20px;
}

#prev {
	left: 0
}

#next {
	right: 0
}

.section1 .contain {
	display: block !important;
}

@media screen and (max-width: 680px) {
	.nav ul {
		display: none;
	}
	.nav span {
		font-size: 22px;
	}
	.page1 p {
		font-size: 14px;
	}
	#next,
	#prev {
		display: none;
	}
	.page1-box {
		margin-left: -91px;
		margin-top: -90px;
		width: 182px;
		height: 173px;
	}
	.page2-box {
		margin-left: -160px;
		margin-top: -70px;
		width: 320px;
		height: 140px;
	}
	.page3-box {
		margin-left: -60px;
		margin-top: -50px;
		width: 160px;
		height: 100px;
	}
	.page4-box {
		margin-left: -91px;
		margin-top: -90px;
		width: 182px;
		height: 173px;
	}
	.title {
		font-size: 30px;
		letter-spacing: 2px;
	}
	.titleEng {
		font-size: 18px;
	}
}

.page1Cont {
	position: absolute;
	top: 50%;
	left: -200%;
	transform: translate3d(0, -45%, 0);
	-webkit-animation: leftTo 1.5s ease 1s both;
	-moz-animation: leftTo 1.5s ease 1s both;
	-ms-animation: leftTo 1.5s ease 1s both;
	animation: leftTo 1.5s ease 1s both;
}

.smWd {
	position: absolute;
	top: 72%;
	left: 0;
}

.m1 {
	-webkit-animation: smWd 1s ease 2.8s both;
	-moz-animation: smWd 1s ease 2.8s both;
	-ms-animation: smWd 1s ease 2.8s both;
	animation: smWd 1s ease 2.8s both;
}

.m2 {
	-webkit-animation: smWd 1s ease 3.2s both;
	-moz-animation: smWd 1s ease 3.2s both;
	-ms-animation: smWd 1s ease 3.2s both;
	animation: smWd 1s ease 3.2s both;
}

.m3 {
	-webkit-animation: smWd 1s ease 3.6s both;
	-moz-animation: smWd 1s ease 3.6s both;
	-ms-animation: smWd 1s ease 3.6s both;
	animation: smWd 1s ease 3.6s both;
}

.m4 {
	-webkit-animation: smWd 1s ease 4.4s both;
	-moz-animation: smWd 1s ease 4.4s both;
	-ms-animation: smWd 1s ease 4.4s both;
	animation: smWd 1s ease 4.4s both;
}

.m5 {
	-webkit-animation: smWd 1s ease 4.8s both;
	-moz-animation: smWd 1s ease 4.8s both;
	-ms-animation: smWd 1s ease 4.8s both;
	animation: smWd 1s ease 4.8s both;
}

.m6 {
	-webkit-animation: smWd 1s ease 5.2s both;
	-moz-animation: smWd 1s ease 5.2s both;
	-ms-animation: smWd 1s ease 5.2s both;
	animation: smWd 1s ease 5.2s both;
}

.m7 {
	-webkit-animation: smWd 1s ease 5.8s both;
	-moz-animation: smWd 1s ease 5.8s both;
	-ms-animation: smWd 1s ease 5.8s both;
	animation: smWd 1s ease 5.8s both;
}

.m8 {
	-webkit-animation: smWd 1s ease 6.2s both;
	-moz-animation: smWd 1s ease 6.2s both;
	-ms-animation: smWd 1s ease 6.2s both;
	animation: smWd 1s ease 6.2s both;
}

@keyframes smWd {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes smWd {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes smWd {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes smWd {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.botRig {
	position: absolute;
	right: -100%;
	bottom: -100%;
	-webkit-animation: botRig 1.5s ease 4s both;
	-moz-animation: botRig 1.5s ease 4s both;
	-ms-animation: botRig 1.5s ease 4s both;
	animation: botRig 1.5s ease 4s both;
}

.sec3Title {
	height: 34px;
	width: 100%;
	line-height: 34px;
	margin-top: 80px;
	text-align: center;
	position: relative;
}

.titCont {
	color: #1f2e59;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

.horLine {
	width: 20px;
	display: inline-block;
	height: 5px;
	background: #1d2e59;
	margin-top: 15px;
	-webkit-animation: widthL 2s ease .5s both;
	-moz-animation: widthL 2s ease .5s both;
	-ms-animation: widthL 2s ease .5s both;
	animation: widthL 2s ease .5s both;
}

.horLineL {
	float: left;
}

.imgLeft {
	float: left;
	line-height: 34px;
}

.imgRight {
	float: right;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.horLineR {
	float: right;
}

@keyframes botRig {
	0% {
		opacity: 0;
		right: -100%;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 30%;
		right: 10%;
	}
}

@-webkit-keyframes botRig {
	0% {
		opacity: 0;
		right: -100%;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 30%;
		right: 10%;
	}
}

@-moz-keyframes botRig {
	0% {
		opacity: 0;
		right: -100%;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 30%;
		right: 10%;
	}
}

@-ms-keyframes botRig {
	0% {
		opacity: 0;
		right: -100%;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 30%;
		right: 10%;
	}
}

.introCont {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

.introCont img {
	display: block;
	margin-bottom: 32px;
}

.guideW1 {
	-webkit-animation: scaleIn 1.5s ease 1s both;
	-moz-animation: scaleIn 1.5s ease 1s both;
	-ms-animation: scaleIn 1.5s ease 1s both;
	animation: scaleIn 1.5s ease 1s both;
}

.guideW2 {
	-webkit-animation: scaleIn 1.5s ease 2s both;
	-moz-animation: scaleIn 1.5s ease 2s both;
	-ms-animation: scaleIn 1.5s ease 2s both;
	animation: scaleIn 1.5s ease 2s both;
}

.guideW3 {
	-webkit-animation: scaleIn 1.5s ease 3s both;
	-moz-animation: scaleIn 1.5s ease 3s both;
	-ms-animation: scaleIn 1.5s ease 3s both;
	animation: scaleIn 1.5s ease 3s both;
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-ms-keyframes scaleIn {
	0% {
		opacity: 0;
		-ms-transform: scale(3);
	}
	100% {
		opacity: 1;
		-ms-transform: scale(1);
	}
}

@keyframes widthL {
	0% {
		width: 5%;
	}
	100% {
		width: 35%;
	}
}

@-webkit-keyframes widthL {
	0% {
		width: 5%;
	}
	100% {
		width: 35%;
	}
}

@-moz-keyframes widthL {
	0% {
		width: 5%;
	}
	100% {
		width: 35%;
	}
}

@-ms-keyframes widthL {
	0% {
		width: 5%;
	}
	100% {
		width: 35%;
	}
}

.flowImg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -130%, 0);
	height: 169px;
	text-align: center;
	width: 1084px;
}

.flowImg img {
	position: absolute;
}

.jiekuanren {
	position: absolute;
	top: 0px;
	right: -200%;
	-webkit-animation: width992 1.5s ease 2s both;
	-moz-animation: width992 1.5s ease 2s both;
	-ms-animation: width992 1.5s ease 2s both;
	animation: width992 1.5s ease 2s both;
}

.arrRight1 {
	right: 907px;
	top: 32px;
	-webkit-animation: arrRight .8s linear 3.5s both;
	-moz-animation: arrRight .8s linear 3.5s both;
	-ms-animation: warrRight .8s linear 3.5s both;
	animation: arrRight .8s linear 3.5s both;
}

.borwMony {
	top: 0;
	right: -100%;
	-webkit-animation: width750 1.5s ease 4.8 both;
	-moz-animation: width750 1.5s ease 4.8s both;
	-ms-animation: width750 1.5s ease 4.8s both;
	animation: width750 1.5s ease 4.8s both;
}

.arrRight2 {
	top: 32px;
	right: 668px;
	-webkit-animation: arrRight .8s linear 6.3s both;
	-moz-animation: arrRight .8s linear 6.3s both;
	-ms-animation: warrRight .8s linear 6.3s both;
	animation: arrRight .8s linear 6.3s both;
}

.fengkong {
	top: 0;
	right: -100%;
	-webkit-animation: width497 1.5s ease 7.6s both;
	-moz-animation: width497 1.5s ease 7.6s both;
	-ms-animation: width497 1.5s ease 7.6s both;
	animation: width497 1.5s ease 7.6s both;
}

.arrRight3 {
	right: 416px;
	top: 32px;
	-webkit-animation: arrRight .8s linear 9.1s both;
	-moz-animation: arrRight .8s linear 9.1s both;
	-ms-animation: warrRight .8s linear 9.1s both;
	animation: arrRight .8s linear 9.1s both;
}

.jingxuan {
	top: 0;
	right: -100%;
	-webkit-animation: width249 1.5s ease 10.4s both;
	-moz-animation: width249 1.5s ease 10.4s both;
	-ms-animation: width249 1.5s ease 10.4s both;
	animation: width249 1.5s ease 10.4s both;
}

.arrRight4 {
	right: 150px;
	top: 32px;
	-webkit-animation: arrRight .8s linear 11.9s both;
	-moz-animation: arrRight .8s linear 11.9s both;
	-ms-animation: arrRight .8s linear 11.9s both;
	animation: arrRight .8s linear 11.9s both;
}

.peaceIstment {
	top: 0;
	right: -100%;
	-webkit-animation: width0 1.5s ease 13.2s both;
	-moz-animation: width0 1.5s ease 13.2s both;
	-ms-animation: width0 1.5s ease 13.2s both;
	animation: width0 1.5s ease 13.2s both;
}

.sec3cont {
	color: #686669;
	font-size: 18px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	bottom: -100%;
	-webkit-animation: botRig150 1.5s ease 13.6s both;
	-moz-animation: botRig150 1.5s ease 13.6s both;
	-ms-animation: botRig150 1.5s ease 13.6s both;
	animation: botRig150 1.5s ease 13.6s both;
}

.sec4contain {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate3d(-50%, -50%, 0);
}

.fcircle img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.sec4cont img {
	position: absolute;
}

.borrowMy {
	top: -113px;
	left: -436px;
	-webkit-animation: OPCITY 1s linear 6.5s both;
	-moz-animation: OPCITY 1s linear 6.5s both;
	-ms-animation: OPCITY 1s linear 6.5s both;
	animation: OPCITY 1s linear 6.5s both;
}

.riskMgement {
	left: -423px;
	top: 126px;
	-webkit-animation: OPCITY 1s linear 7.7s both;
	-moz-animation: OPCITY 1s linear 7.7s both;
	-ms-animation: OPCITY 1s linear 7.7s both;
	animation: OPCITY 1s linear 7.7s both;
}

.larD {
	top: -184px;
	-webkit-animation: OPCITY 1s linear 11.3s both;
	-moz-animation: OPCITY 1s linear 11.3s both;
	-ms-animation: OPCITY 1s linear 11.3s both;
	animation: OPCITY 1s linear 11.3s both;
}

.strictW {
	top: -34px;
	left: 150px;
	-webkit-animation: OPCITY 1s linear 10.1s both;
	-moz-animation: OPCITY 1s linear 10.1s both;
	-ms-animation: OPCITY 1s linear 10.1s both;
	animation: OPCITY 1s linear 10.1s both;
}

.lawer {
	top: 122px;
	left: 92px;
	-webkit-animation: OPCITY 1s linear 8.9s both;
	-moz-animation: OPCITY 1s linear 8.9s both;
	-ms-animation: OPCITY 1s linear 8.9s both;
	animation: OPCITY 1s linear 8.9s both;
}

.fiveL1 {
	top: 10%;
	left: 50%;
	margin-top: -57.5px;
	margin-left: -61px;
	-webkit-animation: scaleAll 1s linear 2.5s both;
	-moz-animation: scaleAll 1s linear 2.5s both;
	-ms-animation: scaleAll 1s linear 2.5s both;
	animation: scaleAll 1s linear 2.5s both;
}

.fiveL2 {
	-webkit-animation: OPCITY .7s ease-in-out 3.5s both;
	-moz-animation: OPCITY .7s ease-in-out 3.5s both;
	-ms-animation: OPCITY .7s ease-in-out 3.5s both;
	animation: OPCITY .7s ease-in-out 3.5s both;
}

.fiveL3 {
	-webkit-animation: OPCITY .7s ease-in-out 4.2s both;
	-moz-animation: OPCITY .7s ease-in-out 4.2s both;
	-ms-animation: OPCITY .7s ease-in-out 4.2s both;
	animation: OPCITY .7s ease-in-out 4.2s both;
}

.fiveL4 {
	-webkit-animation: OPCITY .7s ease-in-out 4.9s both;
	-moz-animation: OPCITY .7s ease-in-out 4.9s both;
	-ms-animation: OPCITY .7s ease-in-out 4.9s both;
	animation: OPCITY .7s ease-in-out 4.9s both;
}

.fiveL5 {
	-webkit-animation: OPCITY .7s ease-in-out 5.6s both;
	-moz-animation: OPCITY .7s ease-in-out 5.6s both;
	-ms-animation: OPCITY .7s ease-in-out 5.6s both;
	animation: OPCITY .7s ease-in-out 5.6s both;
}

.sec5contain {
	position: absolute;
	left: 50%;
	top: 22%;
	transform: translate3d(-50%, -50%, 0);
}

.sec5Nav {
	width: 952px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate3d(-50%, -30%, 0);
}

.sec5Nav li {
	position: absolute;
}

.step1 {
	left: 0;
}

.step2 {
	left: 310px;
}

.step3 {
	left: 620px;
}

.step-done {
	display: none;
}

.sec5ch {
	width: 804px;
	position: absolute;
	top: 35%;
	left: 50%;
	height: 387px;
	transform: translate3d(-50%, 0, 0);
}

.steps {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.stShow {
	display: block;
}

.btnLeft {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -43px;
	display: block;
	width: 43px;
	height: 86px;
	background: url(../pictures/aboutUs/btn-left.png) no-repeat;
}

.btnRight {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -43px;
	display: block;
	width: 43px;
	height: 86px;
	background: url(../pictures/aboutUs/btn-right.png) no-repeat;
}

.imdRegister {
	background: #fe4f10;
	font-size: 22px;
	height: 54px;
	width: 280px;
	display: block;
	text-align: center;
	line-height: 54px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -140px;
	color: #ffffff;
	border-radius: 4px;
	animation: scal .8s linear infinite;
}

@keyframes leftTo {
	0% {
		opacity: 0;
		left: -200%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@-webkit-keyframes leftTo {
	0% {
		opacity: 0;
		left: -200%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@-moz-keyframes leftTo {
	0% {
		opacity: 0;
		left: -200%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@-ms-keyframes leftTo {
	0% {
		opacity: 0;
		left: -200%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes width992 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 992px;
	}
}

@-webkit-keyframes width992 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 992px;
	}
}

@-moz-keyframes width992 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 992px;
	}
}

@-ms-keyframes width992 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 992px;
	}
}

@keyframes width750 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 750px;
	}
}

@-webkit-keyframes width750 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 750px;
	}
}

@-moz-keyframes width750 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 750px;
	}
}

@-ms-keyframes width750 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 750px;
	}
}

@keyframes width497 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 497px;
	}
}

@-webkit-keyframes width497 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 497px;
	}
}

@-moz-keyframes width497 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 497px;
	}
}

@-ms-keyframes width497 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 497px;
	}
}

@keyframes width249 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 249px;
	}
}

@-webkit-keyframes width249 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 249px;
	}
}

@-moz-keyframes width249 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 249px;
	}
}

@-ms-keyframes width249 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 249px;
	}
}

@keyframes width0 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 0px;
	}
}

@-webkit-keyframes width0 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 0px;
	}
}

@-moz-keyframes width0 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 0px;
	}
}

@-ms-keyframes width0 {
	0% {
		opacity: 0;
		right: -200%;
	}
	100% {
		opacity: 1;
		right: 0px;
	}
}

@keyframes arrRight {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes arrRight {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes arrRight {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes arrRight {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes botRig150 {
	0% {
		opacity: 0;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 25%;
	}
}

@-webkit-keyframes botRig150 {
	0% {
		opacity: 0;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 25%;
	}
}

@-moz-keyframes botRig150 {
	0% {
		opacity: 0;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 25%;
	}
}

@-ms-keyframes botRig150 {
	0% {
		opacity: 0;
		bottom: -100%;
	}
	100% {
		opacity: 1;
		bottom: 25%;
	}
}

@keyframes scaleAll {
	0% {
		opacity: 0;
		transform: rotate(0);
	}
	30% {
		opacity: 1;
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes OPCITY {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes OPCITY {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes OPCITY {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes OPCITY {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scal {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes scal {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-moz-keyframes scal {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-ms-keyframes scal {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}


/*媒体查询*/

@media screen and (max-width: 1900px) {
	.page1 .page1Cont {
		width: 440px;
	}
	.page2 .page1Cont {
		width: 310px;
	}
	.page3 .page1Cont {
		width: 310px;
	}
	.page4 .page1Cont {
		width: 310px;
	}
	.page4 .m1 {
		width: 39px;
	}
	.page4 .m2 {
		width: 86px;
	}
	.page4 .m3 {
		width: 136px;
	}
	.page4 .m4 {
		width: 180px;
	}
	.page4 .m5 {
		width: 252px;
	}
	.page4 .m6 {
		width: 300px;
	}
	.page4 .m7 {
		width: 348px;
	}
	.page4 .m8 {
		width: 395px;
	}
	.titCont {
		font-size: 24px;
	}
	.sec3cont {
		font-size: 16px;
	}
	.introCont img {
		width: 430px;
	}
	.botRig {
		width: 310px;
	}
	.jiekuanren,
	.borwMony,
	.peaceIstment {
		width: 80px;
	}
	.fengkong {
		width: 110px;
	}
	.jingxuan {
		width: 82px;
	}
	.sec5contain {
		top: 20%:
	}
	.sec5Nav {
		width: 840px;
	}
	.sec5Nav img {
		width: 290px;
	}
	.step2 {
		left: 280px;
	}
	.step3 {
		left: 560px;
	}
	.sec5ch {
		top: 30%;
	}
	.register {
		width: 500px;
	}
	.charge,
	.pageInvstment {
		width: 400px;
	}
	.btnRight {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -43px;
		display: block;
		width: 35px;
		height: 70px;
		background: url(../pictures/aboutUs/btn-right.png) no-repeat;
		background-size: 100%;
	}
	.btnLeft {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -43px;
		display: block;
		width: 35px;
		height: 70px;
		background: url(../pictures/aboutUs/btn-left.png) no-repeat;
		background-size: 100%;
	}
	.imdRegister {
		background: #fe4f10;
		font-size: 18px;
		height: 48px;
		width: 240px;
		display: block;
		text-align: center;
		line-height: 48px;
		position: absolute;
		bottom: 40px;
		left: 50%;
		margin-left: -140px;
		color: #ffffff;
		border-radius: 4px;
		animation: scal .8s linear infinite;
	}
	.smWd {
		position: absolute;
		top: 76%;
		left: 0;
	}
	@keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 30%;
		}
	}
	@-webkit-keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 30%;
		}
	}
	@-moz-keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 30%;
		}
	}
	@-ms-keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 30%;
		}
	}
}


/*1200*/

@media screen and (max-width: 1300px) {
	.page1 .page1Cont {
		width: 440px;
	}
	.page2 .page1Cont {
		width: 310px;
	}
	.page3 .page1Cont {
		width: 310px;
	}
	.page4 .page1Cont {
		width: 310px;
	}
	.page4 .m1 {
		width: 39px;
	}
	.page4 .m2 {
		width: 86px;
	}
	.page4 .m3 {
		width: 136px;
	}
	.page4 .m4 {
		width: 180px;
	}
	.page4 .m5 {
		width: 252px;
	}
	.page4 .m6 {
		width: 300px;
	}
	.page4 .m7 {
		width: 348px;
	}
	.page4 .m8 {
		width: 395px;
	}
	.titCont {
		font-size: 24px;
	}
	.sec3cont {
		font-size: 16px;
	}
	.introCont img {
		width: 410px;
	}
	.botRig {
		width: 310px;
	}
	.introCont {
		left: 5%;
	}
	.smWd {
		position: absolute;
		top: 80%;
		left: 10%;
	}
	@keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 25%;
		}
	}
	@-webkit-keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 25%;
		}
	}
	@-moz-keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 25%;
		}
	}
	@-ms-keyframes widthL {
		0% {
			width: 5%;
		}
		100% {
			width: 25%;
		}
	}
	@keyframes leftTo {
		0% {
			opacity: 0;
			left: -200%;
		}
		100% {
			opacity: 1;
			left: 10%;
		}
	}
	@-webkit-keyframes leftTo {
		0% {
			opacity: 0;
			left: -200%;
		}
		100% {
			opacity: 1;
			left: 10%;
		}
	}
	@-moz-keyframes leftTo {
		0% {
			opacity: 0;
			left: -200%;
		}
		100% {
			opacity: 1;
			left: 10%;
		}
	}
	@-ms-keyframes leftTo {
		0% {
			opacity: 0;
			left: -200%;
		}
		100% {
			opacity: 1;
			left: 10%;
		}
	}
	@keyframes botRig {
		0% {
			opacity: 0;
			right: -100%;
			bottom: -100%;
		}
		100% {
			opacity: 1;
			bottom: 30%;
			right: 20%;
		}
	}
	@-webkit-keyframes botRig {
		0% {
			opacity: 0;
			right: -100%;
			bottom: -100%;
		}
		100% {
			opacity: 1;
			bottom: 30%;
			right: 20%;
		}
	}
	@-moz-keyframes botRig {
		0% {
			opacity: 0;
			right: -100%;
			bottom: -100%;
		}
		100% {
			opacity: 1;
			bottom: 30%;
			right: 20%;
		}
	}
	@-ms-keyframes botRig {
		0% {
			opacity: 0;
			right: -100%;
			bottom: -100%;
		}
		100% {
			opacity: 1;
			bottom: 30%;
			right: 20%;
		}
	}
}

@media all and (min-height:500px) and (max-height:800px) {
	.page1Cont {
		top: 60%;
	}
	.sec5ch {
		top: 24%;
	}
}