@charset "utf-8";

.sjz-wrap{ background:url(../images/sjz-bg.jpg) repeat; padding-top:60px;}
.timeline-con{ border-left: 2px solid #fba275; margin: 0px 0 0 555px; min-height: 300px; padding-bottom:80px;  width: 549px;position:relative;}
.top-jiao{ width:26px; height:22px; background:url(../images/sjz-jiao.png) no-repeat; position:absolute; top:-22px; left:-14px;}

.f-pos-r ul { padding-top:60px;}
.f-pos-r ul li { height:200px; padding-top:40px; }

.jxz-icon{ display:inline-block; width:34px; height:34px; background:url(../images/sjz-zhong.png) no-repeat;}
.yjs-icon{ display:inline-block; width:34px; height:34px; background:url(../images/sjz-dian.png) 5px 0 no-repeat; margin-top:6px;}

i { font-style: normal; }

.active-con{ width:880px; position:absolute;}

.active-time{ width:260px;}
.active-time span{ font-size:24px; font-family:"Arial"; color:#858483;}
.active-time a{ display:inline-block; width:87px; height:34px; line-height:34px; text-align:center; color:#fff; margin-top:10px;}
.active-time .jxz-d{ background:#00a2e6;}
.active-time .yjs-d{ background:#e9611d;}

.active-jindu{ width:34px; margin-left:26px;}
.active-img{ width:500px;}

.con1{ left:-304px;}
.con1 .img-j{ width:15px; height:17px; background:url(../images/img-j.png) no-repeat; position:absolute; top:10px; left:-15px;}
.con1 .a-img{ width:490px; height:130px; padding:5px; border:1px solid #dcdcdc; background:#fff;margin-left:35px;  position:relative; z-index:1;}

.con2{ left:-543px;}
.con2  .active-time{ margin-left:35px;}
.con2 .img-j{ width:15px; height:17px; background:url(../images/img-j2.png) no-repeat; position:absolute; top:10px; right:-15px;}
.con2 .a-img{ width:490px; height:130px; padding:5px; border:1px solid #dcdcdc; background:#fff;  position:relative; z-index:1;}

/* 追加样式 */
.activeButton:hover{color:#fff;cursor:pointer;}
.active-time .jxz-d:hover,.active-time .yjs-d:hover{ color:#fff;}







