.biaodesc-xq {
	margin: 0 40px 30px 40px;
}

.contentContain {
	width: 1080px;
	margin: 14px 60px 0;
}

.introTitle {
	width: 100%;
	color: #333;
	font-size: 18px;
}

.bd1 {
	border-bottom: 1px solid #eeeeee;
}

.pt28 {
	padding-top: 28px;
}

.pt40 {
	padding-top: 40px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb24 {
	padding-bottom: 24px;
}

.progressMap {
	margin-left: 21px;
	width: 100%;
	height: 270px;
}

.progressMap>li {
	float: left;
	width: 330px;
	margin: 0;
	list-style: none;
}

.progressMap .btnExplain {
	width: 14px;
	height: 14px;
	display: inline-block;
	padding-left: 4px;
	margin-top: -2px;
}

.progressMap .w80h80 {
	display: block;
	width: 80px;
	height: 80px;
	margin-left: 125px;
	margin-top: 54px;
}

.progressMap .progressTitle {
	font-size: 18px;
	color: #333;
	margin-top: 30px;
	text-align: center;
}

.progressMap .progressDate {
	font-size: 14px;
	color: #666;
	margin-top: 24px;
	text-align: center;
}

.progressMap .msdetail {
	font-size: 14px;
	color: #666;
	margin-top: 14px;
	text-align: center;
	position: relative;
}

.progressMap .guideGo {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 82px;
}

.remainCo {
	display: none;
	position: absolute;
	top: 28px;
	left: 114px;
	line-height: 36px;
	padding-left: 16px;
	width: 186px;
	height: 36px;
	color: #d4d4d4;
	border: 1px solid #ccc;
	font-style: normal;
	background: #fefefe;
}

.remainCo .kong {
	display: block;
	position: absolute;
	top: -20px;
	left: 72px;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #ccc;
	font-size: 0;
	line-height: 0;
}

.remainCo .shi {
	display: block;
	border-width: 10px;
	position: absolute;
	top: -19px;
	left: 72px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fefefe;
	font-size: 0;
	line-height: 0;
}

.mcExplain {
	font-size: 14px;
	color: #666;
	line-height: 22px;
}

.riskTip {
	width: 100%;
	margin-top: 22px;
	border-top: 1px solid #eee;
}

.TipTitle {
	margin-left: 60px;
	height: 58px;
	line-height: 58px;
	font-size: 14px;
	color: #666;
	padding-left: 24px;
	background: url(../pictures/icon/icon-Risk-warning.png) no-repeat left center;
	background-size: 16px 17px;
}

.TipCont {
	font-size: 12px;
	color: #999;
	padding: 0 60px 24px;
	line-height: 20px;
}

.show-datas>p {
	height: 40px;
	line-height: 40px;
	text-align: right;
	font-size: 12px;
	color: #999999;
	font-family: "microsoft yahei";
}

.show-datas>div {
	width: 100%;
}

.show-datas ul {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	width: 100%;
}

.personlistTitle {
	background: #eeeeee !important;
}

.show-datas ul li {
	float: left;
	text-align: right;
	margin: 0 !important;
	font-size: 14px !important;
	color: #333 !important;
	background: none !important;
	line-height: 50px !important;
}

.show-datas>div:nth-child(2n) ul {
	background: #f4f4f4;
}

.show-datas>div:nth-child(2n+1)>ul {
	background: #fff;
}

.listInfo>a {
	color: #09afdf;
}

.detailedInfo {
	display: none;
	border: 1px solid #f4f4f4;
	height: 270px;
}

.detailedInfo>div {
	margin: 20px;
	border: 1px solid #f9f9f9;
	height: 270px;
	width: 1078px;
	height: 228px;
}

.infoLeft {
	width: 514px;
	padding-left: 16px;
	float: left;
	padding: 10px 0 0 16px;
	height: 218px;
	border-right: 1px solid #f9f9f9;
}

.infoRight {
	float: left;
	width: 504px;
	padding-left: 20px;
}

.infoLeft>h4,
.infoRight>h4 {
	font-size: 14px;
	color: #333;
}

.infoRight>h4 {
	padding-top: 10px;
}

.infoLeft>p,
.infoRight>p {
	font-size: 12px;
	color: #999999;
	line-height: 26px;
}

.mknav-ui-fto>.mkli {
	width: 25%;
}

.back-bg {
	padding-bottom: 90px !important;
}

.zshu li span:not(.strong):not(:first-child) {
	margin-left: -4px;
}

.addH li {
	height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.product_Num {
	width: 130px;
	text-align: center !important;
}

.product_Title {
	width: 220px;
}

.product_Name {
	padding-left: 40px;
	width: 100px;
	text-align: left !important;
}

.product_IDcard {
	width: 205px;
}

.product_Area {
	width: 178px;
	padding-left: 30px;
}

.product_Mny {
	width: 198px;
}

.product_Operate {
	width: 160px;
}

.tb-biao-op {
	margin-left: 60px;
}

.biaodesc-hk ul li span {
	width: 224px;
}

.biao-money>span {
	margin-left: -6px !important;
}