@charset "utf-8";
.backPwdper-txtcon {
    width: 1198px;
    height: 400px;
    padding: 0px 0px 35px 0px;
    margin-bottom: 28px;
    background: #fff;
    border: 1px solid #eeeded;
    -webkit-box-shadow: 3px 3px 3px #cac9c9;
    -moz-box-shadow: 3px 3px 3px #cac9c9;
    /* box-shadow: 3px 3px 3px #cac9c9;  */
}

input {
    outline: none;
}

.backPwd-title {
    width: 1200px;
    height: 60px;
    background: #ecfbff;
}

.backPwd-title .backPwd {
    font-size: 18px;
    float: left;
    color: #5e5e5e;
    line-height: 60px;
    margin-left: 20px;
}

.setting-step-con,
.setting-step-con-login {
    border-bottom: 2px dashed #f4f4f4;
    height: 48px;
    line-height: 48px;
    margin-bottom: 45px;
    margin-top: 60px;
}

.setting-step-con .step-total-3 {
    width: 510px;
}

.step-list-con {
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.step-list-con .step-list .current-step {
    color: #09afdf;
    border-bottom: 3px solid #09afdf;
}

.step-list-con .step-list .step-item {
    float: left;
    font-size: 16px;
    height: 48px;
    text-align: center;
    width: 170px;
}

.step-list-con .step-list .step-item .step-index {
    background: #bfbfbf none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    width: 26px;
}

.step-list-con .step-list .current-step .step-index {
    background-color: #09afdf;
}

.setting-step-con-login .step-total-3-login {
    width: 680px;
}

.backPwd-con {
    width: 460px;
    margin: 0 auto;
    color: #2b2b2b;
    font-size: 14px;
}

.backpwd-ui li {
    height: 50px;
    clear: both;
    position: relative;
}

.backpwd-ui li .back-desc {
    color: #333333;
    font-size: 16px;
    display: inline-block;
    line-height: 40px;
    float: left;
}

.back-title {
    color: #333333;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    line-height: 40px;
    width: 100px;
    float: left;
    padding-right: 20px;
}

.back-txt {
    margin-bottom: 5px;
    font-size: 16px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    float: left;
    padding: 11px 0 11px 10px;
    width: 300px;
}

.yzm-txt {
    margin-bottom: 5px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    float: left;
    padding: 11px 0 11px 10px;
    width: 150px;
}

.btn-hqyzm,
.btn-nextStep {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
}

.btn-hqyzm {
    float: left;
    color: #fff;
    background: #09afdf;
    margin-left: 15px;
    display: inline-block;
    width: 100px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}

.btn-hqyzm-hui {
    background: #cfcfcf;
}

.btn-nextStep {
    margin-top: 26px;
    height: 40px;
    line-height: 40px;
    background: #09afdf;
    color: #fff;
    text-align: center;
    width: 300px;
}

.btn-hqyzm:hover,
.btn-nextStep:hover,
.btn-hqyzm1:hover {
    background: #08a6df;
    color: #fff;
}

.backpwd-ui li .err-p {
    padding-left: 122px;
    font-size: 12px;
    width: 100%;
    color: #f8586a;
    position: absolute;
    left: 0;
    top: 45px;
}

.btn-hqyzm1 {
    display: inline-block;
    height: 26px;
    line-height: 25px;
    border-radius: 4px;
    float: left;
    color: #fff;
    background: #f86c35;
    margin-left: 15px;
    width: 100px;
    text-align: center;
}

.backpwd-ok p {
    text-align: center;
}

.backpwd-ok .update-ok,
.backpwd-ok .update-tip,
.backpwd-ok .update-err {
    line-height: 22px;
    padding-right: 5px;
}

.backpwd-ok .update-ok {
    font-size: 16px;
    color: #09afdf;
    padding-top: 20px;
}

.backpwd-ok .update-err {
    font-size: 16px;
    color: #ed1c24;
    padding-top: 30px;
}

.backpwd-ok .update-tip {
    font-size: 12px;
    padding-bottom: 20px;
    color: #999999;
    padding-top: 10px;
}

.updateok-img {
    width: 75px;
    height: 75px;
    background: url(../pictures/reg-login/update-img.png) 0 0 no-repeat;
    margin: 0 auto;
}

.updateerr-img {
    width: 75px;
    height: 75px;
    background: url(../images/update-img.png) -77px -1px no-repeat;
    ;
    margin: 0 auto;
}

.txt-err {
    border: 1px solid #f8586a;
}

.whtext {
    width: 600px;
    height: 40px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #dfdfdf;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #dfdfdf;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #dfdfdf;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #dfdfdf;
}