@charset "utf-8";
.err-bg {
    width: 1200px;
    margin: 240px auto 0;
    margin-bottom: 234px;
}

.err-txt {
    width: 1200px;
}

.err-txt h1 {
    font-size: 30px;
    color: #0566aa;
    margin-top: 330px;
}

.err-txt p {
    font-size: 14px;
    color: #656667;
    line-height: 30px;
    letter-spacing: 1px;
}

.err-txt p a {
    color: #0566aa;
}