@charset "utf-8";

.help-center{ background:#fff; font-size:14px; width:1118px; border:1px solid #e1e1e1; }
.help-left{ width:150px; }
.help-left ul { margin:10px 0;}
.help-left ul li{ height:42px; line-height:42px; }
.help-left ul li a{display:inline-block; width:100%;height:100%;text-align:center;line-height:42px;}
.help-left ul li:hover,.help-left ul .on{ background:#4993c8 ;}
.help-left ul li:hover a,.help-left ul .on a{ cursor:pointer; color:#fff;}

.help-right { padding: 0 40px; width:887px;border-left:1px solid #e7ebed; padding-bottom:30px;}
.help-right ul li{ margin:15px 0;}
.help-right ul li h3{ font-size:16px;  line-height: 38px; color:#4993c8 ;}
.help-right ul li p{ line-height:24px; color: #999999; font-size: 12px; padding-left: 1em;}
.help-right ul li p:hover{ color:#5c6066;}






