* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	outline: none;
	color: #666666;
	background-color: transparent;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #f1f1f1;
}

.header {
	height: .89rem;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

.bigTitle {
	text-align: center;
	font-size: .34rem;
	color: #333333;
	line-height: .89rem;
	font-weight: normal;
}

.icon-back {
	display: inline-block;
	width: .24rem;
	height: .42rem;
	background: url(../../images/icon-back.png) no-repeat left center;
	background-size: contain;
	position: absolute;
	left: .3rem;
	top: .22rem;
}

.productListT {
	background: #ffffff;
}

.contentList {
	width: 100%;
	background: #ffffff;
}

.productLists {
	width: 100%;
}

.contMore,
.productList {
	display: block;
	width: 100%;
	height: .98rem;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

.iconPics {
	position: absolute;
	left: .3rem;
	top: 50%;
	margin-top: -.17rem;
	width: .34rem;
	height: .34rem;
	display: block;
}

.contMore span {
	padding-left: 1.06rem;
	line-height: .98rem;
	font-size: .26rem;
	color: #333333;
	float: left;
}

.icon-right {
	position: absolute;
	right: .4rem;
	width: .12rem;
	height: .21rem;
	top: 50%;
	margin-top: -0.105rem;
}

.productList {
	position: relative;
	background: url(../../images/icon-bottom.png) no-repeat 94.8% center;
	background-size: .2rem .12rem;
}

.smTitle {
	position: absolute;
	left: .4rem;
	top: 50%;
	margin-top: -.18rem;
	height: .36rem;
	line-height: .36rem;
	border-left: .1rem solid #14cca6;
	font-size: .26rem;
	font-weight: normal;
	color: #333333;
	padding-left: .2rem;
	background: #ffffff;
}


/*.icon-bottom,
.icon-top {
    display: block;
    width: .2rem;
    height: .12rem;
    position: absolute;
    top: 50%;
    margin-top: -.06rem;
    right: .4rem;
}*/

.productContent {
	width: 100%;
	display: none;
}

.pdWord {
	font-size: .2rem;
	color: #999999;
	line-height: .44rem;
	padding-right: .24rem;
}

.aniShow {
	border-bottom: none !important;
}

.mb10 {
	width: 100%;
	height: .1rem;
	background: #f1f1f1;
}

.productContent>.productList {
	border-bottom: none !important;
}

.pdWordFirst {
	box-sizing: border-box;
	border-top: 1px dashed #e8e8e8;
	padding: .4rem 0;
	margin: 0 .4rem;
}

.culue {
	width: 6rem;
	height: 1.46rem;
	margin-top: .3rem;
}

.Table {
	border-collapse: collapse;
}

.Table tr:nth-child(2n) {
	background: #f9f9f9;
}

.Table tr:nth-child(2n+1) {
	background: #ffffff;
}

.pd0 {
	padding: 0 !important;
}

.TabHead {
	text-align: center;
	padding-top: .4rem;
	padding-bottom: .2rem;
	font-size: .24rem;
	color: #333333;
}

.w198 {
	width: 1.98rem;
	padding-left: .4rem;
	padding-top: .3rem;
	font-size: .24rem;
}

.c999 {
	color: #999999;
}

.c666 {
	color: #666666;
}

.p40 {
	padding-left: .4rm;
	padding-right: .4rem;
}

.fon24 {
	font-size: .24rem;
}

.fon22 {
	font-size: .22rem;
}

.pt20 {
	padding-top: .2rem;
}

.introRed {
	color: #fb484b;
}

.h88 td {
	height: .88rem;
	padding-top: 0 !important;
}

.p30 {
	padding-top: .3rem;
	padding-bottom: .3rem;
}

.lih36 {
	line-height: .36rem;
}

.productListSec {
	position: relative;
	background: #f1f1f1;
	height: .98rem;
}

.smTitleSec {
	position: absolute;
	left: .4rem;
	top: 50%;
	margin-top: -.18rem;
	height: .36rem;
	line-height: .36rem;
	border-left: .1rem solid #14cca6;
	font-size: .26rem;
	font-weight: normal;
	color: #333333;
	padding-left: .2rem;
}

.productListSecs {
	background: url(../../images/icon-bottom.png) no-repeat 94.8% center;
	background-size: .2rem .12rem;
	height: .98rem;
	padding-left: .4rem;
	font-size: .26rem;
	color: #333333;
	line-height: .98rem;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}

.productListSecs .smTitle {
	height: .36rem;
	line-height: .36rem;
	border-left: .1rem solid #14cca6;
	font-size: .26rem;
	font-weight: normal;
	color: #333333;
	padding-left: .2rem;
	background: #ffffff;
	left: .2rem !important;
	border-left: none !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	justify-content: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-box-pack: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	flex-direction: column;
}

.mr40 {
	width: 100%;
	background: #ffffff;
}

.productContent>.productContent {}

.mg0 {
	margin: 0 !important;
	border-top: none !important;
}

.bd1 {
	border-bottom: none !important;
	background: url(../../images/icon-top.png) no-repeat 94.8% center !important;
	background-size: .2rem .12rem !important;
}

.bgfff {
	background: #ffffff;
}

.oneLine {
	width: 90%;
	margin-left: 5%;
	border-bottom: 1px dashed #e8e8e8;
}