@charset "utf-8";

/*背景*/

.ls-inverst {
    width: 100%;
    text-align: center;
}

.ls-con {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    margin: auto;
    text-align: center;
}

.lsWhatbc {
    margin: 0 auto;
    width: 100%;
    height: 438px;
    background-color: #fff;
    overflow: hidden;
}

.lsGood {
    margin: 0 auto;
    width: 100%;
    height: 438px;
    background-color: #fafafa;
}


/*超链接列表*/

.lnav-box {
    position: relative;
    margin-top: 25px;
    float: left;
    margin-left: 50px;
}

.lnav .lnLi {
    display: inline;
    float: left;
    position: relative;
    width: 70px;
    text-align: center;
    font-size: 14px;
    font-family: "microsoft yahei";
    margin-right: 20px;
    border-radius: 2px;
}

.lnav .lnLi.on {
    position: absolute;
    left: 25%;
}

.lnav .lnLi:hover {
    background: #3a84cf;
}

.lnav .current {
    background: #09afdf;
}

.lnav .lnli a:visited {
    color: #3a84cf;
}

.lnav .lnLi:hover a,
.lnav .current a {
    color: #fff !important;
}

.lnav .lnli a:active {
    color: #3a84cf;
}

.lnav .lnLi {
    color: #313232;
    line-height: 40px;
}

.lnav .lnLi .sub a {
    color: #b3b5ba;
}

.lnLi.thisPage a {
    color: #3a84cf;
}


/*文字列表*/

.lsTitle {
    font-size: 28px;
    font-family: "microsoft yahei";
    text-align: center;
    padding-top: 80px;
    color: #848484;
}

.Advtage {
    background: url(../pictures/loanShow/icon-advantage.png) no-repeat 455px 6px !important;
    padding-left: 58px;
}

.icon-what {
    background: url(../pictures/loanShow/icon-what.png) no-repeat 472px 7px;
    padding-left: 30px;
}

.icon-technolog {
    background: url(../pictures/loanShow/icon-technological-process.png) no-repeat no-repeat 470px 8px;
    padding-left: 38px;
}

.lsText {
    font-size: 22px;
    font-family: "microsoft yahei";
    text-align: center;
    color: #666666;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
}

.lsTextGood {
    font-size: 42px;
    font-family: "microsoft yahei";
    color: #3a84cf;
    margin-top: 80px;
}

.lsleft {
    text-align: center;
    margin: 0 auto;
    width: 33%;
    height: 358px;
    float: left;
}

.lscenter {
    text-align: center;
    margin: 0 auto;
    width: 34%;
    height: 358px;
    float: left;
}

.lsright {
    text-align: center;
    margin: 0 auto;
    width: 33%;
    height: 358px;
    float: left;
}

.lsText1 {
    font-size: 16px;
    font-family: "microsoft yahei";
    color: #333333;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px
}

.lsText1>p {
    font-size: 16px;
    line-height: 28px;
}

.imK {
    text-align: center;
    margin-top: 80px;
}

.imK p {
    font-size: 16px;
    font-family: "microsoft yahei";
    color: #333333;
    margin-top: 20px;
}

.smiml {
    text-align: center;
    float: left;
    margin-top: 120px;
}


/*loanShow--end*/


/*safetyGuarantee--Start*/

.safety {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.lsTitle img {
    margin: 0px 5px 5px 0px;
}

.safety_50 {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 420px;
    float: left;
}

.safety_25 {
    text-align: center;
    margin: 0 auto;
    width: 25%;
    height: 358px;
    float: left;
}


/*safetyGuarantee--end*/


/*lawRule ---satrt*/

.lawBorder {
    margin-bottom: 20px;
    width: 1200px;
    height: 160px;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: #09afdf #b3b5ba #b3b5ba #09afdf;
}

.lawTitle {
    font-size: 22px;
    font-family: "microsoft yahei";
    color: #09afdf;
    padding: 24px 0px 22px 20px;
    border-top: 1px solid #09afdf;
}

.lawText {
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #5d5d5d;
    padding: 0 4px 0 20px;
    line-height: 25px;
}

.lawYs {
    font-size: 16px;
    text-align: center;
}

.lawYs p {
    font-size: 16px;
    line-height: 28px;
}

.lawYs.state {
    color: #cf6b3a;
}