@charset "utf-8";

/* 全局 */

.hui {
    color: #868686;
}

.periconbg {
    /*background: url(../images/person-icon.png) no-repeat;*/
}

.personal-main {
    background: #f2f2f2;
    padding: 30px 0;
}

.tab-header {
    box-sizing: border-box;
    width: 100%;
    background-color: #ebfbff;
    padding: 15px 20px;
    border-bottom: 1px solid #eeeeee;
}

.tab-header:not(:first-child) {
    margin-top: 20px;
}

.tab-title {
    font-size: 18px !important;
}

.tab-content {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.tab-typewriter {
    padding: 15px 40px;
}

.tab-tip {
    font-size: 14px;
    color: #656565;
}

.tab-text {
    margin-top: 10px;
    font-size: 18px;
}

.tab-money {
    color: #f8586a;
}

.main-nav {
    border-bottom: 1px solid #dddfe1;
}

.toux-main-con {
    width: 100%;
    height: 128px;
    position: relative;
    overflow: hidden;
    margin-top: 2px;
    background: url(../images/person-bg.jpg) no-repeat;
}

.toux-dceng {
    width: 100%;
    height: 43px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.toux-ceng {
    width: 100%;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*********************************** 个人中心 一级导航 ***************************/

.per-main-nav {
    display: inline-block;
    float: left;
}

.per-main-nav li {
    float: left;
    margin-left: 25px;
    line-height: 42px;
    margin-right: 10px;
    font-size: 14px;
}

.per-main-nav li a,
.pergg-desc a,
.toux-con p,
.per-dlsj p {
    color: #020202;
}

.per-main-nav li:hover a,
.per-main-nav .current a {
    color: #4098d8;
}


/*********************************** 个人中心 公告 ***************************/

.pergg-icon {
    display: inline-block;
    width: 15px;
    height: 19px;
    background-position: -135px -8px;
    float: left;
    margin-top: 12px;
}

.pergg-desc {
    float: left;
    line-height: 43px;
}

.pergg-desc a {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
}


/*********************************** 个人中心 头像 ***************************/

.tx-img {
    width: 100px;
    height: 100px;
    float: left;
    background-position: -196px -4px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 12px 24px;
    position: relative;
}

.sctx-con {
    overflow: hidden;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.toux-con p {
    font-size: 16px;
}

.per-phone,
.per-person,
.per-email,
.disper-phone,
.disper-person,
.disper-email {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-right: 10px;
}

.per-phone {
    background-position: -12px -11px;
}

.per-person {
    background-position: -53px -11px;
}

.per-email {
    background-position: -94px -11px;
}

.disper-phone {
    background-position: -12px -47px;
}

.disper-person {
    background-position: -53px -47px;
}

.disper-email {
    background-position: -94px -47px;
}

.welcome-p {
    padding-top: 28px;
}

.per-dlsj {
    width: 210px;
    margin-top: 15px;
}


/*********************************** 个人中心 模块 ***************************/

.per-txtcon {
    width: 1198px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #eeeded;
    -webkit-box-shadow: 3px 3px 3px #cac9c9;
    -moz-box-shadow: 3px 3px 3px #cac9c9;
    /* box-shadow: 3px 3px 3px #cac9c9;  */
}

#per-txtcon {
    border: 1px solid #eeeded;
}

.per-txtcon>h2 {
    background: #ebfbff !important;
}


/**.per-txtcon{ width:100%; height:400px;padding:0px 25px 35px 25px; margin-bottom:28px; background:#fff; border:1px solid #eeeded; -webkit-box-shadow: 3px 3px 3px #cac9c9; -moz-box-shadow: 3px 3px 3px #cac9c9;}*/

.per-mknav {
    height: 40px;
    border-bottom: 1px solid #d7d6d6;
    position: relative;
    margin-top: 10px;
}

.mk-title {
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 5px solid #4592ca;
}

.per-messtxtcon {
    width: 100%;
    padding: 0px 25px 35px 25px;
    margin-bottom: 28px;
    background: #fff;
    border: 1px solid #eeeded;
    -webkit-box-shadow: 3px 3px 3px #cac9c9;
    -moz-box-shadow: 3px 3px 3px #cac9c9;
    /* box-shadow: 3px 3px 3px #cac9c9;  */
}


/*********************************** 个人中心 按钮 ***************************/

.okcommit-btn {
    cursor: pointer;
    display: inline-block;
    width: 87px;
    height: 31px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    background: #09afdf;
}

.okcommit-btn-not {
    cursor: pointer;
    display: inline-block;
    width: 87px;
    height: 31px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    background: #C8CCCF;
}

.okcommit-btn:hover {
    color: #fff;
    background: #08a6d1;
}

.okcommit-btn-not:hover {
    color: #fff;
}

.close-btn {
    cursor: pointer;
    display: inline-block;
    width: 87px;
    height: 31px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    background: #d2d2d2;
}

.close-btn:hover {
    color: #fff;
    background: #b3b3b3;
}

.forget-pwd {
    color: #008fe1;
}

.watting {
    font-size: 28px;
    padding-top: 40px;
}

.wattings {
    font-size: 28px;
    padding-top: 20px;
}

.watting-ok {
    font-size: 16px;
    padding-top: 20px;
}

.watting-ok a {
    color: #008fe1;
}

.wok-img {
    display: inline-block;
    background: rgba(0, 0, 0, 0) url("../images/update-img.png") no-repeat scroll -1px -1px;
    height: 72px;
    margin: 0 auto;
    width: 76px;
}

.werr-img {
    display: inline-block;
    background: rgba(0, 0, 0, 0) url("../images/update-img.png") no-repeat scroll -77px -1px;
    height: 72px;
    margin: 0 auto;
    width: 76px;
}


/* 追加的样式 */

.infoList li a {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 组合框 */

.input-title {
    color: #666666;
    font-size: 14px;
}

.input-money {
    height: 40px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    display: table;
    padding-left: 15px;
    padding-right: 10px;
}

.input-group > input {
    border: none;
    display: table-cell;
    width: 92%;
    height: 40px;
}

.input-group > .input-text {
    width: 8%;
    display: table-cell;
    color: #666666;
    font-size: 14px;
    vertical-align: middle;
}

.mr64 {
    margin-right: 64px;
}

.gy666 {
    color: #666;
}

.t_r {
    text-align: right;
}