@charset "utf-8";
/*************** 优惠劵 **************/
.main-title{ font-size:16px; line-height:50px; height:50px; color:#2b2b2b; }
.main-coupons-list{ min-height:173px; margin-top:20px;}
.ui-coupons-list .coupon-item{ display:inline-block; width:300px; height:150px; margin:10px 0px 10px 38px;}
.money-coupon{ background:url(../images/coupons4.png) no-repeat;} /* 现金券 */
.interest-coupon{ background:url(../images/coupons3.png) no-repeat;} /* 加息券 */
.deductible-title{ background:url(../images/coupons2.png) no-repeat;} /* 抵扣券 */
.coupon-title{ width:57px; float:left;}
.coupon-title h2{ font-size:24px; color:#fff; text-align:center; padding:42px 5px;}
.coupon-desc{ width:210px; float:left; padding-left:20px; position:relative;}
.coupon-desc .coupon-reward{ color:#fff; font-size:20px; line-height:70px;}
.coupon-desc .coupon-reward span{ font-size:40px;}
.coupon-desc .coupon-rule{ font-size:14px;color:#fff; line-height:20px; }
.coupon-used{ position:absolute; top:23px; right:13px; display:inline-block; font-style:normal; color:#fff; padding:3px 10px; border:1px solid #fff; border-radius:3px;}
.color-gray-text{ font-size:20px; text-align:center; color:gray; padding-top:50px;}

/*************** 邀请有礼 **************/
.social-title{ height:60px; border-bottom:1px solid #f4f4f4; line-height:60px; color:#2b2b2b; font-size:16px;}
.social-list .social-item{  margin-left:6px; cursor:pointer; color: #2b2b2b; float: left; font-size: 14px; height: 50px; line-height: 50px; margin-right: 0; padding-left: 0; padding-top: 110px; text-align: center; width: 171px;}
.social-list .sns-weibo{ background:url(../images/xinlang-hui.png) center 48px no-repeat;}
.social-list .sns-weibo:hover{ background:url(../images/xinlang.png) center 48px no-repeat;}
.social-list .sns-weixin{ background:url(../images/weixin-hui.png) center 48px no-repeat;}
.social-list .sns-weixin:hover{ background:url(../images/weixin.png) center 48px no-repeat;}
.social-list .sns-qq{ background:url(../images/qq-hui.png) center 48px no-repeat;}
.social-list .sns-qq:hover{ background:url(../images/qq.png) center 48px no-repeat;}
.social-list .sns-qqkj{ background:url(../images/qqkj-hui.png) center 48px no-repeat;}
.social-list .sns-qqkj:hover{ background:url(../images/qqkj.png) center 48px no-repeat;}
.social-list .sns-tengxun{ background:url(../images/tengxun-hui.png) center 48px no-repeat;}
.social-list .sns-tengxun:hover{ background:url(../images/tengxun.png) center 48px no-repeat;}
.social-list .sns-douban{ background:url(../images/douban-hui.png) center 48px no-repeat;}
.social-list .sns-douban:hover{ background:url(../images/douban.png) center 48px no-repeat;}

.invitation-link-con{ padding:40px 0;}
.invitation-link-con .invitation-link{ padding-left:42px; line-height:30px; float:left; font-size:14px; display:inline-block; color:#848484;}
.invitation-link-con .link-btn{ cursor:pointer; padding:5px 10px;font-size:14px; margin-left:15px; float:left; background:#008fe1; color:#fff; border-radius:3px;}
.invitation-link-con .link-btn:hover{ color:#fff;}

.ui-invitation-rules { padding-left:42px;}
.ui-invitation-rules li{ line-height:26px; font-size:12px; color:#a9a9a9;}
.op-conduct{ height:70px; margin-top:50px; padding-left:10px; border-bottom:1px solid #b3cfef; border-top:2px solid #b3cfef; background:#f3f9ff;}
.op-title{ font-size:14px; padding:0 10px; line-height:70px; float:left;}
.biao-time{ width:188px; padding-left:10px; height:34px; border:1px solid #aaa; border-radius:4px; background:#fff;cursor:pointer;}
.biao-time{ margin-top:17px; float:left;}
.user-mobile{width:188px; padding-left:10px; height:34px; border:1px solid #aaa; border-radius:4px; background:#fff;margin-top:17px; float:left;}
.find-btn{ display:inline-block; padding:0 15px; height:36px; color:#fff; background:#fc952f; line-height:36px; border-radius:4px; font-size:14px; margin-top:17px;}
.find-btn:hover{ color:#fff;}

.records-project { margin-top:20px;}
.records-project li{ height:50px; border-bottom:1px solid #f4f4f4; line-height:50px; font-size:14px;}
.records-project li span,.records-project li a{ width:13.3%; float:left; padding-left:2%;}
.records-project .project-title{ color:#868686;  background:#f0f7ff;}
.records-project li .xuhao{ width:6%;}

.invite {font-size: 14px;left: 1px;position: absolute; top: -23px;}
.records-title{ height:100px; border-bottom:1px solid #f4f4f4;}
.records-title .records-title{ font-size:24px; float:left; color:#2b2b2b; line-height:100px;}
















