@charset "utf-8";
/* 网站设置 */
html{
    background:#fff none repeat scroll 0 0;
    color:#5e5e5e;
    font-family:"Microsoft Yahei", "微软雅黑", Arial, "Hiragino Sans GB", "宋体";
}
.orange{ color:#ff6100;}
.container{ width:1120px; min-width:960px; margin:0 auto; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    margin:0;
    padding:0;
}
body, button, input, select, textarea{
    font:12px "微软雅黑", YaHei, tahoma, arial, "Hiragino Sans GB", 宋体;
}
.body{ width:100%;}
.content{ min-width:320px; max-width:640px; margin:0 auto;position:relative; }

.div1,.div2,.div3{ width:100%;  position:relative;float:left; z-index:-1;}
.div1 img,.div2 img,.div3 img{ width:100%;  float:left;}

.desc-p { position:absolute; top:0; width:100%;}
.div2 .desc-btn{ display:inline-block; margin-left:38%; width:24.5%; margin-top:3%; }


.person-con{ margin:0 20px; width:90.8%; padding:10px 0; position:absolute; top:18%; left:0;}
.person-con ul li{ font-size:1em; list-style:none; line-height:26px;}
.person-con ul li .sp-name{ padding-left:12%; color:#ff6100;}
.person-con ul li .sp-desc{ padding-left:15%;}

.ljzc-con{ width:100%; background:#5372b2; opacity:0.8;padding:0.6rem 0;position:absolute; bottom:0; left:0; z-index:100;}
.ljzc-btn{ width:100%;  padding:0.6rem 0; position:absolute; bottom:0; left:0;z-index:100;}

.reg-btn{ font-size:1.2em; color:#fff; text-decoration:none;}

