
@charset "utf-8";

.aqbz-con{margin: 0 auto; width: 900px;background-image: url("../images/num2.png"); background-repeat: no-repeat; padding-top: 60px;}
.b1{ background-position: center top;}
.b2{ background-position: 50% -61px;}
.b3{background-position: 50% -121px;}
.b4{   background-position: 50% -180px;}
.b5{  background-position: 50% -240px;}
.b6{background-position: 50% -300px;}
.b7{ background-position: 50% -360px;}

.aqbz-1{ overflow:hidden;  background-color:#fff; padding: 22px 316px 60px 0;width: 620px; }
.aqbz{ background-image:url(../images/aqbz-icon.png); background-repeat:no-repeat;}
.aqbz h2{  color: #666; font-size: 30px; font-weight: 400; padding-bottom: 10px;}
.aqbz p,.aqbz strong{color: #6d6d6d; font-size: 14px; line-height: 30px;}

.aqbz-2{  overflow:hidden;   background-color:#fff; padding: 22px 0 70px 250px; width: 620px;}
.aqbz-con .s1{ background-position: -262px 8px;}
.aqbz-con .s2{ background-position: 698px -296px;}
.aqbz-con .s3{ background-position: -262px -290px;}
.aqbz-con .s4{ background-position: 707px 10px;}
.aqbz-con .s5{   background-position: 0px -616px;}
.aqbz-con .s6{background-position: 707px -588px;}
.aqbz-con .s7{ background-position: -277px -588px;}









