@charset "utf-8";

/* 网站设置 */

html {
    background: #fff none repeat scroll 0 0;
    color: #5e5e5e;
    font-family: "Microsoft Yahei", "微软雅黑", Arial, "Hiragino Sans GB", "宋体";
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px "微软雅黑", YaHei, tahoma, arial, "Hiragino Sans GB", 宋体;
}

.orange {
    color: #f87a3b;
}

.red {
    color: #f8586a;
}

.blue {
    color: #09afdf;
}

.bghui {
    background: #fafafa;
}

.bgwhite {
    background: #fff;
}

.bgclan {
    background: #f0f7ff;
}

ol,
ul {
    list-style: outside none none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}

html a {
    color: #666666;
    text-decoration: none;
}

html a:hover {
    text-decoration: none;
    color: #008fe1;
}

.fl,
.fr {
    display: inline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    height: 0;
    font: 0/0 Arial;
    visibility: hidden;
}

a img {
    _border: 0px;
    *border: 0px;
    border: 0px;
}

.curpointer {
    cursor: pointer;
}


/** 重置元素垂直居中 **/

img,
input,
select,
textarea,
button {
    vertical-align: middle;
}


/** 字体设置 **/

.smallFont {
    font-size: 12px;
}

.strong {
    font-weight: bold;
}


/** 显示样式元素 **/

.dp-hidden {
    display: none;
}

.dp-block {
    display: block;
}

.dp-inline {
    display: inline;
}

.dp-inlineblock {
    display: inline-block;
    _zoom: 1;
    *display: inline;
}


/** 文字对齐方式设置 **/

.textRt {
    text-align: right !important;
}

.textLt {
    text-align: left !important;
}

.textCt {
    text-align: center !important;
}

.textInd {
    text-indent: 2em;
}


/** 下划线 **/

.fn-udline {
    text-decoration: underline;
}


/** 定位 **/

.posRlt {
    position: relative;
}

.posAb {
    position: absolute;
}


/** 清除浮动 **/

.clear {
    clear: both;
}

.section:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.section {
    *zoom: 1;
}


/*外边距*/

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr5 {
    margin-right: 5px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}


/*内边距*/

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl18 {
    padding-left: 18px;
}

.pl20 {
    padding-left: 20px;
}

.pl28 {
    padding-left: 28px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}


/*溢出隐藏*/

.hiddenCon {
    overflow: hidden;
}

.bor_radius2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.bor_radius3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.bor_radius4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bor_radius5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bor_radius10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*字体颜色color*/

.ui-btn {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.ui-btn-orange {
    background: #fca762;
}

.ui-btn-blue {
    background: #6bbde7;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px !important;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font24 {
    font-size: 24px;
}

.font28 {
    font-size: 28px;
}

.font30 {
    font-size: 30px;
}

.font36 {
    font-size: 30px;
}

.font40 {
    font-size: 40px;
}

.border-b {
    border-bottom: 1px solid #dddfe1;
}

.border-bf {
    border-bottom: 1px solid #f1f1f1;
}

.border-rf {
    border-right: 1px solid #f1f1f1;
}


/***** 弹框样式 *****/

.txtpwd {
    height: 32px;
    line-height: 32px;
    padding-left: 8px;
    width: 200px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
}

.txtpwd.txt-err {
    border: 1px solid #f8586a;
}

.ui-sp {
    width: 70px;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
}

.widget {
    background: #fafafa url(../images/cream.png) repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.widget-head {
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    text-shadow: 0px 1px #fff;
    border-bottom: 1px solid #bfbfbf;
    /*border-top:1px solid #ccc;*/
    padding: 12px 20px;
    font-size: 14px;
    color: #555;
    box-shadow: inset 0px 1px 1px #fff;
}

.padd {
    padding: 13px 15px;
}

.padd ul li {
    height: 54px;
}

.alert-close {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.alert-title {
    margin-top: 3px;
}

.tipp {
    line-height: 22px;
}

.op-btn {
    text-align: center;
    margin-top: 5px;
}

.alert-err-tip {
    color: #f8586a;
    padding-left: 85px;
    line-height: 14px;
    padding-top: 3px;
    clear: both;
}

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 9px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-primary {
    background-color: #09afdf;
    color: #fff;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.btn-default {
    background-color: #e6e6e6;
    border-color: #ccc;
    color: #333;
}

.btn-warning:hover {
    background-color: #ed9c28;
    border-color: #d58512;
}

.btn-primary:hover {
    background-color: #008fe1;
}

.btn-default:hover {
    background-color: #d6d6d6;
    border-color: #cdcdcd;
}


/* 下拉列表 */

.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

.ac_results iframe {
    display: none;
    /*sorry for IE5*/
    display/**/
    : block;
    /*sorry for IE5*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: mask();
    width: 3000px;
    height: 3000px;
}

.ac_results li {
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}


/* 查询列表无内容 */

.no-text {
    color: gray;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.aaaa {
    border: 1px solid #000;
}

.font42 {
    font-size: 42px;
    font-family: "Helvetica";
}

.b-bte1 {
    border-bottom: 1px solid #e1e1e1;
}


/*placeholder*/

:-moz-placeholder {
    color: #bfbfbf;
}

::-moz-placeholder {
    color: #bfbfbf;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #bfbfbf;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #bfbfbf;
}