@charset "utf-8";

/*********** 关于我们 ***********/
.form-txt { margin:0 20px; line-height:2rem; }
.form-txt .aboutus{ font-size:0.8em !important;  padding:1rem 0; text-indent:2em;-webkit-text-size-adjust:none;color: #555555;}


/*********** 使用帮助 ***********/
.sybz-title{ font-size:1rem !important; line-height:2rem; color:#2b2b2b;-webkit-text-size-adjust:none;}
.sybz-desc{ font-size:0.8rem !important; line-height:1.5rem;-webkit-text-size-adjust:none;}
.sybz-con{ margin-top:0.8rem;}


