@charset "utf-8";
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft Yahei", "微软雅黑", Arial, "Hiragino Sans GB", "宋体";
    color: #555555;
    font-size: 1rem !important;
    line-height: 1.6rem;
    background: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.app-edition {
    font-size: 0.8rem !important;
    text-align: center;
}


/*浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*外边距*/

.mt5 {
    margin-top: 5px;
}

.mt8 {
    margin-top: 8px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}


/*内边距*/

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}


/*溢出隐藏*/

.hiddenCon {
    overflow: hidden;
}


/*圆角*/

.bor_radius2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.bor_radius3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.bor_radius4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bor_radius5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bor_radius10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ol,
ul {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}


/** 文字对齐方式设置 **/

.textRt {
    text-align: right!important;
}

.textLt {
    text-align: left!important;
}

.textCt {
    text-align: center!important;
}


/** 下划线 **/

.fn-udline {
    text-decoration: underline;
}


/** 定位 **/

.posRlt {
    position: relative;
}

.posAb {
    position: absolute;
}


/** 清除浮动 **/

.clear {
    clear: both;
}

.font1 {
    font-size: 1em !important;
}

.font1_1 {
    font-size: 1.1em !important;
}

.font1_2 {
    font-size: 1.2em !important;
}

.font1_4 {
    font-size: 1.4em !important;
}

.font1_6 {
    font-size: 1.6em !important;
}

.font1_8 {
    font-size: 1.8em !important;
}

.font2 {
    font-size: 2em !important;
}

.font0_8 {
    font-size: 0.8em !important;
}

.font0_9 {
    font-size: 0.9em !important;
}

.orange {
    color: #fa7937;
}

.red {
    color: #f8586a;
}

.black {
    color: #000000;
}

.footFixed {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.projectWindowBg {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: 'Microsoft Yahei', 微软雅黑, Arial, 'Hiragino Sans GB', 宋体;
    border: none;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.alertModel {
    display: none;
    z-index: 2;
    width: 90%;
    max-width: 500px;
    min-height: 80px;
    margin: 0px auto;
    padding: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40%;
    border-radius: 5px;
    text-align: center;
    background: rgb(255, 255, 255);
}

.alertModel .alertModelContent {
    position: relative;
    margin: 0.8rem 1rem 0 1rem;
    padding: 0px;
    color: rgb(121, 121, 121);
    font-size: 1rem;
    text-align: center;
    overflow-x: hidden;
}

.alertModel .alertModelContent .alertModelInput {
    padding-left: 1.5%;
    font-weight: 100;
    width: 97.5%;
    background: #fff;
    height: 2rem;
    border: 1px solid #cfd7da;
    border-radius: 3px;
    font-size: 0.9em;
    color: #000;
}

.alertModel .alertModelContent p.alertModelError {
    color: #f8586a;
    text-align: left;
    font-size: 0.9rem;
}

.alertModel .alertModelSubmit {
    color: rgb(255, 255, 255);
    border: none;
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 0.5rem 1.3rem;
    margin: 0.9rem auto;
    cursor: pointer;
    background: rgb(174, 222, 244);
}

.alertModel .alertModelCancel {
    color: rgb(255, 255, 255);
    border: none;
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 0.5rem 1.3rem;
    margin: 0.9rem auto;
    cursor: pointer;
    background: rgb(203, 208, 210);
    margin-left: 0.5rem;
}

.no-record {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #737171;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}