@charset "utf-8";

.index-header a{ display:inline-block; float:right; font-size:0.8rem; color:#2b2b2b; line-height:3rem;}
.wap-banner{ margin: 0 auto; position: relative; width: 100%;overflow: hidden;height:auto;}
.wap-banner ul{width: 500%;height:auto;position: relative;overflow: hidden;}
.wap-banner ul li{width: 20%;height:auto;float:left;}
.wap-banner ul li img{  border: 0 none; display: block; margin: 0 auto; width: 100%;}

.index-wrap{margin: 0 0.6rem 0 0.5rem;}
.wap-sum{ margin-top:1rem;}
.wapsum-1{width:100%; display:inline-block; position: relative;cursor: pointer;background:#fff;}
.wap-sum .sum-title{display: inline-block;width:45%;text-align: center;color:#fff;font-size:1rem;height:2rem;line-height:2rem;margin-top:0.5rem;}
.wapsum-1 .sum-title{background:#f75a47;}
.wap-sum ul{width:100%;margin:0.8rem 0;display:inline-block;}
.wap-sum ul li{display:inline-block;width:33.33%;float:left;text-align:center;}
.wap-sum ul li .list-t{color:#a6a5a4;font-size:0.8rem;}
.wap-sum ul li .list-d{color:#2b2b2b;font-size:1rem;}

.ui-banklsit{ height:7.2rem; width:98.8%; border:1px solid #cfd7da; font-size:0.8em; z-index:100; padding:0.5rem 0 0.5rem 0.5rem; border-radius:3px; position:absolute; top:2.8rem; background:#fff; }
.ui-banklsit li{ cursor:pointer; height:1.8rem; line-height:1.8rem; padding-right:0.5rem; }
.ui-banklsit li:hover{ color:#f8711f; }
.down-icon{ cursor:pointer; width:2rem; height:2.6rem; background:url(../../images/wap/down-icon.png) 9px 12px no-repeat; border-left:1px solid #cfd7da; position:absolute; right:0; top:0px; }

.txtdesc-cn{ padding:0rem 1.2rem 0rem 0.8rem; }
.touzi-con{ padding:0.5rem 0.8rem 1rem 0.8rem;  background:#fff; border:1px solid #fff7f1; margin-top:1rem; border-radius:5px; position:relative; }
.touzi-wrap{ margin:0 0.6rem 0 0.5rem; }
.touzi-title-con{ background:#ffecde; color:#2b2b2b; height:3rem; margin-bottom:0.3rem; text-align:center; padding:0 0.2rem; }
.touzi-title-con a{display:inline-block;text-align:center;max-width:72%;white-space:nowrap;line-height:3rem; overflow:hidden; text-overflow:ellipsis;}
.touzi-title{ font-size:1.2rem; line-height:2rem;color:#2b2b2b;}
.touzi-title:hover{color:#2b2b2b;}

.ui-listbiao{ height:3.4rem;}
.ui-listbiao li{  width:33%; text-align:center; float:left; border-right:1px solid #ececec;}
.ui-listbiao .list-t{ font-size:0.8rem; color:#a6a5a4;}
.ui-listbiao .list-d{ font-size:1rem; color:#2b2b2b;}

.nll-sty{ text-align:center; color:#ec3a17; font-size:0.8rem; line-height:3.9rem;margin-top: 1.1rem;}
.nll-sty span{ font-size:3.4rem;}
.logion-btn{ cursor:pointer; font-weight:100; height:2rem; width:100%; margin-top:1rem; font-size:0.9rem; line-height:2rem; border:1px solid #d4391b; background:#d4391b; text-align:center; border-radius:5px; }
.logion-btn a:hover, .logion-btn a{ color:#fff; }
.tjxm-icon{ width:80px; height:75px; background:url(../../images/wap/tjxm.png) no-repeat; position:absolute; top:0px; left:0; background-size: 100%;}

.manbiao-btn{ background:#d2d3d3 ;cursor:pointer; font-weight:100; height:2rem; width:100%; margin-top:1rem; font-size:0.9rem; line-height:2rem; border:1px solid #d2d3d3 ;text-align:center; border-radius:5px; }
.manbiao-btn a{ color:#fff;}





