@charset "utf-8";

/********************** 投标详情页 *********************/

.form-txt {
    margin: 0 0.8rem 0 0.5rem;
}

.txt-cn {
    position: relative;
    height: 2rem;
    padding: 0rem 1.2rem 0rem 0.8rem;
}

.txtdesc-cn {
    padding: 0rem 1.2rem 0rem 0.8rem;
}

.txt {
    padding-left: 0.5rem;
    font-weight: 100;
    width: 98.8%;
    background: #fff;
    height: 2rem;
    border: 1px solid #cfd7da;
    border-radius: 3px;
    font-size: 0.9em;
    color: #000;
}

.investment-con {
    padding: 1rem 0;
    border: 1px solid #cfd7da;
    margin-top: 0.8rem;
    background: #fff;
}

.biao-title-con {
    height: 1.7rem;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.biao-title {
    font-size: 1.2rem;
    color: #2b2b2b;
    float: left;
}

.biao-time {
    font-size: 0.8rem;
    color: #868686;
}

.biao-state {
    font-size: 0.8rem;
    color: #fa7937;
}

.ui-investment {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.ui-investment li {
    height: 2rem;
    font-size: 0.8rem;
    padding-left: 1rem;
    line-height: 2rem;
    width: 100%;
    color: #2b2b2b;
    float: left;
    border-bottom: 1px solid #f2f2f2;
}

.ui-investment li .ui-tiptitle {
    color: #868686;
    float: left;
    display: inline-block;
    width: 40%;
}

.ui-investment li .jindu {
    position: relative;
    display: inline-block;
    width: 30%;
    float: left;
    height: 0.8rem;
    border-radius: 5px;
    margin-top: 0.6rem;
    background: #BABDBD;
}

.ui-investment li .jinduline {
    position: absolute;
    font-size: 0.7rem;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 20%;
    height: 0.8rem;
    border-radius: 5px 0 0 5px;
    background: #d4391b;
}

.investment-money {
    font-size: 0.8rem;
}

.investment-money .red-num {
    color: #f8586a;
}

.investment-money .blue-num {
    color: #0068b7;
}

.investment-money a {
    margin-left: 2rem;
    color: #0068b7;
}

.logion-btn {
    cursor: pointer;
    font-weight: 100;
    height: 2rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 2rem;
    border: 1px solid #d4391b;
    background: #d4391b;
    text-align: center;
    border-radius: 5px;
}

.logion-btn a:hover,
.logion-btn a {
    color: #fff;
}

.ui-tab {
    height: 2.3rem;
    margin-bottom: 1rem;
}

.ui-tab li {
    float: left;
    font-size: 0.9rem;
    cursor: pointer;
    width: 50%;
    height: 2rem;
    text-align: center;
}

.ui-tab .current {
    border-bottom: 2px solid #e33702;
}

.desc-title {
    font-size: 1rem;
    color: #fa7937;
    line-height: 2rem;
    padding: 0 0.5rem;
}

.desc-desc {
    font-size: 0.8rem;
    line-height: 1.6rem;
    padding: 0 0.5rem;
}

.toubiao-ui li {
    height: 3.5rem;
    border-bottom: 1px solid #e6e5e5;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    padding: 0 0.5rem;
}

.toubiao-ui .toubiao-p {
    height: 1.6rem;
}

.toubiao-ui .toubiao-person {
    display: inline-block;
    float: left;
}

.toubiao-ui .toubiao-num {
    display: inline-block;
    float: right;
}

.toubiao-ui .toubiao-time {
    color: #868686;
}


/********************** 投标列表 *********************/

.tztxt-cn {
    height: 3.7rem;
    position: relative;
    margin-top: 1rem;
}

.tztxt-cn1 {
    height: 2.6rem;
    position: relative;
    margin-top: 1rem;
    border: 1px solid #fa7937;
}

.exclusive {
    margin-bottom: 1.1rem;
}

.tztxt {
    padding-left: 0.5rem;
    font-weight: 100;
    width: 98.8%;
    background: #fff;
    height: 2.5rem;
    border: 1px solid #cfd7da;
    border-radius: 3px;
    font-size: 0.9em;
    color: #000;
}

.ui-banklsit {
    height: 7.2rem;
    width: 98.8%;
    border: 1px solid #cfd7da;
    font-size: 0.8em;
    z-index: 100;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 3px;
    position: absolute;
    top: 2.8rem;
    background: #fff;
}

.ui-banklsit li {
    cursor: pointer;
    height: 1.8rem;
    line-height: 1.8rem;
    padding-right: 0.5rem;
}

.ui-banklsit li:hover {
    color: #f8711f;
}

.down-icon {
    cursor: pointer;
    width: 2rem;
    height: 2.6rem;
    background: url(../../images/wap/down-icon.png) 9px 12px no-repeat;
    border-left: 1px solid #cfd7da;
    position: absolute;
    right: 0;
    top: 0px;
}

.tztxt-cn1 .tab {
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 2.64rem;
    cursor: pointer;
    color: #E43F3F;
}

.tztxt-cn1 .active {
    color: #fff;
    background: #fa7937;
}

.txtdesc-cn {
    padding: 0rem 1rem 0rem 1rem;
}

.touzi-con {
    padding: 0.5rem 0.8rem;
    border: 1px solid #cfd7da;
    background: #fff;
    margin-bottom: 0.8rem;
}

.touzi-wrap {
    margin: 0 0.6rem 0 0.5rem;
}

.touzi-title-con {
    height: 2.6rem;
    margin-bottom: 0.3rem;
}

.touzi-title {
    font-size: 1.2rem;
    float: left;
    line-height: 2rem;
    font-weight: bold;
    max-width: 65%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.touzi-baifenbi {
    font-size: 0.8rem;
    color: #d4391b;
    float: right;
    margin-top: 0.21rem;
    font-weight: bold;
}

.list-jindu {
    position: relative;
    display: inline-block;
    width: 30%;
    float: right;
    height: 0.8rem;
    border-radius: 5px;
    margin-top: 0.6rem;
    background: #BABDBD;
    overflow: hidden;
}

.list-jinduline {
    position: absolute;
    font-size: 0.7rem;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 20%;
    height: 0.8rem;
    border-radius: 5px 0 0 5px;
    background: #d4391b;
}

.ui-listbiao {
    height: 3.4rem;
}

.ui-listbiao li {
    width: 24.5%;
    text-align: center;
    float: left;
    border-right: 1px solid #ececec;
}

.ui-listbiao .list-t {
    font-size: 0.8rem;
    color: #bcbbbb;
}

.ui-listbiao .list-d {
    font-size: 1rem;
    color: #2b2b2b;
}

.page-wap {
    height: 2rem;
}

.page-wap a {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #fa7937;
    color: #fa7937;
    float: right;
    margin-left: 10px;
    border-radius: 3px;
}

.manbiao-btn {
    background: #d2d3d3;
    cursor: pointer;
    font-weight: 100;
    height: 2rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 2rem;
    border: 1px solid #d2d3d3;
    text-align: center;
    border-radius: 5px;
}

.manbiao-btn a {
    color: #fff;
}

.page-wap a.notUse {
    color: #ADA6A2;
    border: 1px solid #ADA6A2;
    cursor: text;
}

.page-wap-two {
    height: 2rem;
}

.page-wap-two a {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #fa7937;
    color: #fa7937;
    float: right;
    margin-left: 10px;
    border-radius: 3px;
}

.page-wap-two a.notUse {
    color: #ADA6A2;
    border: 1px solid #ADA6A2;
    cursor: text;
}

.biao-remarks {
    margin-top: 0.4rem;
    line-height: 1.1rem;
    font-size: 0.8rem;
    padding: 0 1rem;
    color: #BBB9B9;
}

.profit-remarks {
    font-size: 0.9rem;
    color: #BBB9B9;
}