@charset "utf-8";

/******************* 交易记录 **************/

.form-txt {
    margin: 1rem 0.8rem 0 0.5rem;
}

.txt-cn {
    height: 3.7rem;
    position: relative;
}

.txt {
    padding-left: 1.5%;
    font-weight: 100;
    width: 98.5%;
    background: #fff;
    height: 2.5rem;
    border: 1px solid #cfd7da;
    border-radius: 3px;
    font-size: 0.9em;
    color: #000;
}

.ui-banklsit {
    height: 7.2rem;
    width: 97%;
    border: 1px solid #cfd7da;
    font-size: 0.8em;
    z-index: 100;
    padding: 1.5%;
    border-radius: 3px;
    position: absolute;
    top: 2.8rem;
    background: #fff;
}

.ui-banklsit li {
    cursor: pointer;
    height: 1.8rem;
    line-height: 1.8rem;
    padding-right: 0.5rem;
}

.ui-banklsit li:hover {
    color: #f8711f;
}

.down-icon {
    cursor: pointer;
    width: 2rem;
    height: 2.6rem;
    background: url(../../images/wap/down-icon.png) 9px 12px no-repeat;
    border-left: 1px solid #cfd7da;
    position: absolute;
    right: 0;
    top: 0px;
}

.ui-jiaoyi li {
    height: 4.8rem;
    line-height: 1.6rem;
    border-bottom: 1px dashed #cfd7da;
    padding: 0.3rem 0.5rem;
}

.ui-jiaoyi li .jiaoyi-type {
    font-size: 0.9rem;
    color: #2b2b2b;
    float: left;
}

.ui-jiaoyi li .jiaoyi-num {
    font-size: 0.9rem;
    color: #2b2b2b;
    float: right;
}

.ui-jiaoyi li .jiaoyi-num span {
    font-size: 1.5rem;
}

.ui-jiaoyi li .jiaoyi-time,
.ui-jiaoyi li .jiaoyi-lsh {
    float: left;
    font-size: 0.8rem;
    color: #868686;
    padding-right: 1rem;
}

.ui-jiaoyi li .jiaoyi-con {
    height: 1.6rem;
    overflow: hidden;
}

.ui-jiaoyi li .jiaoyi-ok,
.ui-jiaoyi li .jiaoyi-err {
    font-size: 0.8rem;
    float: right;
}

.ui-jiaoyi li .jiaoyi-ok {
    color: #0068b7;
}

.ui-jiaoyi li .jiaoyi-err {
    color: #f8586a;
}


/******************* 投资记录 **************/

.txtdesc-cn {
    padding: 0rem 1.2rem 0rem 0.8rem;
}

.touzi-con {
    padding: 0.5rem 0.8rem;
    border: 1px solid #cfd7da;
    background: #fff;
    margin-bottom: 0.8rem;
}

.touzi-wrap {
    margin: 0 0.6rem 0 0.5rem;
}

.touzi-title-con {
    height: 2.6rem;
    border-bottom: 1px solid #e6e5e5;
    margin-bottom: 0.3rem;
}

.touzi-title {
    font-size: 1.2rem;
    float: left;
    line-height: 2rem;
    font-weight: bold;
}

.hkjh-a,
.ckht-a {
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    margin-top: 0.2rem;
    background: #0068b7;
    color: #fff;
    float: right;
}

.touzi-list {
    font-size: 0.8rem;
    height: 1.8rem;
    line-height: 1.6rem;
}

.touzi-list .touzi-benjin {
    font-size: 1.2rem;
    color: #e33702;
}

.touzi-state {
    color: #9aca40;
    font-size: 0.8rem;
}


/******************* 回款记录 **************/

.blue {
    color: #0068b7;
}

.huikuan-title-con {
    padding: 0.5rem 0.5rem;
    height: 2rem;
}

.hkxx-con {
    height: 9rem;
    background: #0099cc;
    padding: 0.5rem 0.5rem;
}

.hkxx-ui li {
    display: inline-block;
    float: left;
    width: 50%;
}

.hkxx-ui .hkxx-desc {
    font-size: 0.8rem;
    color: #fff;
    line-height: 2rem;
}

.hkxx-ui .hkxx-desc .sum-number {
    font-size: 2.2rem;
}

.hkxxdesc-con {
    background: #fff;
    margin-top: 0.8rem;
}

.hkxxdesc-ui li {
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #b3cfef;
    padding: 0.5rem 0.5rem;
}

.hkxxdesc-ui .hkxxdesc-title {
    background: #f3f9ff;
    height: 1.4rem;
    border-top: 2px solid #b3cfef;
    line-height: 1.4rem;
}

.hkxxdesc-ui .hkxxdesc-title .s-tip {
    color: #868686;
    width: 25%;
    font-size: 0.8rem;
    display: inline-block;
}

.hkxxdesc-ui .hkxxdesc-desc .s-tip {
    width: 25%;
    font-size: 0.8rem;
    display: inline-block;
}

.hkxxdesc-ui .hkxxdesc-title .s-tips {
    width: 50%;
    color: #868686;
    font-size: 0.8rem;
    display: inline-block;
}

.hkxxdesc-ui .hkxxdesc-desc .s-tips {
    width: 50%;
    font-size: 0.8rem;
    display: inline-block;
}

.hkxxdesc-ui .hkxxdesc-desc .num-size {
    font-size: 1.2rem;
    color: #66668f;
}

.hkxxdesc-ui .hkxxdesc-desc .num-color {
    font-size: 1.2rem;
    color: #e33702;
}

.page-wap {
    height: 2rem;
}

.page-wap a {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #fa7937;
    color: #fa7937;
    float: right;
    margin-left: 10px;
    border-radius: 3px;
}

.page-wap a.notUse {
    color: #ADA6A2;
    border: 1px solid #ADA6A2;
    cursor: text;
}