* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a {
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none；
}


/*placeholder*/

:-moz-placeholder {
    color: #cccccc;
    font-size: .28rem;
}

::-moz-placeholder {
    color: #cccccc;
    font-size: .28rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cccccc;
    font-size: .28rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cccccc;
    font-size: .28rem;
}

input {
    outline: none;
    color: #666666;
    background-color: transparent;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../../images/wap/mobile-dowbg.png) no-repeat;
    background-size: cover;
    position: relative;
}

.iphone {
    height: 6.08rem;
    position: absolute;
    top: 2.98rem;
    text-align: center;
    width: 100%;
}

.iphone-pic {
    width: 2.98rem;
    height: 6.08rem;
    background: url(../../images/wap/iPhone.png) no-repeat;
    background-size: contain;
    display: inline-block;
}

.dbtn {
    width: 100%;
    height: .72rem;
    text-align: center;
    position: absolute;
    /*bottom: 1.35rem;*/
    top: 9.4rem;
}

.download-btn {
    width: 2.38rem;
    height: .72rem;
    background: url(../../images/wap/download-btn.png) no-repeat;
    background-size: contain;
    display: inline-block;
}

.iosBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(000, 000, 000, 0.7);
}

.finger {
    width: 5.08rem;
    height: 2.36rem;
    position: absolute;
    left: 1.62rem;
    top: .1rem;
    background: url(../../pictures/appWap/finger.png) no-repeat;
    background-size: contain;
}