@charset "utf-8";
.logo-header{width:100%;border-bottom: 2px solid #fa7937; height:3rem;}
.logo-header .logo{width:28%;border:none;}

.op-header{width:100%; background:#fa7937; height:3rem; position:relative;}
.op-header .logo{width:28%;border:none;}

.op-header p{text-align:center; font-size:1.2rem !important; color:#fff; line-height:3rem;}
.out-icon,.person-icon,.person-icon1{ display:inline-block; width:25px; height:25px;  position:absolute; cursor:pointer;}
.person-icon{  background:url(../../images/wap/person-icon.png) no-repeat; top:0.7rem; right:0.6rem;}
.person-icon1{  background:url(../../images/wap/person-icon1.png) no-repeat; top:0.7rem; right:0.6rem;}
.out-icon{background:url(../../images/wap/out-icon.png) no-repeat; top:0.6rem; left:0.6rem; }

.index-header{width:100%;border-bottom: 2px solid #fff; background:#fff; height:3rem;}
.index-header .logo{height:3rem;border:none;}


/* footer */
.wap-footer{ background:#282e48; margin-top:1rem;}
.wap-footer .kfrx-p{ font-size:0.8rem !important; color:#acb2c8; text-align:center; padding-top:0.5rem;}
.wap-footer .kfrx-p1{ font-size:0.8rem !important; color:#acb2c8; text-align:center; padding-bottom: 0.5rem;}
.footer-btn { text-align:center; padding-top:0.5rem;}
.footer-btn  a{ display:inline-block; margin-left:0.5rem;padding:0 0.5rem; font-size:0.8rem !important; border-radius:3px; border:1px solid #acb2c8; color:#acb2c8;}

/* 开户温馨提示 */
.wxts-p{ line-height:1rem; font-size:0.7rem !important; padding:0 0.5rem;}


