@charset "utf-8";
/* CSS Document */


.form-txt { margin:0 20px; line-height:2rem; }
.form-txt h1{ font-size:1.5em; text-align:center; padding:10px 0;}
.form-txt h3{ font-size:1em;}
.xy-desc{ font-size:1em; text-indent:2em; margin-bottom:30px;}
.xy-tk li{ position:relative;}
.xy-tk li span{ display:inline-block; position:absolute;top: 0; left: 0;width:40px;text-align:left;float:left;}
.xy-tk li p{ display:inline-block;margin-left:42px;}

