.wrap{background:#fff;height:100%;}
.section{width:100%;height:100%;}
.slide{width:100%;height:100%;position: relative;}
.slide1{background:url("../../images/wap/minisite-1.png") center center no-repeat;background-size:cover; }
.slide2{background:url("../../images/wap/minisite-3.png") center center no-repeat;background-size:cover; }
.slide3{background:url("../../images/wap/minisite-4.jpg") center center no-repeat;background-size:cover; }
.fp-prev,.fp-next{display:none !important;}
.fp-slidesNav.bottom{bottom:5px !important;}
.fp-slidesNav ul li a span{background:#C83F3F !important;}
.slide1 a{width:42%;max-width:280px;display: inline-block;position: absolute;margin:0 auto;left:0;right:0;bottom:6%;}
.slide1 a img{width:100%;border:none;}
.contentSub{width:100%;display:inline-block; position: relative;}
.contentSub img{width:100%;border:0;float: left;}
.contentSub .sub{position: absolute;left:2%;top:2.2%;width:96.3%;height:95.3%;}
.contentSub .sub ul li{float: left;width:22.5%; margin-top: 2.5%;margin-left: 2%;}
.contentSub .sub ul li.btn-bg{width:47%;}
.contentSub .sub ul li .img-con{display: inline-block;position: relative;width: 100%;height: 100%;float: left;}
.contentSub .sub ul li .img-con2{margin-top:10%;}
.contentSub .sub ul li em.cut-ceng{border:3px solid #ffff00;position: absolute;width:100%;height:100%;top:-3px;left:-3px;}
.btn-bg p{width:100%;}
.btn-bg p a img{width:80%;margin-top: 12%;margin-left:auto;margin-right:auto;float:none;}
.txt-tzjh{text-align: center;color: #400408;letter-spacing: 1px;font-size:0.7rem;}
.txt-tzjh span{color: #ef0839;font-size: 1.2rem;}
.txt-des{text-align:center;font-size:0.8rem;line-height:1rem;}
.slide2 .title{color:#de4337;text-align:center;font-size: 1.2rem;margin-bottom:0.4rem;}
.slide2 .describe{width:92%; margin:-4px 4% 0 4%; padding:2px 5px; border:1px dashed #f5bfa3;color:#de4337;font-size: 0.8rem;box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.slide3 a{position:absolute;width:45%;height:20%;left:0;bottom:10%;}