body{background:#fff;}
img{width:100%;border: none;}
.txt{width:94%;margin:0 3%;}
h1{color:#23b0f0;text-align:center;font-size:1.1rem;margin:0.7rem 0;}
h2{color:#23b0f0;text-align:left;font-size:1rem;margin:0.4rem 0;}
h3{color:#1ab3f9;text-align:left;font-size:0.8rem;}
h4{color:#1eb2f5;text-align:left;font-size:0.8rem;}
p{color:#3f4040;font-size:0.8rem;line-height:1.5rem;}