@charset "utf-8";
.wrap{background:#e6e6e6;}
.content{width:100%;padding-top:7px;}
.content .sub{color:#C3BFBF;width:94%;padding:0 3%;height:2.8rem;line-height:2.8rem;margin-bottom:6px;background:#fff;font-size:0.95rem;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.content .sub.unread{color:#000;}
.content .sub span{cursor:pointer;}
.content .sub input{margin-right:0.3rem;cursor:pointer;display:none;}
.content .bottons{display:none;}
.content .bottons a{color:#1A51DF;margin-left:3%;cursor:pointer;}
.page-wap{ height:2rem;margin-right:5px;}
.page-wap a{ display:inline-block; padding:0 0.5rem; font-size:0.8rem; border:1px solid #fa7937; color:#fa7937; float:right; margin-left:10px; border-radius:3px;}
.page-wap a.notUse{color:#ADA6A2;border: 1px solid #ADA6A2;cursor: text;}
.bianji{position: absolute;top: 0;right: 0;display: inline-block;height: 3rem;line-height: 3rem;margin-right: 0.8rem;color: #FFF;cursor: pointer;}
.quxiao{position: absolute;top: 0;right: 0;display: none;height: 3rem;line-height: 3rem;margin-right: 0.8rem;color: #FFF;cursor: pointer;}

/*详情*/
.content .details{color:#000;width:94%;margin:0.6rem 3% 0 3%;font-size:0.95rem;}