.sylogo{
	margin-left:30px;
}
.sylogo span{
	margin-left:10px;
}
#jiathis_weixin_share{
	text-align:center !important;
	width:100% !important;
	height:100% !important;
	top:0;
	overflow: hidden !important;
}
#jiathis_weixin_share #jiathis_weixin_modal{
	width:280px !important;
	height:395px !important;
	margin-left:auto !important;
	margin-right:auto !important;
	left:0 !important;
	right:0 !important;
	position:relative !important;
}
#jiathis_weixin_modal .jiathis_modal_header h3{text-align:center;}

/* 邀请记录 */
.inviteRecord{width:100%;margin:0;padding:0;margin-top:2px;}
.inviteRecord li{width:100%;height:30px;line-height:30px;}
.inviteRecord li.recordTitle{height:36px;line-height:36px;}
.inviteRecord li span{display:inline-block;float:left; width:33.33%;text-align:center;font-size:0.85rem;border-bottom: 1px solid #ccc;}
.inviteRecord li span.registerTime{width:33%;}
.inviteRecord li.recordTitle span{font-size:0.9rem;color:#000;background:#ccc;height:36px;line-height:36px;}
.page-wap { height:2rem;}
.page-wap a{ line-height:1.4rem;display:inline-block; padding:0 0.4rem; font-size:0.8rem; border:1px solid #fa7937; color:#fa7937; float:right; margin-left:10px; border-radius:3px;}
.page-wap a.notUse{color:#ADA6A2;border: 1px solid #ADA6A2;cursor: text;}


/********************** 投资推荐记录 *********************/
.content{ margin:0 0.5rem 0 0.5rem; }
.tabList{ height:2rem; position:relative; margin-top:1rem; border:1px solid #fa7937;}
.tabList .tab{display:inline-block;width:50%;height:2rem;line-height: 2rem;text-align:center;cursor: pointer;color:#E43F3F;}
.tabList .active{color:#fff;background:#fa7937;}
.couponList{margin-top:0.7rem;}
.couponList .couponMode{width:100%;}
.couponList .couponMode .couponSub{width:96%;margin:0.5% 2%;position:relative;}
.couponList .couponMode .couponSub img{width:100%;}
.couponList .couponMode .couponSub .couponTitle{display:inline-block; width:13%;height:95%;position:absolute;left:0;top:0;z-index:1;color:#fff;text-align:center;}
.couponList .couponMode .couponSub .couponTime{display:inline-block; width:87%;height:27.5%;position:absolute;right:0;top:67%;z-index:1;color:#fff;text-align:center;font-size:0.9rem;}
.couponList .couponMode .couponSub .couponMoney{display:inline-block;position:absolute;left:18%;top:22%;color:#fff;}
.couponList .couponMode .couponSub .couponMoney span{font-size:2rem;}
.couponList .couponMode .couponSub p{line-height:130%;}
.yellowColor{color:#fcdd37;}
.redColor{color:#d96a7b;}


/********************** 实物奖励记录 *********************/
.physicalRecord{width:100%;margin:0;padding:0;margin-top:2px;}
.physicalRecord li{width:100%;height:30px;line-height:30px;}
.physicalRecord li.recordTitle{height:36px;line-height:36px;}
.physicalRecord li span{display:inline-block;float:left; width:22.25%;text-align:center;font-size:0.85rem;border-bottom: 1px solid #ccc;}
.physicalRecord li span.registerTime{width:33%;}
.physicalRecord li.recordTitle span{font-size:0.9rem;color:#000;background:#ccc;height:36px;line-height:36px;}
.page-wap { height:2rem;}
.page-wap a{ line-height:1.4rem;display:inline-block; padding:0 0.4rem; font-size:0.8rem; border:1px solid #fa7937; color:#fa7937; float:right; margin-left:10px; border-radius:3px;}
.page-wap a.notUse{color:#ADA6A2;border: 1px solid #ADA6A2;cursor: text;}

