.op-header p{margin-left:auto;margin-right:auto;font-size:1.1rem !important;}
.content{width:100%;}
.content img{width:100%;border:none;}
.content p{font-size:0.9rem;line-height:1.5rem;margin:0.5rem 0.4rem 0.7rem 0.4rem;}