@charset "utf-8";

.content{margin:0 0.8rem 0 0.5rem;margin-top:20px;text-align:center;}
.content div div.inlineDiv{display:inline-block;width:47.2%;margin:1.5% 1%;max-width:170px;overflow: hidden;position: relative;}
.content div div img{border:none;width:100%;}
.content div div p.effectiveTime{position: absolute;bottom:5%;left:0;width:100%;text-align:center;font-size:0.7rem;}
.content div div p.validity-wsy{color:#313131;}
.content div div p.validity-ygq{color:#949494;}
.content .content-txt{text-align:left;margin-top:10px;line-height:1.6rem;font-size:0.9rem;margin-left:3%;}
.content .content-txt .rule-title{font-size:0.95rem;font-weight: bold;margin-bottom: 8px;}