@charset "utf-8";
/************************** 4.0升级 **************************/
.wrap{background:#fda700;}
.hide{ display:none;}
.fl{ float:left;}
.fr{ float:right;}
.ztbg{  width:100%; margin:0 auto; position: relative;}
.ztbg img{ display: block;border: 0;margin: 0 auto;width: 100%;}
.cont-txt{  margin: 0 1rem 0 1rem; border:1px dashed #fff; padding-bottom:1rem;}
.txt-desc,.red-txt,.write-txt{font-size:0.8rem; padding:0 0.8rem 0 0.8rem;  line-height:1.8rem;}
.txt-desc{ color:#fff;}
.red-txt{ color:#ec283a; margin-top:1rem;}
.write-txt{ color:#fff;  margin-top:1rem;}

/************************** 投资送大奖 **************************/
.tzsdj{ background:#6fc8e6;width:100%;max-width: 640px;min-width: 320px;margin-left: auto;margin-right: auto;}
.tzsdj-title{  margin: 0 1rem 0 2rem; color:#f1e25f; font-size:1.2rem; line-height:3rem;}
.tzsdj-con{  margin: 0 1rem 0 1rem; border:1px dashed #fff; border-radius:0.3rem; background:#5eacc7;}
.tzsdj-con table{ width:100%;}
.tzsdj-con table .the td{ font-size:1.2rem; color:#f1e25f; text-align:center;}
.tzsdj-con table tr td{ font-size:1rem; color:#fff; padding:0.8rem 0.3rem; border-bottom:1px dashed #40778a; border-right:1px dashed #40778a;}
.tzs-desc{ color:#fff; font-size:1rem; line-height:2rem; padding:0 0.8rem 0 0.8rem; }
.tzs-txt,.tzsw-txt{font-size:1rem;margin: 0 1rem 0 2rem; line-height:1.8rem;}
.tzs-txt{color:#f1e25f; padding-top:0.5rem;}
.tzsw-txt{ color:#fff; padding-bottom:1rem;}









