@charset "utf-8";
/* CSS Document */

.wrap{width:100%; height:100%;margin-left: auto;margin-right: auto; color:#1a1a19;}
*{ margin:0; padding:0;}
.baibao-banner img{ width:100%; display:block;}
.bg{ background:url(../images/icon.png) no-repeat;}
.baibao-sina{  margin:0 3%; }
.g-content { background:#fdeb88; }
.sina-con{ width:100%; height:100%; padding-bottom:1.8rem; border:1px solid #e60012; background:#fff799;  overflow:hidden;  margin-top:1rem;}
.sina-desc{ width:96%; padding:0 2%;}
.sina-con p{ text-align:center; color:#fa381e;}
.sysjb-table{ width:100%; border-top:2px solid #fa381e;}
.sysjb-table tr th,.sysjb-table tr td{ text-align:center;border-bottom:1px solid #fa381e;  padding: 0.3rem 0 0.3rem 2%;}
.sina-t,.sina-d,.sysjb-title,.sina-wmhz,.sina-wm-d{ color:#fa2a0f;}
.sina-t{ font-size:0.8rem; margin-top:3rem;}
.sina-d{ font-size:1.6rem; margin-top:1rem;}
.sina-con ul { margin-top:1rem;}
.sina-con ul li{ font-size:0.8rem; margin-left:5%;}
.sina-t-t{ margin-top:1.7rem;}
.sysjb-title{ padding:1rem 0;}
.sina-wmhz{ line-height:4.4rem;}
.sina-wm-d{ line-height:2rem; padding-bottom:3.5rem;}
.qxlcz-btn { display:inline-block; padding-bottom:2rem; }
.qxlcz-btn img{width:90%; max-width:340px; display:block; margin:0 auto;}
.baibao-sina p{ font-weight:600;}
