<?xml version="1.0" encoding="UTF-8"?>
<settins>
	<category id="common">
		<test_or_product>0</test_or_product><!-- 0测试1生产 -->
		<coreTransUrl>http://core.baibao.com:8080/core-app/service/bbtrans/transDispatcher</coreTransUrl><!-- 核心交易请求地址 -->
		<sinaOrderTestUrl>https://testgate.pay.sina.com.cn/mas/gateway.do</sinaOrderTestUrl><!--  新浪测试地址用户 收单网关-->
		<sinaMemTestUrl>https://testgate.pay.sina.com.cn/mgs/gateway.do</sinaMemTestUrl><!--  新浪测试地址 商户(平台)会员网关-->

		<sinaOrderProductUrl>https://gate.pay.sina.com.cn/mas/gateway.do</sinaOrderProductUrl><!-- 新浪生产地址 用户  收单网关-->
		<sinaMemProductUrl>https://gate.pay.sina.com.cn/mgs/gateway.do</sinaMemProductUrl><!-- 新浪生产地址商户(平台) 会员网关-->
		<sinaTestKeyMD5>1234567890qwertyuiopasdfghjklzxc</sinaTestKeyMD5><!-- 新浪测试密钥-->
		<sinaProductKeyMD5></sinaProductKeyMD5><!-- 新浪生产密钥-->
		
		<!--测试  -->
		<sinaTestKeyRSA>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCBpueNweMbYdb+CMl8dUNv5g5THYLD9Z33cAMA4GNjmPYsbcNQLyO5QSlLNjpbCwopt7b5lFP8TGLUus4x0Ed6S4Wd9KmNw6NLbszNEmppP9HXlT9sT4/ShL0CpVF4ofFS8O/gXwCTJjYZJ0HvK3GBTSP2C9WlipTpWQ+9QJugewIDAQAB</sinaTestKeyRSA><!-- 新浪测试密钥-->
		<sinaTestSendKeyRSA>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAO/6rPCvyCC+IMalLzTy3cVBz/+wamCFNiq9qKEilEBDTttP7Rd/GAS51lsfCrsISbg5td/w25+wulDfuMbjjlW9Afh0p7Jscmbo1skqIOIUPYfVQEL687B0EmJufMlljfu52b2efVAyWZF9QBG1vx/AJz1EVyfskMaYVqPiTesZAgMBAAECgYEAtVnkk0bjoArOTg/KquLWQRlJDFrPKP3CP25wHsU4749t6kJuU5FSH1Ao81d0Dn9m5neGQCOOdRFi23cV9gdFKYMhwPE6+nTAloxI3vb8K9NNMe0zcFksva9c9bUaMGH2p40szMoOpO6TrSHO9Hx4GJ6UfsUUqkFFlN76XprwE+ECQQD9rXwfbr9GKh9QMNvnwo9xxyVl4kI88iq0X6G4qVXo1Tv6/DBDJNkX1mbXKFYL5NOW1waZzR+Z/XcKWAmUT8J9AkEA8i0WT/ieNsF3IuFvrIYG4WUadbUqObcYP4Y7Vt836zggRbu0qvYiqAv92Leruaq3ZN1khxp6gZKl/OJHXc5xzQJACqr1AU1i9cxnrLOhS8m+xoYdaH9vUajNavBqmJ1mY3g0IYXhcbFm/72gbYPgundQ/pLkUCt0HMGv89tn67i+8QJBALV6UgkVnsIbkkKCOyRGv2syT3S7kOv1J+eamGcOGSJcSdrXwZiHoArcCZrYcIhOxOWB/m47ymfE1Dw/+QjzxlUCQCmnGFUO9zN862mKYjEkjDN65n1IUB9Fmc1msHkIZAQaQknmxmCIOHC75u4W0PGRyVzq8KkxpNBq62ICl7xmsPM=</sinaTestSendKeyRSA>
		<sinaTestReturnKeyRSA>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDv0rdsn5FYPn0EjsCPqDyIsYRawNWGJDRHJBcdCldodjM5bpve+XYb4Rgm36F6iDjxDbEQbp/HhVPj0XgGlCRKpbluyJJt8ga5qkqIhWoOd/Cma1fCtviMUep21hIlg1ZFcWKgHQoGoNX7xMT8/0bEsldaKdwxOlv3qGxWfqNV5QIDAQAB</sinaTestReturnKeyRSA>
		
		<!-- 生产-->
		<sinaProductKeyRSA>+pV3F4YIXKLUwSl5UgCdb4sUZl/jd9vxmmuH0++u/</sinaProductKeyRSA>
		<sinaProductSendKeyRSA>/DgryhrDONSScBIpNCmty3DJq+FhEAdBVSVaPFVmYyZgKNeF5ph0HgpUe2FWL2a6X54V5LF11p4Qe5o/xdEOqVTZZoASDx43z0+kxAE1t1ufh+ZhTV4LqtbIn9cw+ZnId0EI8zdD1sqqnqHcHMebQVerXpkBuZKozFAxAgMBAAECgYBQjMLKzkeBqrMLHd6OMiJguQYqUIHy7QmulOJ8FEap9ncFbOf9qKb6y1lXwugfQcSdtlHMDME0zuFk5GSROzdDwi4dqLsqLQ/O0HKLPjB41flC1GGHn8eiXxKKus2neQQm5KdFB1oJFV7PgHBd/46yJeFnKcUyTojmVAQ+i6HLuQJBAPVS2MLiFkGRkBK2qPkDBZ4lzPBF7Aawx6F3RABW4+Jo1QK09fJYMzbn1jzecmYPdVfSctvL6OKar6ndqjuIhicCQQDFbnnD8copIHLZOGKYVHkW4AlRPSN4LylneRZ0I6Y1b1ys3ORw20iegB0CyZp+UYoF06JSFvwi45y9/VFob4XnAkEAkVVANsvLlZKPgJaXqdWBeXw5WcqClkAaM+y861qObG3ga1cbMTPRO2DDCZJawV29DYcOJmo5kC1FjeNU2yn5FwJBAIWXGEtuuwUTEMNMtOIwHnNNCuDuhqaW+uQp+fiB+sAjZ0kMeoKmzj95nqe5NJGOqN8Ccc4sAVW2P+QKmWAaPjcCQQC5KMn5bcbZxqfjs4nnzjtqiZSQx5w5oMNe/RFbv2miiBFGIg6+Xl1ARusPLu3srSNAJKUoVWVGizHIiwN6t3Vd</sinaProductSendKeyRSA>
		<sinaProductReturnKeyRSA>+PLa/Mwbt1+aHyXUzWxKngZqAnUwHe17j8HQwM+/MeohIVbPNtYzZppqZ1lf/KY5OwA0lvagOsB1Xx38ka9GGSvRsL8OGrepBhjPk1TLZB3EhFXhqI79lhQLBS2pRZXvwAN+E1gHAuhD/wIDAQAB</sinaProductReturnKeyRSA>
		<sinaPlatformId></sinaPlatformId><!-- 新浪平台商户号--><!--200014294911生产  测试  200004227922-->
		
		<workId>0</workId>
		
		<!-- 合同保全测试 -->
		<service_urlTest>http://sandbox.api.ebaoquan.org/services</service_urlTest><!-- 服务地址 -->
		<app_keyTest>a1450f06d2987d9c</app_keyTest>
		<app_secretTest>2a67eca505bb6eeaeafa103eb6c1fdf3</app_secretTest>
		<!-- 合同保全生产 -->
		<service_url>http://api.ebaoquan.org/services</service_url><!-- 服务地址 -->
		<app_key>cfc745f9135c7ec5</app_key>
		<app_secret>580c91228f47292d4d29d01bd2c77082</app_secret>
		
		<!-- 佰宝金融合同生成地址 -->
		<quanzibe_hetongAddress>/opt/tomcat8080/logs/baibaojr/loancontract/</quanzibe_hetongAddress>
		<!-- 易宝全合同生成地址 -->
		<yibaoquan_hetongAddress>/opt/tomcat8080/logs/yibaoquan/loancontract/</yibaoquan_hetongAddress>
	</category>
	
</settins>