<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:amq="http://activemq.apache.org/schema/core"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/jms
    http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
    http://activemq.apache.org/schema/core
    http://activemq.apache.org/schema/core/activemq-core-5.9.0.xsd">
	 
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
    <property name="targetConnectionFactory" ref="jmsConnectionFactory"></property>
    </bean>
    
    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>tcp://192.168.1.110:61616</value>
                </property>
    </bean>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory" />
        <property name="receiveTimeout" value="60000"></property>
    </bean>
    
	<!-- 自定义监听器-->
	<bean id="myMessageListener" class="com.baibao.core.jms.receive.ConsumerMessageListener"/> 

    <!-- 发送消息的目的地（队列） -->
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">       
        <!-- 设置消息队列的名字 -->       
        <constructor-arg index="0" value="queue"/>       
    </bean>
     <!-- 发送消息的目的地（主题） -->
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">       
        <!-- 设置消息主题的名字 -->       
        <constructor-arg index="0" value="topic"/>       
    </bean>
    
	<!-- 消息消费者 start-->

    <!-- 定义Queue监听器 -->
<!--     <jms:listener-container destination-type="queue" container-type="default" connection-factory="connectionFactory" acknowledge="auto"> -->
<!--         <jms:listener destination="queue" ref="myMessageListener"/> -->
<!--     </jms:listener-container> -->
    

<!--     定义Topic监听器 -->
<!--     <jms:listener-container destination-type="topic" container-type="default" connection-factory="connectionFactory" acknowledge="auto"> -->
<!--         <jms:listener destination="topic" ref="myMessageListener"/> -->
<!--     </jms:listener-container> -->

    
    <!-- 自定义适配器 -->
    <bean id="messageListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">  
    <property name="delegate" ref="myMessageListener"></property>
<!--     <property name="messageConverter" ref="myMessageConverter"/>   -->
	</bean> 
	 
<!-- 消息监听适配器对应的监听容器 -->  
	<bean id="messageListenerAdapterContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	    <property name="connectionFactory" ref="connectionFactory"/>  
	    <property name="destination" ref="queueDestination"/>  
	    <property name="messageListener" ref="messageListenerAdapter"/>
	</bean> 
    
</beans>
