<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<!-- 统计平台注册人数 -->
	<bean id="platformCountRegisterUserTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
				<property name="targetObject" ref="countRegisterUserService"/>
				<property name="targetMethod" value="countRegisterUser" />
				<property name="concurrent" value="true" />
			</bean>
		</property> 
		<property name="cronExpression" value="0 0/30 * * * ?" />  
	</bean>
	
	<!-- 红包失效状态跑批 -->
	<bean id="updateRedenvelopeMatureTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
				<property name="targetObject" ref="usersRedenvelopeRepository"/>
				<property name="targetMethod" value="updateRedenvelopeMature" />
				<property name="concurrent" value="true" />
			</bean>
		</property> 
		<property name="cronExpression" value="1 0 0 * * ?" />  
	</bean>
	
	<!--  调度总控 -->  
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
		<property name="triggers">  
			<list>  
				<ref bean="platformCountRegisterUserTrigger" /> 
				<ref bean="updateRedenvelopeMatureTrigger" />   
			</list>  
		</property>  
	</bean>  
</beans>